{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "EPİAŞ - GÜNİÇİ Servisleri"
  },
  "host": "gunici-prp.epias.com.tr",
  "basePath": "/gunici-trading-service",
  "tags": [
    {
      "name": "collateral"
    },
    {
      "name": "contract"
    },
    {
      "name": "dashboard"
    },
    {
      "name": "offer"
    },
    {
      "name": "parameter"
    },
    {
      "name": "report"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/rest/v1/collateral/get": {
      "get": {
        "tags": [
          "collateral"
        ],
        "summary": "Aktif Teminat Bilgisi",
        "description": "Sistemde geçerli olan aktif teminat bilgisini dönen servistir.",
        "operationId": "get-collateral",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseCollateralOrgDto"
            }
          }
        }
      }
    },
    "/rest/v1/collateral/history/export": {
      "post": {
        "tags": [
          "collateral"
        ],
        "summary": "Teminat Geçmiş Dışarı Aktarma",
        "description": "Geçmiş tarihlerde geçerli olan teminat bilgisini excel ile dışarı aktarma servisi.",
        "operationId": "export-active-contract",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CollateralHistoryExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/collateral/history/list": {
      "post": {
        "tags": [
          "collateral"
        ],
        "summary": "Teminat Geçmiş Listeleme",
        "description": "Geçmiş tarihlerde geçerli olan teminat bilgisinin verildiği servistir.",
        "operationId": "list-history-collateral",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CollateralHistoryReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseCollateralHistoryRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/block-contract/available-time": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Blok Kontrat Geçerli Süre Listeleme",
        "description": "Blok kontratların geçerli sürelerinin listelendiği servis.",
        "operationId": "list-block-contract-available-time-list",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ListBlockContractAvailableTimesReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseListBlockContractAvailableTimesRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/board/list": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Aktif Kontrat Listeleme",
        "description": "Aktif kontratların listelendiği servis",
        "operationId": "list-active-contract",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ListActiveContractReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseContractBoardResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/board/list/export": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Aktif Kontrat Dışa Aktarma",
        "description": "Aktif kontratların dışa aktarıldığı servis",
        "operationId": "export-list-active-contract",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ListActiveContractExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/contract/depth": {
      "post": {
        "tags": [
          "contract"
        ],
        "summary": "Kontrat Derinliği",
        "description": "Kontrat derinliğinin listelendiği servis.",
        "operationId": "list-contract-depths",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GetOfferDepthDetailReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrderDepthDetailResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/remaining-limits": {
      "post": {
        "tags": [
          "dashboard"
        ],
        "summary": "Kalan Limitler Grafiği",
        "description": "Kalan Limitler Grafiği Servisi",
        "operationId": "list-org-remaining-limits",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationLimitChartReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationLimitChartRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/remaining-limits/export": {
      "post": {
        "tags": [
          "dashboard"
        ],
        "summary": "Kalan Limitler Grafiği",
        "description": "Kalan Limitler Grafiği Servisi",
        "operationId": "export-org-remaining-limits",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationLimitChartReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/offer/block/save": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Blok Teklif Kaydetme",
        "description": "Blok tekliflerin kaydediliği servis",
        "operationId": "save-block-offer",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferBlockSaveReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferSaveOrUpdateResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/bulk/hourly/save": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Saatlik Teklif Kaydetme",
        "description": "Saatlik tekliflerin kaydedileceği servis",
        "operationId": "save-bulk-hourly-offer",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferBulkSaveReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferBulkSaveRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/bulk/hourly/validate": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Saatlik Teklif Kaydetme",
        "description": "Saatlik tekliflerin kaydedileceği servis",
        "operationId": "save-hourly-offer-validate",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferBulkValidateRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/cancel-by-contract": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Kontrat Bazında Teklif İptal Etme",
        "description": "Kontratta bulunan güncellenebilir durumdaki tüm teklifleri iptal eder.",
        "operationId": "cancel-all-offer",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CancelOfferByContractReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseCancelOfferByContractRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/hourly/save": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Saatlik Teklif Kaydetme",
        "description": "Saatlik tekliflerin kaydedileceği servis",
        "operationId": "save-hourly-offer",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferHourlySaveReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferSaveOrUpdateResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/list": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Aktif Teklif Listeleme",
        "description": "Sistemde aktif olarak eşleşmeyi bekleyen tekliflerin listelendiği servis",
        "operationId": "list-offers",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferListResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/status/update": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Teklif Durum Güncelleme",
        "description": "Tekliflerin aktiflik pasiflik gibi durumlarının güncelleneceği servis",
        "operationId": "update-status-offer",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferStatusUpdateReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferSaveOrUpdateResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/update": {
      "post": {
        "tags": [
          "offer"
        ],
        "summary": "Teklif Güncelleme",
        "description": "Tekliflerin fiyat ve miktar bilgisinin güncelleneceği servis",
        "operationId": "update-offer",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferUpdateReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferSaveOrUpdateResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/parameter/approved/list": {
      "post": {
        "tags": [
          "parameter"
        ],
        "summary": "Sistem Parametreleri",
        "description": "Sistemde aktif olan parametreleri döner.",
        "operationId": "list-parameter",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ParameterPKReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseParameterPaginationPKRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/parameter/group/list": {
      "get": {
        "tags": [
          "parameter"
        ],
        "summary": "Parametre Grup",
        "description": "Parametrelerin ait olduğu grup listesini dönen servis",
        "operationId": "list-parameter-group",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseParameterGroupRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/parameter/list": {
      "post": {
        "tags": [
          "parameter"
        ],
        "summary": "Sistem Parametreleri",
        "description": "Sistemde aktif olan parametreleri döner.",
        "operationId": "list-parameter",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ParameterUserReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseParameterPaginationRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/parameter/time": {
      "get": {
        "tags": [
          "parameter"
        ],
        "summary": "Sistem zaman bilgisi",
        "description": "Sistem zaman bilgisi",
        "operationId": "system-time",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLocalDateTimeDto"
            }
          }
        }
      }
    },
    "/rest/v1/report/block-contract-summary": {
      "post": {
        "tags": [
          "report"
        ],
        "summary": "Blok Kontrat Özet Raporu",
        "description": "Blok Kontrat Özet Raporu",
        "operationId": "list-block-contract-summary",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BlockContractSummaryReportListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBlockContractSummaryReportListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/report/block-contract-summary/export": {
      "post": {
        "tags": [
          "report"
        ],
        "summary": "Aktif Kontrat Dışa Aktarma",
        "description": "Aktif kontratların dışa aktarıldığı servis",
        "operationId": "export-block-contract-summary",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BlockContractSummaryReportExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/report/match-summary": {
      "post": {
        "tags": [
          "report"
        ],
        "summary": "Eşleşme Özet Raporu",
        "description": "Eşleşme özet rapor servisi.",
        "operationId": "list-match-offer-summary",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferSummaryReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMatchOfferSummaryResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/report/match-summary/export": {
      "post": {
        "tags": [
          "report"
        ],
        "summary": "Eşleşme Özet Raporu",
        "description": "Eşleşme Özet Raporu",
        "operationId": "export-match-offer-summary",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferSummaryReqExcelDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/report/offer-summary": {
      "post": {
        "tags": [
          "report"
        ],
        "summary": "Teklif Özet Raporu",
        "description": "Teklif özet rapor servisi.",
        "operationId": "list-offer-summary",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferSummaryReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOfferSummaryResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/report/offer-summary/export": {
      "post": {
        "tags": [
          "report"
        ],
        "summary": "Teklif Özet Raporu",
        "description": "Teklif özet rapor servisi.",
        "operationId": "export-offer-summary",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OfferSummaryReqExportDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BaseDto": {
      "type": "object"
    },
    "BlockContractAvailableTimeDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "lastTransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Kontrat üzerinde işlem yapılabilecek son işlem zaman bilgisi"
        }
      }
    },
    "BlockContractSummaryDetailDto": {
      "type": "object",
      "properties": {
        "contractName": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "mcp": {
          "type": "number",
          "description": "OPTF"
        },
        "averagePrice": {
          "type": "number",
          "description": "AOF"
        },
        "buyQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Alış Miktarı"
        },
        "sellQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Satış Miktarı"
        },
        "netStatus": {
          "type": "integer",
          "format": "int64",
          "description": "Net Durum"
        },
        "buyAmount": {
          "type": "number",
          "description": "Alış Tutar"
        },
        "sellAmount": {
          "type": "number",
          "description": "Satış Tutar"
        },
        "netAmount": {
          "type": "number",
          "description": "Net Tutar"
        },
        "priceChangeRate": {
          "type": "number",
          "description": "FDO (%)"
        },
        "lastPrice": {
          "type": "number",
          "description": "Son Fiyat"
        },
        "lastQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Son Miktar"
        },
        "maxPrice": {
          "type": "number",
          "description": "Maks Fiyat"
        },
        "minPrice": {
          "type": "number",
          "description": "Min Fiyat"
        },
        "maxQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Maks Miktar"
        },
        "minQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Min Miktar"
        },
        "volume": {
          "type": "integer",
          "format": "int64",
          "description": "İşlem Miktarı"
        },
        "total": {
          "type": "number",
          "description": "İşlem Hacmi"
        },
        "organizationName": {
          "type": "string"
        }
      }
    },
    "BlockContractSummaryReportExportReqDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Başlangıç tarihi"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Bitiş tarihi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon id bilgisi"
        }
      }
    },
    "BlockContractSummaryReportListReqDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart",
        "pageInfo"
      ],
      "properties": {
        "pageInfo": {
          "description": "Sayfalama bilgisi",
          "$ref": "#/definitions/PageDto"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Başlangıç tarihi"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Bitiş tarihi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon id bilgisi"
        }
      }
    },
    "BlockContractSummaryReportListRespDto": {
      "type": "object",
      "properties": {
        "queryInformation": {
          "description": "Sorgu sonucu toplam kayıt bilgileri.",
          "$ref": "#/definitions/QueryInformationDto"
        },
        "blockContractSummaryDetailDto": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BlockContractSummaryDetailDto"
          }
        }
      }
    },
    "BoardInformationDto": {
      "type": "object",
      "properties": {
        "volume": {
          "type": "integer",
          "format": "int64",
          "description": "Kontrat İşlem Miktarı"
        },
        "total": {
          "type": "number",
          "description": "Kontrat İşlem Hacmi"
        },
        "maxPrice": {
          "type": "number",
          "description": "Eşleşme Göstergeleri - Maksimum Fiyat"
        },
        "minPrice": {
          "type": "number",
          "description": "Eşleşme Göstergeleri - Minimum Fiyat"
        },
        "maxQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Eşleşme Göstergeleri - Maksimum Miktar"
        },
        "minQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Eşleşme Göstergeleri - Minimum Miktar"
        },
        "lastPrice": {
          "type": "number",
          "description": "Son Fiyat"
        },
        "lastQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Son Miktar"
        },
        "priceChangeRate": {
          "type": "number",
          "description": "Fiyat Değişim Oranı (FDO)"
        },
        "averagePrice": {
          "type": "number",
          "description": "Ağırlıklı Ortamala Fiyat (AOF)"
        },
        "mcp": {
          "type": "number",
          "description": "Piyasa Takas Fiyatı (PTF)"
        },
        "lastPriceStatus": {
          "type": "integer",
          "format": "int64",
          "description": "Son Fiyat Artış Durumu"
        }
      }
    },
    "CancelOfferByContractReqDto": {
      "type": "object",
      "required": [
        "contractName",
        "region"
      ],
      "properties": {
        "contractName": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        }
      }
    },
    "CancelOfferByContractRespDto": {
      "type": "object",
      "properties": {
        "warningMessage": {
          "type": "string",
          "description": "Teklif sonrası TEO veya TGS limitlerinize ulaşmanız durumunda bu alanda uyarı mesajı gelecektir."
        },
        "offerIds": {
          "type": "array",
          "description": "İptal Edilen Tekliflerin Id Bilgisi",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "CollateralHistoryExportReqDto": {
      "type": "object",
      "required": [
        "effectiveDateStart"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teminat bilgisinin geçerlilik başlangıç tarihi"
        }
      }
    },
    "CollateralHistoryReqDto": {
      "type": "object",
      "required": [
        "effectiveDateStart",
        "pageInfo"
      ],
      "properties": {
        "pageInfo": {
          "description": "Sayfalama bilgisi",
          "$ref": "#/definitions/PageDto"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teminat bilgisinin geçerlilik başlangıç tarihi"
        }
      }
    },
    "CollateralHistoryRespDto": {
      "type": "object",
      "properties": {
        "queryInformation": {
          "description": "Sorgu sonucu toplam kayıt bilgileri.",
          "$ref": "#/definitions/QueryInformationDto"
        },
        "histories": {
          "type": "array",
          "description": "Teminat Geçmişi",
          "items": {
            "$ref": "#/definitions/CollateralOrgDto"
          }
        }
      }
    },
    "CollateralOrgDto": {
      "type": "object",
      "properties": {
        "eic": {
          "type": "string"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon id bilgisi"
        },
        "organization": {
          "type": "string",
          "description": "Organizasyon ad bilgisi"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teminat bilgisinin geçerlilik başlangıç tarihi"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teminat bilgisinin geçerlilik bitiş tarihi"
        },
        "status": {
          "description": "Teminat durum bilgisi",
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "requiredCashCollateral": {
          "type": "number",
          "description": "Gerekli nakit teminat bilgisi"
        },
        "requiredTotalCollateral": {
          "type": "number",
          "description": "Gerekli toplam teminat bilgisi"
        },
        "availableCashCollateral": {
          "type": "number",
          "description": "Mevcut nakit teminat bilgisi"
        },
        "availableTotalCollateral": {
          "type": "number",
          "description": "Mevcut toplam teminat bilgisi"
        },
        "requiredNetCollateral": {
          "type": "number",
          "description": "Gerekli net teminat bilgisi"
        },
        "participationStatus": {
          "description": "Organizasyonun GİP katılım durum bilgisi",
          "$ref": "#/definitions/KeyValueDtoString"
        }
      }
    },
    "ContractBoardDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "deliveryDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Fiziki Teslimat Başlangıç Saati"
        },
        "deliveryDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Fiziki Teslimat Bitiş Saati"
        },
        "duration": {
          "type": "number",
          "description": "Kontratın kapsadığı saat miktar bilgisi"
        },
        "lastTransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Kontrat üzerinde işlem yapılabilecek son işlem zaman bilgisi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "contractType": {
          "description": "Kontrat tipi",
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "contractKind": {
          "description": "Kontrat Türü",
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "status": {
          "description": "Kontrat durum bilgisi",
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "organizationStatus": {
          "description": "Organizasyonun Kontrat Bilgileri",
          "$ref": "#/definitions/OrganizationNetStatusDto"
        },
        "organizationNetStatusLimit": {
          "description": "Organizasyon Net Durum Limiti",
          "$ref": "#/definitions/OrganizationNetStatusLimit"
        },
        "bestOffer": {
          "description": "En İyi Teklifler",
          "$ref": "#/definitions/OrganizationBestOfferDto"
        },
        "boardInformation": {
          "description": "Kontrat Bilgileri",
          "$ref": "#/definitions/BoardInformationDto"
        },
        "bestSellPrice": {
          "type": "number",
          "description": "En İyi Satış Fiyatı"
        },
        "bestSellQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "En İyi Satış Miktarı"
        },
        "priceGap": {
          "type": "number",
          "description": "Fiyat Farkı"
        },
        "bestBuyPrice": {
          "type": "number",
          "description": "En İyi Alış Fiyatı"
        },
        "bestBuyQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "En İyi Alış Miktarı"
        },
        "orderDepth": {
          "type": "array",
          "description": "Kontrat Derinliği",
          "items": {
            "$ref": "#/definitions/OrderDepthContractItemDto"
          }
        }
      }
    },
    "ContractBoardResponseDto": {
      "type": "object",
      "properties": {
        "contracts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContractBoardDto"
          }
        },
        "closedContracts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContractBoardDto"
          }
        }
      }
    },
    "ContractDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Kontrat id bilgisi"
        },
        "name": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "deliveryDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teslim saat bilgisi"
        },
        "deliveryDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teslim saat bilgisi"
        },
        "duration": {
          "type": "number",
          "description": "Kontratın kapsadığı saat miktar bilgisi"
        },
        "lastTransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Kontrat üzerinde işlem yapılabilecek son işlem zaman bilgisi"
        },
        "contractType": {
          "description": "Kontrat tipi",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "contractKind": {
          "description": "Kontrat Türü",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "status": {
          "description": "Kontrat durum bilgisi",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "region": {
          "description": "Bölge bilgisi",
          "$ref": "#/definitions/LabelValueDTO"
        }
      }
    },
    "DepthDto": {
      "type": "object",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Miktar Bilgisi"
        },
        "isOwner": {
          "type": "boolean",
          "description": "Teklifin sahibi iseniz true dönmektedir."
        },
        "offerId": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin tekil id bilgisi."
        }
      }
    },
    "GetOfferDepthDetailReqDto": {
      "type": "object",
      "required": [
        "contractName",
        "contractType",
        "pageInfo",
        "region"
      ],
      "properties": {
        "pageInfo": {
          "description": "Sayfalama bilgisi",
          "$ref": "#/definitions/PageDto"
        },
        "contractName": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "contractType": {
          "type": "string",
          "description": "Kontrat tipi",
          "enum": [
            "HOURLY",
            "BLOCK",
            "PRIVATE"
          ]
        },
        "isExcludeChart": {
          "type": "boolean",
          "description": "true gönderilmesi durumunda grafiğe ait verileri dönmektedir."
        }
      }
    },
    "KeyValueDto": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "$ref": "#/definitions/Serializable"
        }
      }
    },
    "KeyValueDtoInteger": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "KeyValueDtoString": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "LabelValueDTO": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ListActiveContractExportReqDto": {
      "type": "object",
      "required": [
        "contractType"
      ],
      "properties": {
        "contractType": {
          "type": "string",
          "description": "Kontrat tipi",
          "enum": [
            "HOURLY",
            "BLOCK",
            "PRIVATE"
          ]
        },
        "contractKind": {
          "type": "string",
          "description": "Kontrat tipi",
          "enum": [
            "HOURLY",
            "BLOCK",
            "SEMI",
            "QUARTER"
          ]
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        }
      }
    },
    "ListActiveContractReqDto": {
      "type": "object",
      "required": [
        "contractType"
      ],
      "properties": {
        "contractType": {
          "type": "string",
          "description": "Kontrat tipi",
          "enum": [
            "HOURLY",
            "BLOCK",
            "PRIVATE"
          ]
        },
        "contractKind": {
          "type": "string",
          "description": "Kontrat tipi",
          "enum": [
            "HOURLY",
            "BLOCK",
            "SEMI",
            "QUARTER"
          ]
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        }
      }
    },
    "ListBlockContractAvailableTimesReqDto": {
      "type": "object",
      "properties": {
        "deliveryDate": {
          "type": "string",
          "format": "date",
          "description": "Teslim saat bilgisi"
        },
        "startTime": {
          "type": "integer",
          "format": "int32",
          "description": "Blok kontrat başlangıç saati. [00,23]"
        },
        "endTime": {
          "type": "integer",
          "format": "int32",
          "description": "Blok kontrat bitiş saati. [01,24]"
        }
      }
    },
    "ListBlockContractAvailableTimesRespDto": {
      "type": "object",
      "properties": {
        "contract": {
          "$ref": "#/definitions/BlockContractAvailableTimeDto"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "startTimeLookup": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueDtoInteger"
          }
        },
        "endTimeLookup": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValueDtoInteger"
          }
        }
      }
    },
    "LocalDateTimeDto": {
      "type": "object",
      "properties": {
        "now": {
          "type": "string",
          "format": "date-time",
          "description": "Sistem Saat Bilgisi"
        }
      }
    },
    "LocalizationDto": {
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Dil Bilgisi (TR: Türkçe , EN: İnglizce)"
        },
        "description": {
          "type": "string",
          "description": "İlgili tanımın türkçe veya ingilizce açıklaması"
        }
      }
    },
    "MatchOfferSummaryDetailDto": {
      "type": "object",
      "properties": {
        "contractType": {
          "description": "Kontrat tipi",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teslim saat bilgisi"
        },
        "mcp": {
          "type": "number",
          "description": "Piyasa Takas Fiyatı (PTF)"
        },
        "buyMatchingQuantity": {
          "type": "number",
          "description": "Sistem Alış Miktarı (SAM)"
        },
        "buyMatchingAmount": {
          "type": "number",
          "description": "Sistem Alış Tutarı (SAT)"
        },
        "buyAveragePrice": {
          "type": "number",
          "description": "Alış Teklif AOF"
        },
        "buyMatchingAveragePrice": {
          "type": "number",
          "description": "Alış Eşleşme AOF"
        },
        "sellAveragePrice": {
          "type": "number",
          "description": "Satış Teklif AOF"
        },
        "sellMatchingAveragePrice": {
          "type": "number",
          "description": "Satış Eşleşme AOF"
        },
        "sellMatchingAmount": {
          "type": "number",
          "description": "Sistem Satış Tutarı (SST)"
        },
        "sellMatchingQuantity": {
          "type": "number",
          "description": "Sistem Satış Miktarı (SSM)"
        }
      }
    },
    "MatchOfferSummaryDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teslim saat bilgisi"
        },
        "mcp": {
          "type": "number",
          "description": "Piyasa Takas Fiyatı (PTF)"
        },
        "buyMatchingQuantity": {
          "type": "number",
          "description": "Sistem Alış Miktarı (SAM)"
        },
        "buyMatchingAmount": {
          "type": "number",
          "description": "Sistem Alış Tutarı (SAT)"
        },
        "buyAveragePrice": {
          "type": "number",
          "description": "Alış Teklif AOF"
        },
        "buyMatchingAveragePrice": {
          "type": "number",
          "description": "Alış Eşleşme AOF"
        },
        "sellAveragePrice": {
          "type": "number",
          "description": "Satış Teklif AOF"
        },
        "sellMatchingAveragePrice": {
          "type": "number",
          "description": "Satış Eşleşme AOF"
        },
        "sellMatchingAmount": {
          "type": "number",
          "description": "Sistem Satış Tutarı (SST)"
        },
        "sellMatchingQuantity": {
          "type": "number",
          "description": "Sistem Satış Miktarı (SSM)"
        },
        "details": {
          "type": "array",
          "description": "Kontrat Bazında Eşleşme Özet Raporu",
          "items": {
            "$ref": "#/definitions/MatchOfferSummaryDetailDto"
          }
        }
      }
    },
    "MatchOfferSummaryResponseDto": {
      "type": "object",
      "properties": {
        "queryInformation": {
          "description": "Sorgu sonucu toplam kayıt bilgileri.",
          "$ref": "#/definitions/QueryInformationDto"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchOfferSummaryDto"
          }
        }
      }
    },
    "ModelAndView": {
      "type": "object",
      "properties": {
        "view": {
          "$ref": "#/definitions/View"
        },
        "model": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "status": {
          "type": "string",
          "enum": [
            "CONTINUE",
            "SWITCHING_PROTOCOLS",
            "PROCESSING",
            "CHECKPOINT",
            "OK",
            "CREATED",
            "ACCEPTED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NO_CONTENT",
            "RESET_CONTENT",
            "PARTIAL_CONTENT",
            "MULTI_STATUS",
            "ALREADY_REPORTED",
            "IM_USED",
            "MULTIPLE_CHOICES",
            "MOVED_PERMANENTLY",
            "FOUND",
            "MOVED_TEMPORARILY",
            "SEE_OTHER",
            "NOT_MODIFIED",
            "USE_PROXY",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT",
            "BAD_REQUEST",
            "UNAUTHORIZED",
            "PAYMENT_REQUIRED",
            "FORBIDDEN",
            "NOT_FOUND",
            "METHOD_NOT_ALLOWED",
            "NOT_ACCEPTABLE",
            "PROXY_AUTHENTICATION_REQUIRED",
            "REQUEST_TIMEOUT",
            "CONFLICT",
            "GONE",
            "LENGTH_REQUIRED",
            "PRECONDITION_FAILED",
            "PAYLOAD_TOO_LARGE",
            "REQUEST_ENTITY_TOO_LARGE",
            "URI_TOO_LONG",
            "REQUEST_URI_TOO_LONG",
            "UNSUPPORTED_MEDIA_TYPE",
            "REQUESTED_RANGE_NOT_SATISFIABLE",
            "EXPECTATION_FAILED",
            "I_AM_A_TEAPOT",
            "INSUFFICIENT_SPACE_ON_RESOURCE",
            "METHOD_FAILURE",
            "DESTINATION_LOCKED",
            "UNPROCESSABLE_ENTITY",
            "LOCKED",
            "FAILED_DEPENDENCY",
            "UPGRADE_REQUIRED",
            "PRECONDITION_REQUIRED",
            "TOO_MANY_REQUESTS",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "INTERNAL_SERVER_ERROR",
            "NOT_IMPLEMENTED",
            "BAD_GATEWAY",
            "SERVICE_UNAVAILABLE",
            "GATEWAY_TIMEOUT",
            "HTTP_VERSION_NOT_SUPPORTED",
            "VARIANT_ALSO_NEGOTIATES",
            "INSUFFICIENT_STORAGE",
            "LOOP_DETECTED",
            "BANDWIDTH_LIMIT_EXCEEDED",
            "NOT_EXTENDED",
            "NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "empty": {
          "type": "boolean"
        },
        "reference": {
          "type": "boolean"
        },
        "modelMap": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "viewName": {
          "type": "string"
        }
      }
    },
    "OfferBlockSaveReqDto": {
      "type": "object",
      "required": [
        "contractName",
        "isActive",
        "offerType",
        "optionType",
        "price",
        "quantity",
        "region"
      ],
      "properties": {
        "price": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif miktar bilgisi"
        },
        "contractName": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "offerType": {
          "type": "string",
          "description": "Teklifin yön bilgisi (Alış,Satış)",
          "enum": [
            "BUY",
            "SELL"
          ]
        },
        "optionType": {
          "type": "string",
          "description": "Teklifin opsiyon bilgisi",
          "enum": [
            "NORMAL",
            "IOC",
            "FOK",
            "PRICE_LEVELED",
            "ICEBERG",
            "TIME_LEVELED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Teklifin açıklaması (En fazla 1024 karakter girilebilir)"
        },
        "isActive": {
          "type": "boolean",
          "description": "Teklifin durum bilgisi"
        },
        "expireTime": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Süreli teklifin iptal olacağı tarih bilgisi"
        },
        "isConfirmed": {
          "type": "boolean",
          "description": "Bu alan *true* gönderilmesi durumunda kullanıcı limitleri aşmanıza izin verir."
        },
        "clientOrderId": {
          "type": "string"
        }
      }
    },
    "OfferBulkSaveDetailDto": {
      "type": "object",
      "properties": {
        "offerId": {
          "type": "integer",
          "format": "int64"
        },
        "region": {
          "type": "string"
        },
        "contractName": {
          "type": "string"
        },
        "offerType": {
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "quantity": {
          "type": "integer",
          "format": "int64"
        },
        "price": {
          "type": "number"
        },
        "status": {
          "type": "boolean"
        },
        "error": {
          "type": "string"
        },
        "clientOrderId": {
          "type": "string"
        }
      }
    },
    "OfferBulkSaveDto": {
      "type": "object",
      "required": [
        "contractName",
        "offerType",
        "optionType",
        "price",
        "quantity",
        "region"
      ],
      "properties": {
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "contractName": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "offerType": {
          "type": "string",
          "description": "Teklifin yön bilgisi (Alış,Satış)",
          "enum": [
            "BUY",
            "SELL"
          ]
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif miktar bilgisi"
        },
        "price": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "optionType": {
          "type": "string",
          "description": "Teklifin opsiyon bilgisi",
          "enum": [
            "NORMAL",
            "IOC",
            "FOK",
            "PRICE_LEVELED",
            "ICEBERG",
            "TIME_LEVELED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Teklifin açıklaması (En fazla 1024 karakter girilebilir)"
        },
        "clientOrderId": {
          "type": "string"
        },
        "levelQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Buzdağı Seviye Miktarı"
        }
      }
    },
    "OfferBulkSaveReqDto": {
      "type": "object",
      "properties": {
        "offers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OfferBulkSaveDto"
          }
        }
      }
    },
    "OfferBulkSaveRespDto": {
      "type": "object",
      "properties": {
        "offers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OfferBulkSaveDetailDto"
          }
        }
      }
    },
    "OfferBulkValidateDto": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string"
        },
        "contractName": {
          "type": "string"
        },
        "offerType": {
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "quantity": {
          "type": "integer",
          "format": "int64"
        },
        "price": {
          "type": "number"
        },
        "optionType": {
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "type": "boolean"
        },
        "error": {
          "type": "string"
        },
        "offerId": {
          "type": "integer",
          "format": "int64"
        },
        "clientOrderId": {
          "type": "string"
        },
        "levelQuantity": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "OfferBulkValidateRespDto": {
      "type": "object",
      "properties": {
        "offers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OfferBulkValidateDto"
          }
        }
      }
    },
    "OfferHourlySaveReqDto": {
      "type": "object",
      "required": [
        "contractName",
        "isActive",
        "offerType",
        "optionType",
        "price",
        "quantity",
        "region"
      ],
      "properties": {
        "price": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif miktar bilgisi"
        },
        "contractName": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "offerType": {
          "type": "string",
          "description": "Teklifin yön bilgisi (Alış,Satış)",
          "enum": [
            "BUY",
            "SELL"
          ]
        },
        "optionType": {
          "type": "string",
          "description": "Teklifin opsiyon bilgisi",
          "enum": [
            "NORMAL",
            "IOC",
            "FOK",
            "PRICE_LEVELED",
            "ICEBERG",
            "TIME_LEVELED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Teklifin açıklaması (En fazla 1024 karakter girilebilir)"
        },
        "isActive": {
          "type": "boolean",
          "description": "Teklifin durum bilgisi"
        },
        "expireTime": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Süreli teklifin iptal olacağı tarih bilgisi"
        },
        "isConfirmed": {
          "type": "boolean",
          "description": "Bu alan *true* gönderilmesi durumunda kullanıcı limitleri aşmanıza izin verir."
        },
        "clientOrderId": {
          "type": "string"
        },
        "timeLeveledOfferDetails": {
          "type": "array",
          "description": "Zaman seviyeli teklif opsiyonunda gönderilmesi zorunldur.Diğer teklif opsiyonlarında gönderilmemesi gerekmektedir.",
          "items": {
            "$ref": "#/definitions/OfferTimeLeveledSaveDto"
          }
        },
        "priceLeveledOfferDetails": {
          "type": "array",
          "description": "Fiyat seviyeli teklif opsiyonunda gönderilmesi zorunldur.Diğer teklif opsiyonlarında gönderilmemesi gerekmektedir.",
          "items": {
            "$ref": "#/definitions/PriceLeveledOfferDetailSaveDto"
          }
        },
        "levelQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Buzdağı Seviye Miktarı"
        }
      }
    },
    "OfferListResponseDto": {
      "type": "object",
      "properties": {
        "offers": {
          "type": "array",
          "description": "Teklif Listesi",
          "items": {
            "$ref": "#/definitions/OfferRespDto"
          }
        }
      }
    },
    "OfferRespDto": {
      "type": "object",
      "properties": {
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "İşlem zamanı"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin tekil id bilgisi."
        },
        "contractName": {
          "type": "string",
          "description": "Kontrat ismi"
        },
        "contract": {
          "description": "Kontrat bilgisi",
          "$ref": "#/definitions/ContractDto"
        },
        "offerType": {
          "description": "Teklifin yön bilgisi (Alış,Satış)",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "status": {
          "description": "Teklifin durum bilgisi",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "statusDetail": {
          "description": "Teklifin durum bilgisi",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "price": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif miktar bilgisi"
        },
        "remainingQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin kalan miktar bilgisi"
        },
        "remainingIcebergQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Buzdağının aktif olacak toplam miktar bilgisi"
        },
        "levelQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Buzdağı Seviye Miktarı"
        },
        "matchingPrice": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "matchingQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif miktar bilgisi"
        },
        "description": {
          "type": "string",
          "description": "Teklifin açıklaması (En fazla 1024 karakter girilebilir)"
        },
        "username": {
          "type": "string",
          "description": "Kullanıcı ad bilgisi"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "optionType": {
          "description": "Teklifin opsiyon bilgisi",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "Versiyon"
        },
        "expireTime": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Süreli teklifin iptal olacağı tarih bilgisi"
        },
        "clientOrderId": {
          "type": "string",
          "description": "Müşteri tarafından her bir teklif için verilen tekil teklif numarası (tekillik müşteri tarafından sağlanmalıdır)."
        }
      }
    },
    "OfferResponseDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin tekil id bilgisi."
        },
        "remainingQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin kalan miktar bilgisi"
        },
        "status": {
          "type": "string",
          "description": "Teklifin durum bilgisi",
          "enum": [
            "ACTIVE",
            "PASSIVE",
            "MATCHING",
            "CANCEL"
          ]
        },
        "statusDetail": {
          "type": "string",
          "description": "Teklifin durum bilgisi",
          "enum": [
            "YE",
            "GU",
            "PA",
            "KE",
            "ZA",
            "TY",
            "KA",
            "IP",
            "TE",
            "IK",
            "SH",
            "KI"
          ]
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "Versiyon"
        }
      }
    },
    "OfferSaveOrUpdateResponseDto": {
      "type": "object",
      "properties": {
        "warningMessage": {
          "type": "string",
          "description": "Teklif sonrası TEO veya TGS limitlerinize ulaşmanız durumunda bu alanda uyarı mesajı gelecektir."
        },
        "offerResponse": {
          "description": "Teklif Cevap Bilgisi",
          "$ref": "#/definitions/OfferResponseDto"
        }
      }
    },
    "OfferStatusUpdateReqDto": {
      "type": "object",
      "required": [
        "id",
        "status"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin tekil id bilgisi."
        },
        "status": {
          "type": "string",
          "description": "Teklifin durum bilgisi",
          "enum": [
            "ACTIVE",
            "PASSIVE",
            "MATCHING",
            "CANCEL"
          ]
        }
      }
    },
    "OfferSummaryDetailDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teslim saat bilgisi"
        },
        "contractType": {
          "description": "Kontrat tipi",
          "$ref": "#/definitions/LabelValueDTO"
        },
        "buyOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Alış Teklif Sayısı"
        },
        "buyOfferQuantity": {
          "type": "number",
          "description": "Teklif Edilen Alış Miktarı"
        },
        "buyAcceptedOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Kabul Edilen Alış Teklif Sayısı"
        },
        "buyMatchingQuantity": {
          "type": "number",
          "description": "Sistem Alış Miktarı (SAM)"
        },
        "buyOfferMatchingRate": {
          "type": "number",
          "description": "Alış Teklif Eşleşme Oranı"
        },
        "sellOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Satış Teklif Sayısı"
        },
        "sellOfferQuantity": {
          "type": "number",
          "description": "Teklif Edilen Satış Miktarı"
        },
        "sellAcceptedOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Kabul Edilen Satış Teklif Sayısı"
        },
        "sellMatchingQuantity": {
          "type": "number",
          "description": "Sistem Satış Miktarı (SSM)"
        },
        "sellOfferMatchingRate": {
          "type": "number",
          "description": "Satış Teklif Eşleşme Oranı"
        }
      }
    },
    "OfferSummaryDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teslim saat bilgisi"
        },
        "buyOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Alış Teklif Sayısı"
        },
        "buyOfferQuantity": {
          "type": "number",
          "description": "Teklif Edilen Alış Miktarı"
        },
        "buyAcceptedOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Kabul Edilen Alış Teklif Sayısı"
        },
        "buyMatchingQuantity": {
          "type": "number",
          "description": "Sistem Alış Miktarı (SAM)"
        },
        "buyOfferMatchingRate": {
          "type": "number",
          "description": "Alış Teklif Eşleşme Oranı"
        },
        "sellOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Satış Teklif Sayısı"
        },
        "sellOfferQuantity": {
          "type": "number",
          "description": "Teklif Edilen Satış Miktarı"
        },
        "sellAcceptedOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "Kabul Edilen Satış Teklif Sayısı"
        },
        "sellMatchingQuantity": {
          "type": "number",
          "description": "Sistem Satış Miktarı (SSM)"
        },
        "sellOfferMatchingRate": {
          "type": "number",
          "description": "Satış Teklif Eşleşme Oranı"
        },
        "details": {
          "type": "array",
          "description": "Kontrat Türü Detayı",
          "items": {
            "$ref": "#/definitions/OfferSummaryDetailDto"
          }
        }
      }
    },
    "OfferSummaryReqDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart",
        "pageInfo",
        "region"
      ],
      "properties": {
        "pageInfo": {
          "description": "Sayfalama bilgisi",
          "$ref": "#/definitions/PageDto"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Fiziki Teslimat Başlangıç Saati"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Fiziki Teslimat Bitiş Saati"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "sortingInfoDto": {
          "$ref": "#/definitions/SortingOfferSummaryDto"
        }
      }
    },
    "OfferSummaryReqExcelDto": {
      "type": "object",
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time"
        },
        "region": {
          "type": "string"
        },
        "sortingInfoDto": {
          "$ref": "#/definitions/SortingOfferSummaryDto"
        }
      }
    },
    "OfferSummaryReqExportDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart",
        "region"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Fiziki Teslimat Başlangıç Saati"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Fiziki Teslimat Bitiş Saati"
        },
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "sortingInfoDto": {
          "$ref": "#/definitions/SortingOfferSummaryDto"
        }
      }
    },
    "OfferSummaryResponseDto": {
      "type": "object",
      "properties": {
        "queryInformation": {
          "description": "Sorgu sonucu toplam kayıt bilgileri.",
          "$ref": "#/definitions/QueryInformationDto"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OfferSummaryDto"
          }
        }
      }
    },
    "OfferTimeLeveledSaveDto": {
      "type": "object",
      "required": [
        "activationTime",
        "orderNo",
        "price"
      ],
      "properties": {
        "orderNo": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif Sıra Numarası"
        },
        "price": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "activationTime": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teklifin aktif olacağı zaman bilgisi"
        }
      }
    },
    "OfferUpdateReqDto": {
      "type": "object",
      "required": [
        "id",
        "price",
        "quantity"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin tekil id bilgisi."
        },
        "price": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif miktar bilgisi"
        },
        "description": {
          "type": "string",
          "description": "Teklifin açıklaması (En fazla 1024 karakter girilebilir)"
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "Versiyon"
        },
        "isConfirmed": {
          "type": "boolean",
          "description": "Bu alan *true* gönderilmesi durumunda kullanıcı limitleri aşmanıza izin verir."
        }
      }
    },
    "OrderChartDepthDto": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "price": {
          "type": "number",
          "description": "Fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Miktar Bilgisi"
        }
      }
    },
    "OrderDepthContractDto": {
      "type": "object",
      "properties": {
        "price": {
          "type": "number",
          "description": "Fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Miktar Bilgisi"
        }
      }
    },
    "OrderDepthContractItemDto": {
      "type": "object",
      "properties": {
        "buyOrderDepth": {
          "description": "Alış Teklif Derinliği",
          "$ref": "#/definitions/OrderDepthContractDto"
        },
        "sellOrderDepth": {
          "description": "Satış Teklif Derinliği",
          "$ref": "#/definitions/OrderDepthContractDto"
        }
      }
    },
    "OrderDepthDetailDto": {
      "type": "object",
      "properties": {
        "orderDepth": {
          "type": "array",
          "description": "Alış teklif derinlik bilgisi",
          "items": {
            "$ref": "#/definitions/OrderDepthItemDto"
          }
        },
        "buyOrderDepthChart": {
          "type": "array",
          "description": "Alış tekliflerin arz/talep derinlik bilgisi",
          "items": {
            "$ref": "#/definitions/OrderChartDepthDto"
          }
        },
        "sellOrderDepthChart": {
          "type": "array",
          "description": "Satış tekliflerin arz/talep derinlik bilgisi",
          "items": {
            "$ref": "#/definitions/OrderChartDepthDto"
          }
        },
        "priceGap": {
          "type": "number",
          "description": "Fiyat Farkı"
        }
      }
    },
    "OrderDepthDetailResponseDto": {
      "type": "object",
      "properties": {
        "queryInformation": {
          "description": "Sorgu sonucu toplam kayıt bilgileri.",
          "$ref": "#/definitions/QueryInformationDto"
        },
        "orderDepthDetails": {
          "description": "Teklif derinliği listesi.",
          "$ref": "#/definitions/OrderDepthDetailDto"
        }
      }
    },
    "OrderDepthDto": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        },
        "price": {
          "type": "number",
          "description": "Fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Miktar Bilgisi"
        },
        "isOwner": {
          "type": "boolean",
          "description": "Teklifin sahibi iseniz true dönmektedir."
        },
        "details": {
          "type": "array",
          "description": "İlgili teklif derinliğindeki teklif listesi.",
          "items": {
            "$ref": "#/definitions/DepthDto"
          }
        }
      }
    },
    "OrderDepthItemDto": {
      "type": "object",
      "properties": {
        "buyOrderDepth": {
          "description": "Alış teklif derinlik bilgisi",
          "$ref": "#/definitions/OrderDepthDto"
        },
        "sellOrderDepth": {
          "description": "Satış teklif derinlik bilgisi",
          "$ref": "#/definitions/OrderDepthDto"
        }
      }
    },
    "OrganizationBestOfferDto": {
      "type": "object",
      "properties": {
        "buyOffer": {
          "description": "Alış En İyi Teklif",
          "$ref": "#/definitions/OrganizationOfferDto"
        },
        "sellOffer": {
          "description": "Satış En İyi Teklif",
          "$ref": "#/definitions/OrganizationOfferDto"
        }
      }
    },
    "OrganizationLimitChartDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Teslim saat bilgisi"
        },
        "remainingBuyQuantity": {
          "type": "number",
          "description": "Alış Yönünde Kalan Miktar"
        },
        "remainingBuyRatio": {
          "type": "number",
          "description": "Alış Yönünde Kalan Oran"
        },
        "remainingSellQuantity": {
          "type": "number",
          "description": "Satış Yönünde Kalan Miktar"
        },
        "remainingSellRatio": {
          "type": "number",
          "description": "Alış Yönünde Kalan Oran"
        }
      }
    },
    "OrganizationLimitChartReqDto": {
      "type": "object",
      "required": [
        "region"
      ],
      "properties": {
        "region": {
          "type": "string",
          "description": "Bölge bilgisi"
        }
      }
    },
    "OrganizationLimitChartRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrganizationLimitChartDto"
          }
        }
      }
    },
    "OrganizationNetStatusDto": {
      "type": "object",
      "properties": {
        "buyQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon Alış Miktarı"
        },
        "buyAmount": {
          "type": "number",
          "description": "Organizasyon Alış Tutarı"
        },
        "sellQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon Satış Miktarı"
        },
        "sellAmount": {
          "type": "number",
          "description": "Organizasyon Satış Tutarı"
        },
        "netAmount": {
          "type": "number",
          "description": "Organizasyon Net Tutarı"
        },
        "netQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon Net Durum"
        },
        "remainingBuyNetQuantity": {
          "type": "number",
          "description": "Kalan Saatlik Alış"
        },
        "remainingSellNetQuantity": {
          "type": "number",
          "description": "Kalan Saatlik Satış"
        },
        "otr": {
          "type": "number",
          "description": "Teklif Eşleşme Oranı (TEO)"
        },
        "offerCount": {
          "type": "integer",
          "format": "int64",
          "description": "İlgili kontratdaki TEO konu toplam teklif hareket sayısı."
        },
        "matchingOfferCount": {
          "type": "integer",
          "format": "int64",
          "description": "İlgili kontratdaki TEO konu toplam eşleşme sayısı."
        },
        "tgs": {
          "type": "integer",
          "format": "int64",
          "description": "${ORGANIZATION_TGS}"
        }
      }
    },
    "OrganizationNetStatusLimit": {
      "type": "object",
      "properties": {
        "buyQuantity": {
          "type": "number",
          "description": "Kalan Net Alış Limit"
        },
        "sellQuantity": {
          "type": "number",
          "description": "Kalan Net Satış Limit"
        }
      }
    },
    "OrganizationOfferDto": {
      "type": "object",
      "properties": {
        "offerId": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin tekil id bilgisi."
        },
        "price": {
          "type": "number",
          "description": "Fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklifin kalan miktar bilgisi"
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "Versiyon"
        },
        "description": {
          "type": "string",
          "description": "Teklifin açıklaması (En fazla 1024 karakter girilebilir)"
        },
        "remainingIcebergQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Buzdağının aktif olacak toplam miktar bilgisi"
        },
        "isUpdatable": {
          "type": "boolean",
          "description": "Güncellenebilir Durumu"
        },
        "levelQuantity": {
          "type": "integer",
          "format": "int64",
          "description": "Buzdağı Seviye Miktarı"
        }
      }
    },
    "PageDto": {
      "type": "object",
      "required": [
        "page",
        "size"
      ],
      "properties": {
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "Her bir sayfada bulunacak kayıt sayısı"
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "İstenilen sayfa numarası"
        }
      }
    },
    "ParameterGroupDto": {
      "type": "object",
      "properties": {
        "localizations": {
          "type": "array",
          "description": "İlgili parametrelerin türkçe veya ingilizce açıklaması",
          "items": {
            "$ref": "#/definitions/LocalizationDto"
          }
        },
        "key": {
          "description": "Parametre grup bilgisi",
          "$ref": "#/definitions/KeyValueDtoString"
        }
      }
    },
    "ParameterGroupRespDto": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "description": "Parametre Grup Listesi",
          "items": {
            "$ref": "#/definitions/ParameterGroupDto"
          }
        }
      }
    },
    "ParameterPKReqDto": {
      "type": "object",
      "required": [
        "pageInfo",
        "parameterGroupType",
        "parameterStatus"
      ],
      "properties": {
        "parameterStatus": {
          "type": "string",
          "description": "Parametrenin geçerlilik durum bilgisi",
          "enum": [
            "EFFECTIVE",
            "WILL_EFFECTIVE",
            "EXPIRED",
            "PENDING_TO_CONFIRM"
          ]
        },
        "parameterKey": {
          "type": "string",
          "description": "Parametre anahtar değer bilgisi ve ismi"
        },
        "parameterGroupType": {
          "type": "string",
          "description": "Parametrenin ait olduğu grup bilgisi",
          "enum": [
            "CONFIGURATION",
            "CONTRACT",
            "OBJECTION_MAIL",
            "OFFER_LIMIT",
            "PROCESS_PARAMETER"
          ]
        },
        "pageInfo": {
          "description": "Sayfalama bilgisi",
          "$ref": "#/definitions/PageDto"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ParameterPKRespDto": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Parametre anahtar değer bilgisi ve ismi",
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "value1": {
          "type": "string",
          "description": "Parametrenin birinci değer bilgisi"
        },
        "value2": {
          "type": "string",
          "description": "Parametrenin ikinci değer bilgisi"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Parametrenin geçerlilik başlangıç tarihi"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Parametrenin geçerlilik bitiş tarihi"
        },
        "unit": {
          "type": "string",
          "description": "Parametrenin Birimi"
        }
      }
    },
    "ParameterPaginationPKRespDto": {
      "type": "object",
      "properties": {
        "queryInformation": {
          "description": "Sorgu sonucu toplam kayıt bilgileri.",
          "$ref": "#/definitions/QueryInformationDto"
        },
        "parameters": {
          "type": "array",
          "description": "Parametre Listesi",
          "items": {
            "$ref": "#/definitions/ParameterPKRespDto"
          }
        }
      }
    },
    "ParameterPaginationRespDto": {
      "type": "object",
      "properties": {
        "queryInformation": {
          "description": "Sorgu sonucu toplam kayıt bilgileri.",
          "$ref": "#/definitions/QueryInformationDto"
        },
        "parameters": {
          "type": "array",
          "description": "Parametre Listesi",
          "items": {
            "$ref": "#/definitions/ParameterRespDto"
          }
        }
      }
    },
    "ParameterRespDto": {
      "type": "object",
      "properties": {
        "localizations": {
          "type": "array",
          "description": "İlgili parametrelerin türkçe veya ingilizce açıklaması",
          "items": {
            "$ref": "#/definitions/LocalizationDto"
          }
        },
        "key": {
          "description": "Parametre anahtar değer bilgisi ve ismi",
          "$ref": "#/definitions/KeyValueDtoString"
        },
        "value1": {
          "type": "string",
          "description": "Parametrenin birinci değer bilgisi"
        },
        "value2": {
          "type": "string",
          "description": "Parametrenin ikinci değer bilgisi"
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Parametrenin geçerlilik başlangıç tarihi"
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Parametrenin geçerlilik bitiş tarihi"
        },
        "status": {
          "type": "boolean",
          "description": "Parametrenin geçerlilik durum bilgisi"
        },
        "unit": {
          "type": "string",
          "description": "Parametrenin Birimi"
        }
      }
    },
    "ParameterUserReqDto": {
      "type": "object",
      "required": [
        "effectiveDate",
        "pageInfo",
        "parameterGroupType"
      ],
      "properties": {
        "pageInfo": {
          "description": "Sayfalama bilgisi",
          "$ref": "#/definitions/PageDto"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2021-06-24 14:00:00",
          "description": "Parametrenin geçerli olduğu tarih bilgisi"
        },
        "parameterGroupType": {
          "type": "string",
          "description": "Parametrenin ait olduğu grup bilgisi",
          "enum": [
            "CONTRACT",
            "OFFER_LIMIT"
          ]
        }
      }
    },
    "PriceLeveledOfferDetailSaveDto": {
      "type": "object",
      "required": [
        "orderNo",
        "price",
        "quantity"
      ],
      "properties": {
        "orderNo": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif Sıra Numarası"
        },
        "price": {
          "type": "number",
          "description": "Teklif fiyat bilgisi"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Teklif miktar bilgisi"
        }
      }
    },
    "QueryInformationDto": {
      "type": "object",
      "required": [
        "count",
        "page",
        "size"
      ],
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "İstenilen sayfa numarası"
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "Her bir sayfada bulunacak kayıt sayısı"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Toplam Kayıt Sayısı"
        }
      }
    },
    "RestResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Yapılan isteğin HTTP status kodunu dönmektedir."
        },
        "txId": {
          "type": "string",
          "description": "Yapmış olduğunuz isteği tekilleştirmeye yarar.Hata almanız durumunda bu bilgiyi göndermeniz zorunludur."
        },
        "hostName": {
          "type": "string",
          "description": ""
        },
        "clientIp": {
          "type": "string",
          "description": "İsteği yapan clientin ip bilgisi"
        },
        "userName": {
          "type": "string",
          "description": "İsteği yapan kullanıcı bilgisi"
        },
        "errors": {
          "type": "array",
          "description": "Başarılı durumda liste *boş* dönmektedir.Hata almanız durumunda liste içinde aldığınız hatanın hata kodu ve hata mesajlarını dönmektedir. Hatalar ile ilgili detaylı bilgi almak isterseniz bu değerleri göndermeniz gerekmektedir.",
          "items": {
            "$ref": "#/definitions/RestResponseError"
          }
        },
        "body": {
          "description": "Yapılan istek başarılı olması durumunda çağırılan servisin cevabı . İstekler başarısız ise bu alan boş gelecektir.",
          "$ref": "#/definitions/RestResponseBodyBaseDto"
        },
        "dispatch": {
          "type": "string",
          "description": "JWT'nin süresi bitmesi durumunda veya herhangi bir kimlik doğrulama header bilgisi yollamadığınız durumda sizi merkezi yetkilendirme sunucusuna yönlendirecek adres bilgisini döner."
        }
      },
      "xml": {
        "name": "response"
      }
    },
    "RestResponseBlockContractSummaryReportListRespDto": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Yapılan isteğin HTTP status kodunu dönmektedir."
        },
        "txId": {
          "type": "string",
          "description": "Yapmış olduğunuz isteği tekilleştirmeye yarar.Hata almanız durumunda bu bilgiyi göndermeniz zorunludur."
        },
        "hostName": {
          "type": "string",
          "description": ""
        },
        "clientIp": {
          "type": "string",
          "description": "İsteği yapan clientin ip bilgisi"
        },
        "userName": {
          "type": "string",
          "description": "İsteği yapan kullanıcı bilgisi"
        },
        "errors": {
          "type": "array",
          "description": "Başarılı durumda liste *boş* dönmektedir.Hata almanız durumunda liste içinde aldığınız hatanın hata kodu ve hata mesajlarını dönmektedir. Hatalar ile ilgili detaylı bilgi almak isterseniz bu değerleri göndermeniz gerekmektedir.",
          "items": {
            "$ref": "#/definitions/RestResponseError"
          }
        },
        "body": {
          "description": "Yapılan istek başarılı olması durumunda çağırılan servisin cevabı . İstekler başarısız ise bu alan boş gelecektir.",
          "$ref": "#/definitions/RestResponseBodyBlockContractSummaryReportListRespDto"
        },
        "dispatch": {
          "type": "string",
          "description": "JWT'nin süresi bitmesi durumunda veya herhangi bir kimlik doğrulama header bilgisi yollamadığınız durumda sizi merkezi yetkilendirme sunucusuna yönlendirecek adres bilgisini döner."
        }
      },
      "xml": {
        "name": "response"
      }
    },
    "RestResponseBody": {
      "type": "object",
      "properties": {
        "content": {
          "type": "object",
          "readOnly": true
        }
      }
    },
    "RestResponseBodyBaseDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/BaseDto"
        }
      }
    },
    "RestResponseBodyBlockContractSummaryReportListRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/BlockContractSummaryReportListRespDto"
        }
      }
    },
    "RestResponseBodyCancelOfferByContractRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/CancelOfferByContractRespDto"
        }
      }
    },
    "RestResponseBodyCollateralHistoryRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/CollateralHistoryRespDto"
        }
      }
    },
    "RestResponseBodyCollateralOrgDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/CollateralOrgDto"
        }
      }
    },
    "RestResponseBodyContractBoardResponseDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/ContractBoardResponseDto"
        }
      }
    },
    "RestResponseBodyListBlockContractAvailableTimesRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/ListBlockContractAvailableTimesRespDto"
        }
      }
    },
    "RestResponseBodyLocalDateTimeDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/LocalDateTimeDto"
        }
      }
    },
    "RestResponseBodyMatchOfferSummaryResponseDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/MatchOfferSummaryResponseDto"
        }
      }
    },
    "RestResponseBodyOfferBulkSaveRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/OfferBulkSaveRespDto"
        }
      }
    },
    "RestResponseBodyOfferBulkValidateRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/OfferBulkValidateRespDto"
        }
      }
    },
    "RestResponseBodyOfferListResponseDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/OfferListResponseDto"
        }
      }
    },
    "RestResponseBodyOfferSaveOrUpdateResponseDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/OfferSaveOrUpdateResponseDto"
        }
      }
    },
    "RestResponseBodyOfferSummaryResponseDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/OfferSummaryResponseDto"
        }
      }
    },
    "RestResponseBodyOrderDepthDetailResponseDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/OrderDepthDetailResponseDto"
        }
      }
    },
    "RestResponseBodyOrganizationLimitChartRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/OrganizationLimitChartRespDto"
        }
      }
    },
    "RestResponseBodyParameterGroupRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/ParameterGroupRespDto"
        }
      }
    },
    "RestResponseBodyParameterPaginationPKRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/ParameterPaginationPKRespDto"
        }
      }
    },
    "RestResponseBodyParameterPaginationRespDto": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "$ref": "#/definitions/ParameterPaginationRespDto"
        }
      }
    },
    "RestResponseCancelOfferByContractRespDto": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Yapılan isteğin HTTP status kodunu dönmektedir."
        },
        "txId": {
          "type": "string",
          "description": "Yapmış olduğunuz isteği tekilleştirmeye yarar.Hata almanız durumunda bu bilgiyi göndermeniz zorunludur."
        },
        "hostName": {
          "type": "string",
          "description": ""
        },
        "clientIp": {
          "type": "string",
          "description": "İsteği yapan clientin ip bilgisi"
        },
        "userName": {
          "type": "string",
          "description": "İsteği yapan kullanıcı bilgisi"
        },
        "errors": {
          "type": "array",
          "description": "Başarılı durumda liste *boş* dönmektedir.Hata almanız durumunda liste içinde aldığınız hatanın hata kodu ve hata mesajlarını dönmektedir. Hatalar ile ilgili detaylı bilgi almak isterseniz bu değerleri göndermeniz gerekmektedir.",
          "items": {
            "$ref": "#/definitions/RestResponseError"
          }
        },
        "body": {
          "description": "Yapılan istek başarılı olması durumunda çağırılan servisin cevabı . İstekler başarısız ise bu alan boş gelecektir.",
          "$ref": "#/definitions/RestResponseBodyCancelOfferByContractRespDto"
        },
        "dispatch": {
          "type": "string",
          "description": "JWT'nin süresi bitmesi durumunda veya herhangi bir kimlik doğrulama header bilgisi yollamadığınız durumda sizi merkezi yetkilendirme sunucusuna yönlendirecek adres bilgisini döner."
        }
      },
      "xml": {
        "name": "response"
      }
    },
    "RestResponseCollateralHistoryRespDto": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Yapılan isteğin HTTP status kodunu dönmektedir."
        },
        "txId": {
          "type": "string",
          "description": "Yapmış olduğunuz isteği tekilleştirmeye yarar.Hata almanız durumunda bu bilgiyi göndermeniz zorunludur."
        },
        "hostName": {
          "type": "string",
          "description": ""
        },
        "clientIp": {
          "type": "string",
          "description": "İsteği yapan clientin ip bilgisi"
        },
        "userName": {
          "type": "string",
          "description": "İsteği yapan kullanıcı bilgisi"
        },
        "errors": {
          "type": "array",
          "description": "Başarılı durumda liste *boş* dönmektedir.Hata almanız durumunda liste içinde aldığınız hatanın hata kodu ve hata mesajlarını dönmektedir. Hatalar ile ilgili detaylı bilgi almak isterseniz bu değerleri göndermeniz gerekmektedir.",
          "items": {
            "$ref": "#/definitions/RestResponseError"
          }
        },
        "body": {
          "description": "Yapılan istek başarılı olması durumunda çağırılan servisin cevabı . İstekler başarısız ise bu alan boş gelecektir.",
          "$ref": "#/definitions/RestResponseBodyCollateralHistoryRespDto"
        },
        "dispatch": {
[...]
