{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "EPYS - Sayaç ve Ölçüm noktası Servisleri"
  },
  "host" : "epys-prp.epias.com.tr",
  "basePath" : "/grid",
  "tags" : [ {
    "name" : "ecMeterController"
  }, {
    "name" : "helperController"
  }, {
    "name" : "meterController"
  }, {
    "name" : "portfolioController"
  }, {
    "name" : "regionController"
  }, {
    "name" : "substationController"
  }, {
    "name" : "ulegMeterController"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/ec-meter/count" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Kayıt Sayma Servisi",
        "description" : "Sorgulamak istediğiniz toplam ölçüm noktası kayıt adedini bu servis ile alabilirsiniz.",
        "operationId" : "ec-meter-count",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/count-meter" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Sayma Servisi",
        "description" : "Sorgulamak istediğiniz toplam ölçüm noktası adedini bu servis ile alabilirsiniz.",
        "operationId" : "ec-meter-distinct-count",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/export" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Dışa Aktarma Servisi",
        "description" : "Dışa aktarmak istediğiniz ölçüm noktası bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "ec-meter-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportPageResponseEcMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/fetch-export-offset-ids" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Dışa Aktar Servisleri Offset ID Listeleme Servisi",
        "description" : "Dışa aktarma servisinin sayfa parametresi olan offsetId listesini bu servis ile alabilirsiniz.",
        "operationId" : "ec-meter-fetch-export-offset-ids",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportOffsetIdsResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/plain-export" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Dışa Aktarma Servisi",
        "description" : "Dışa aktarmak istediğiniz ölçüm noktası bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "ec-meter-plain-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportPageResponsePlainEcMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/query" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Sorgulama Servisi",
        "description" : "Sorgulamak istediğiniz ölçüm noktası bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "ec-meter-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponseEcMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/save" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Kayıt Servisi",
        "description" : "Yeni bir ölçüm noktasını bu servis ile kaydedebilirsiniz.",
        "operationId" : "ec-meter-save",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseIdTextDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/status-update" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Durum Güncelleme Servisi",
        "description" : "Mevcut bir ölçüm noktasının durumunu bu servis ile güncelleyebilirsiniz.",
        "operationId" : "ec-meter-status-update",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterStatusUpdateRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseResultDto"
            }
          }
        }
      }
    },
    "/v1/ec-meter/update" : {
      "post" : {
        "tags" : [ "ecMeterController" ],
        "summary" : "Ölçüm Noktası Güncelleme Servisi",
        "description" : "Mevcut bir ölçüm noktasını bu servis ile güncelleyebilirsiniz.",
        "operationId" : "ec-meter-update",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/EcMeterUpdateRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseResultDto"
            }
          }
        }
      }
    },
    "/v1/exceptional-meter-portfolio/query" : {
      "post" : {
        "tags" : [ "portfolioController" ],
        "summary" : "Talep Edilebilir Yaptırım Sayaçları Sorgulama Servisi",
        "description" : "Talep edilebilir yaptırım sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "exceptional-meter-portfolio-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ExceptionalMeterPortfolioQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponsePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/lookup" : {
      "get" : {
        "summary" : "Mevcut Çoklu Seçim Anahtar Sorgulama Servisi",
        "description" : "Mevcut çoklu seçim anahtar verilerini sorgular.",
        "operationId" : "available-lookups",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupTypeResponse"
            }
          }
        }
      }
    },
    "/v1/lookup/query" : {
      "post" : {
        "summary" : "Çoklu Seçim Detay Sorgulama Servisi",
        "description" : "Çoklu seçim detay verilerini sorgular.",
        "operationId" : "lookup-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LookupRequest"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupResponse"
            }
          }
        }
      }
    },
    "/v1/meter-field/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Sayaç Alan İsimleri Çekme Servisi",
        "description" : "Sayaç alan isim bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "meter-field-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/meter/count" : {
      "post" : {
        "tags" : [ "meterController" ],
        "summary" : "Sayaç Kayıt Sayma Servisi",
        "description" : "Sorgulamak istediğiniz toplam sayaç kayıt adedini bu servis ile alabilirsiniz.",
        "operationId" : "meter-count",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/count-meter" : {
      "post" : {
        "tags" : [ "meterController" ],
        "summary" : "Sayaç Sayma Servisi",
        "description" : "Sorgulamak istediğiniz toplam sayaç adedini bu servis ile alabilirsiniz.",
        "operationId" : "meter-distinct-count",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseCountResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/export" : {
      "post" : {
        "tags" : [ "meterController" ],
        "summary" : "Sayaç Dışa Aktarma Servisi",
        "description" : "Dışa aktarmak istediğiniz sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "meter-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportPageResponseMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/fetch-export-offset-ids" : {
      "post" : {
        "tags" : [ "meterController" ],
        "summary" : "Sayaç Dışa Aktar Servisleri Offset ID Listeleme Servisi",
        "description" : "Dışa aktarma servisinin sayfa parametresi olan offsetId listesini bu servis ile alabilirsiniz.",
        "operationId" : "meter-fetch-export-offset-ids",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportOffsetIdsResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/plain-export" : {
      "post" : {
        "tags" : [ "meterController" ],
        "summary" : "Sayaç Dışa Aktarma Servisi",
        "description" : "Dışa aktarmak istediğiniz sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "meter-plain-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportPageResponsePlainMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/query" : {
      "post" : {
        "tags" : [ "meterController" ],
        "summary" : "Sayaç Sorgulama Servisi",
        "description" : "Sorgulamak istediğiniz sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "meter-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponseMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/query-main-meter" : {
      "post" : {
        "tags" : [ "meterController" ],
        "summary" : "Ana Sayaç Sorgulama Servisi",
        "description" : "Sorgulamak istediğiniz ana sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "meter-query-main-meter",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MainMeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponseMainMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter/reading-type/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Sayaç Okuma Tipleri Çekme Servisi",
        "description" : "Sayaç okuma tip bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "meter-reading-type-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseReadingTypeDto"
            }
          }
        }
      }
    },
    "/v1/meter/supply-position-type/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Sayaç Veriş Pozisyon Tipleri Çekme Servisi",
        "description" : "Sayaç veriş pozisyon tip bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "meter-supply-position-type-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSupplyPositionTypeDto"
            }
          }
        }
      }
    },
    "/v1/meter/usage-type/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Sayaç Veriş Pozisyon Tipleri Çekme Servisi",
        "description" : "Sayaç veriş pozisyon tip bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "meter-usage-type-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseUsageTypeDto"
            }
          }
        }
      }
    },
    "/v1/meter/withdraw-position-type/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Sayaç Çekiş Pozisyon Tipleri Çekme Servisi",
        "description" : "Sayaç çekiş pozisyon tip bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "meter-withdraw-position-type-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseWithdrawPositionTypeDto"
            }
          }
        }
      }
    },
    "/v1/portfolio/query" : {
      "post" : {
        "tags" : [ "portfolioController" ],
        "summary" : "Portföy Sorgulama Servisi",
        "description" : "Portföyünüzdeki sayaçları bu servis ile alabilirsiniz.",
        "operationId" : "portfolio-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PortfolioQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponsePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/profile-subscription-group/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Profil Abone Grubu Sorgulama Servisi",
        "description" : "Şeçilen şehre göre profil abone gruplarını bu servis ile alabilirsiniz.",
        "operationId" : "profile-subscription-group-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "cityId",
          "in" : "query",
          "description" : "Şehir ID Bilgisi",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "Geçerlilik Tarihi",
          "required" : true,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "readingTypeId",
          "in" : "query",
          "description" : "Okuma Tipi ID Bilgisi",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/reading-portfolio/query" : {
      "post" : {
        "tags" : [ "portfolioController" ],
        "summary" : "Sayaç Verisi Yükleme Yükümlülüğü Sorgulama Servisi",
        "description" : "Sayaç Verisi Yükleme Yükümlülüğünüzdeki sayaçları bu servis ile alabilirsiniz.",
        "operationId" : "reading-portfolio-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ReadingPortfolioQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponsePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/region-conf-field/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Teklif Bölgesi Konfigürasyon Alan İsimleri Çekme Servisi",
        "description" : "Teklif bölgesi konfigürasyon alan isim bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "region-conf-field-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/region-field/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Teklif Bölgesi Alan İsimleri Çekme Servisi",
        "description" : "Teklif bölgesi alan isim bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "region-field-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/region/query" : {
      "post" : {
        "tags" : [ "regionController" ],
        "summary" : "Teklif Bölgesi Sorgulama Servisi",
        "description" : "Sorgulamak istediğiniz teklif bölgesi bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "region-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponseRegionDto"
            }
          }
        }
      }
    },
    "/v1/substation-field/fetch" : {
      "get" : {
        "tags" : [ "helperController" ],
        "summary" : "Trafo Merkezi Alan İsimleri Çekme Servisi",
        "description" : "Trafo merkezi alan isim bilgilerini bu servis ile çekebilirsiniz.",
        "operationId" : "substation-field-fetch",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupDTO"
            }
          }
        }
      }
    },
    "/v1/substation/query" : {
      "post" : {
        "tags" : [ "substationController" ],
        "summary" : "Trafo Merkezi Sorgulama Servisi",
        "description" : "Sorgulamak istediğiniz trafo merkezi bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "substation-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SubstationQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponseSubstationDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/export" : {
      "post" : {
        "tags" : [ "ulegMeterController" ],
        "summary" : "LÜY Sayaç Dışa Aktarma Servisi",
        "description" : "Dışa aktarmak istediğiniz LÜY sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "uleg-meter-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UlegMeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportPageResponseUlegMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/plain-export" : {
      "post" : {
        "tags" : [ "ulegMeterController" ],
        "summary" : "LÜY Sayaç Dışa Aktarma Servisi",
        "description" : "Dışa aktarmak istediğiniz LÜY sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "uleg-meter-plain-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UlegMeterExportRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseExportPageResponsePlainUlegMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/query" : {
      "post" : {
        "tags" : [ "ulegMeterController" ],
        "summary" : "LÜY Sayaç Sorgulama Servisi",
        "description" : "Sorgulamak istediğiniz LÜY sayaç bilgilerini bu servis ile alabilirsiniz.",
        "operationId" : "uleg-meter-query",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UlegMeterQueryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSortablePageResponseUlegMeterResponseDto"
            }
          }
        }
      }
    },
    "/v1/uleg-meter/service-power-update" : {
      "post" : {
        "tags" : [ "ulegMeterController" ],
        "summary" : "LÜY Sayaç İşletmedeki Güç Güncelleme Servisi",
        "description" : "Mevcut bir LÜY sayacının işletmedeki gücünü bu servis ile güncelleyebilirsiniz.",
        "operationId" : "uleg-meter-service-power-update",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UlegMeterServicePowerUpdateRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseResultDto"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "BaseDTO" : {
      "type" : "object"
    },
    "CityDTO" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "ConductorTypeDto" : {
      "type" : "object",
      "properties" : {
        "conductorType" : {
          "description" : "İletken Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "coefficient" : {
          "type" : "number",
          "description" : "Özdirenç Katsayısı"
        }
      }
    },
    "CountResponseDto" : {
      "type" : "object",
      "properties" : {
        "count" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Toplam Sayı"
        }
      }
    },
    "CustomerDto" : {
      "type" : "object",
      "properties" : {
        "effectiveDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-12-01T00:00:00+03:00"
        },
        "authorizedPersonName1" : {
          "type" : "string",
          "description" : "Birinci Yetkili Kişi Ad/Soyad"
        },
        "authorizedPersonName2" : {
          "type" : "string",
          "description" : "İkinci Yetkili Kişi Ad/Soyad"
        },
        "authorizedPersonNo1" : {
          "type" : "string",
          "description" : "Birinci Yetkili Kişi TCKN"
        },
        "authorizedPersonNo2" : {
          "type" : "string",
          "description" : "İkinci Yetkili Kişi TCKN"
        },
        "customerNo" : {
          "type" : "string",
          "description" : "Abone No"
        },
        "title" : {
          "type" : "string",
          "description" : "Abone Ünvan"
        },
        "status" : {
          "description" : "Abone Durumu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "category" : {
          "description" : "Abone Kategori Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "startDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Abone Portföy Başlangıç Tarihi"
        },
        "endDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Abone Portföy Bitiş Tarihi"
        }
      }
    },
    "DescriptionDto" : {
      "type" : "object",
      "required" : [ "description", "language" ],
      "properties" : {
        "language" : {
          "type" : "string",
          "description" : "Dil"
        },
        "description" : {
          "type" : "string",
          "description" : "Tanım"
        }
      }
    },
    "DistrictDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "İlçe ID"
        },
        "name" : {
          "type" : "string",
          "description" : "İlçe Ad"
        },
        "relativeUnit" : {
          "description" : "İlçenin İl Bilgisi",
          "$ref" : "#/definitions/CityDTO"
        }
      }
    },
    "EcMeterExportRequestDto" : {
      "type" : "object",
      "properties" : {
        "balancingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Dengeleme Bölgesi ID"
        },
        "biddingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Teklif Bölgesi ID"
        },
        "bpmStatus" : {
          "type" : "boolean",
          "description" : "Dengeleme Güç Piyasası Katılım Durumu"
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi"
        },
        "effectiveDateStartGreaterThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya İleri"
        },
        "effectiveDateStartLessThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya Geri"
        },
        "dspOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Talep Tarafı Katılım Organizasyon ID"
        },
        "periodDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Başlangıç Tarihi"
        },
        "periodDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Bitiş Tarihi"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "eic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "organizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID"
        },
        "portfolioTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Portföy Tip ID"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "readingTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayaç Okuma Tip ID"
        },
        "recordUsageStatusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Kayıt Kullanım Durum ID"
        },
        "settlementPointIds" : {
          "type" : "array",
          "description" : "UEVÇB ID leri",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "statusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Durum ID"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "supplierTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tedarik Tip ID"
        },
        "uniqueCode" : {
          "type" : "string",
          "description" : "Tekil Kod"
        },
        "withdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID"
        },
        "withdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID"
        },
        "containsId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID İçeren"
        },
        "containsEic" : {
          "type" : "string",
          "description" : "EIC İçeren"
        },
        "containsMainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID İçeren"
        },
        "containsOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID İçeren"
        },
        "containsSerial" : {
          "type" : "string",
          "description" : "Sayaç Seri No İçeren"
        },
        "containsWithdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID İçeren"
        },
        "containsWithdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID İçeren"
        },
        "page" : {
          "description" : "Dışa Aktar Sayfası",
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "EcMeterQueryRequestDto" : {
      "type" : "object",
      "properties" : {
        "balancingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Dengeleme Bölgesi ID"
        },
        "biddingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Teklif Bölgesi ID"
        },
        "bpmStatus" : {
          "type" : "boolean",
          "description" : "Dengeleme Güç Piyasası Katılım Durumu"
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi"
        },
        "effectiveDateStartGreaterThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya İleri"
        },
        "effectiveDateStartLessThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya Geri"
        },
        "dspOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Talep Tarafı Katılım Organizasyon ID"
        },
        "periodDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Başlangıç Tarihi"
        },
        "periodDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Bitiş Tarihi"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "eic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "organizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID"
        },
        "portfolioTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Portföy Tip ID"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "readingTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayaç Okuma Tip ID"
        },
        "recordUsageStatusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Kayıt Kullanım Durum ID"
        },
        "settlementPointIds" : {
          "type" : "array",
          "description" : "UEVÇB ID leri",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "statusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Durum ID"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "supplierTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tedarik Tip ID"
        },
        "uniqueCode" : {
          "type" : "string",
          "description" : "Tekil Kod"
        },
        "withdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID"
        },
        "withdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID"
        },
        "containsId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID İçeren"
        },
        "containsEic" : {
          "type" : "string",
          "description" : "EIC İçeren"
        },
        "containsMainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID İçeren"
        },
        "containsOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID İçeren"
        },
        "containsSerial" : {
          "type" : "string",
          "description" : "Sayaç Seri No İçeren"
        },
        "containsWithdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID İçeren"
        },
        "containsWithdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID İçeren"
        },
        "page" : {
          "description" : "Sorgulama Sayfası",
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "EcMeterRequestDto" : {
      "type" : "object",
      "required" : [ "address", "annualAverageConsumption", "annualEstimatedConsumptionT1", "annualEstimatedConsumptionT2", "annualEstimatedConsumptionT3", "busbarVoltageTypeId", "consumptionPointTypeId", "contractPower", "descriptions", "districtId", "effectiveDateStart", "exceptionalSubstationStatus", "facilityTypeId", "loadProfileFeature", "mainTariffGroupId", "meteringVoltageTypeId", "profileSubscriptionGroupId", "readingDataTypeId", "readingOrganizationId", "readingPeriod", "readingTypeId", "remoteReadingStatusId", "substationId", "tariffClassTypeId", "uniqueCode", "usageStatusTypeId", "withdrawPositionTypeId" ],
      "properties" : {
        "effectiveDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-12-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi Başlangıç"
        },
        "descriptions" : {
          "type" : "array",
          "description" : "Açıklamalar",
          "items" : {
            "$ref" : "#/definitions/DescriptionDto"
          }
        },
        "address" : {
          "type" : "string",
          "description" : "Adres"
        },
        "addressCode" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Adres Kodu"
        },
        "annualAverageConsumption" : {
          "type" : "number",
          "description" : "Yıllık Ortalama Tüketim"
        },
        "annualEstimatedConsumptionT1" : {
          "type" : "number",
          "description" : "T1 Yıllık Tahmini Tüketim"
        },
        "annualEstimatedConsumptionT2" : {
          "type" : "number",
          "description" : "T2 Yıllık Tahmini Tüketim"
        },
        "annualEstimatedConsumptionT3" : {
          "type" : "number",
          "description" : "T3 Yıllık Tahmini Tüketim"
        },
        "bilateralConsumerGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "İkili Anlaşma Tüketici Grubu ID"
        },
        "busbarVoltageTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Bara Gerilim ID"
        },
        "consumptionPointTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tüketim Noktası Tip ID"
        },
        "contractPower" : {
          "type" : "number",
          "description" : "Sözleşme Gücü"
        },
        "districtId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "İlçe ID"
        },
        "exceptionalSubstationStatus" : {
          "type" : "boolean",
          "description" : "Özel Trafo Durumu"
        },
        "facilityTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tesis Tip ID"
        },
        "lastResortConsumerGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Son Kaynak Tüketici Grubu ID"
        },
        "lineCircuitCountTypeId1" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "1. Hat Devre Sayısı ID"
        },
        "lineCircuitCountTypeId2" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "2. Hat Devre Sayısı ID"
        },
        "lineCircuitCountTypeId3" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "3. Hat Devre Sayısı ID"
        },
        "lineConductorTypeId1" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "1. İletken Tipi Özdirenç ID"
        },
        "lineConductorTypeId2" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "2. İletken Tipi Özdirenç ID"
        },
        "lineConductorTypeId3" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "3. İletken Tipi Özdirenç ID"
        },
        "lineCrossSection1" : {
          "type" : "number",
          "description" : "1. Hat Kesiti"
        },
        "lineCrossSection2" : {
          "type" : "number",
          "description" : "2. Hat Kesiti"
        },
        "lineCrossSection3" : {
          "type" : "number",
          "description" : "3. Hat Kesiti"
        },
        "lineLength1" : {
          "type" : "number",
          "description" : "1. Hat Uzunluk"
        },
        "lineLength2" : {
          "type" : "number",
          "description" : "2. Hat Uzunluk"
        },
        "lineLength3" : {
          "type" : "number",
          "description" : "3. Hat Uzunluk"
        },
        "loadLoss" : {
          "type" : "number",
          "description" : "Yükteki Kayıp"
        },
        "loadProfileFeature" : {
          "type" : "boolean",
          "description" : "Yük Profil Kayit Özelliği"
        },
        "lossFactorStatus" : {
          "type" : "boolean",
          "description" : "İSKK Durumu"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "mainTariffGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Tarife Grubu ID"
        },
        "meteringVoltageTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Bağlantı Noktası Gerilim Tip ID"
        },
        "noLoadLoss" : {
          "type" : "number",
          "description" : "Boştaki Kayıp"
        },
        "profileSubscriptionGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Profil Abone Grubu ID"
        },
        "readingDataTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Uzlaştırma Veri Tip ID"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayac Okuyan Kurum ID"
        },
        "readingPeriod" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Okuma Periyodu"
        },
        "readingTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayaç Okuma Tip ID"
        },
        "remoteReadingStatusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Uzaktan Okuma Durum ID"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "substationInputVoltage" : {
          "type" : "number",
          "description" : "Trafo Giriş Gerilimi"
        },
        "substationOutputVoltage" : {
          "type" : "number",
          "description" : "Trafo Çıkış Gerilimi"
        },
        "substationPower" : {
          "type" : "number",
          "description" : "Trafo Gücü"
        },
        "tariffClassTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tarife Sınıf ID"
        },
        "uniqueCode" : {
          "type" : "string",
          "description" : "Tekil Kod"
        },
        "usageStatusTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Kullanım Durum ID"
        },
        "withdrawPositionTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Pozisyon ID"
        }
      }
    },
    "EcMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "effectiveDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-12-01T00:00:00+03:00"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "eic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "address" : {
          "type" : "string",
          "description" : "Adres"
        },
        "addressCode" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Adres Kodu"
        },
        "annualAverageConsumption" : {
          "type" : "number",
          "description" : "Yıllık Ortalama Tüketim"
        },
        "annualEstimatedConsumptionT1" : {
          "type" : "number",
          "description" : "T1 Yıllık Tahmini Tüketim"
        },
        "annualEstimatedConsumptionT2" : {
          "type" : "number",
          "description" : "T2 Yıllık Tahmini Tüketim"
        },
        "annualEstimatedConsumptionT3" : {
          "type" : "number",
          "description" : "T3 Yıllık Tahmini Tüketim"
        },
        "bilateralConsumerGroup" : {
          "description" : "İkili Anlaşma Tüketici Grubu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "busbarVoltageType" : {
          "description" : "Bara Gerilim",
          "$ref" : "#/definitions/VoltageTypeDto"
        },
        "configurationType" : {
          "description" : "Tedarik Konfigurasyon Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "consumptionPointType" : {
          "description" : "Tüketim Noktası Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "consumptionPointStatus" : {
          "description" : "Tüketim Noktası Durumu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "contractPower" : {
          "type" : "number",
          "description" : "Sözleşme Gücü"
        },
        "customer" : {
          "description" : "Abone",
          "$ref" : "#/definitions/CustomerDto"
        },
        "customerHistory" : {
          "type" : "array",
          "description" : "Abone Geçmişi",
          "items" : {
            "$ref" : "#/definitions/CustomerDto"
          }
        },
        "district" : {
          "description" : "İlçe",
          "$ref" : "#/definitions/DistrictDto"
        },
        "districtId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "İlçe ID"
        },
        "exceptionalSubstationStatus" : {
          "type" : "boolean",
          "description" : "Özel Trafo Durumu"
        },
        "facilityType" : {
          "description" : "Tesis Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "firstRecord" : {
          "type" : "boolean",
          "description" : "İlk Kayıt"
        },
        "lastResortConsumerGroup" : {
          "description" : "Son Kaynak Tüketici Grubu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "licenseOwnerOrganizationEic" : {
          "type" : "string",
          "description" : "Lisans Sahibi Organizasyon EIC"
        },
        "licenseOwnerOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Lisans Sahibi Organizasyon ID"
        },
        "licenseOwnerOrganizationName" : {
          "type" : "string",
          "description" : "Lisans Sahibi Organizasyon Ad"
        },
        "licenseOwnerOrganizationNameBreakdown" : {
          "type" : "array",
          "description" : "Lisans Sahibi Organizasyon Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "lineCircuitCountType1" : {
          "description" : "1. Hat Devre Sayısı",
          "$ref" : "#/definitions/LookupDTO"
        },
        "lineCircuitCountType2" : {
          "description" : "2. Hat Devre Sayısı",
          "$ref" : "#/definitions/LookupDTO"
        },
        "lineCircuitCountType3" : {
          "description" : "3. Hat Devre Sayısı",
          "$ref" : "#/definitions/LookupDTO"
        },
        "lineConductorType1" : {
          "description" : "1. İletken Tipi Özdirenç",
          "$ref" : "#/definitions/ConductorTypeDto"
        },
        "lineConductorType2" : {
          "description" : "2. İletken Tipi Özdirenç",
          "$ref" : "#/definitions/ConductorTypeDto"
        },
        "lineConductorType3" : {
          "description" : "3. İletken Tipi Özdirenç",
          "$ref" : "#/definitions/ConductorTypeDto"
        },
        "lineCrossSection1" : {
          "type" : "number",
          "description" : "1. Hat Kesiti"
        },
        "lineCrossSection2" : {
          "type" : "number",
          "description" : "2. Hat Kesiti"
        },
        "lineCrossSection3" : {
          "type" : "number",
          "description" : "3. Hat Kesiti"
        },
        "lineLength1" : {
          "type" : "number",
          "description" : "1. Hat Uzunluk"
        },
        "lineLength2" : {
          "type" : "number",
          "description" : "2. Hat Uzunluk"
        },
        "lineLength3" : {
          "type" : "number",
          "description" : "3. Hat Uzunluk"
        },
        "loadLoss" : {
          "type" : "number",
          "description" : "Yükteki Kayıp"
        },
        "loadProfileFeature" : {
          "type" : "boolean",
          "description" : "Yük Profil Kayit Özelliği"
        },
        "lossFactorStatus" : {
          "type" : "boolean",
          "description" : "İSKK Durumu"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "mainMeter" : {
          "description" : "Ana Sayaç",
          "$ref" : "#/definitions/IdTextDto"
        },
        "mainSettlementPointEic" : {
          "type" : "string",
          "description" : "Ana UEVÇB EIC"
        },
        "mainSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana UEVÇB ID"
        },
        "mainSettlementPointName" : {
          "type" : "string",
          "description" : "Ana UEVÇB Ad"
        },
        "mainSettlementPointNameBreakdown" : {
          "type" : "array",
          "description" : "Ana UEVÇB Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "mainSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana UEVÇB Organizasyon ID"
        },
        "mainTariffGroup" : {
          "description" : "Ana Tarife Grubu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "measurementType" : {
          "description" : "Ölçüm Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "meteringVoltageType" : {
          "description" : "Bağlantı Noktası Gerilim Tipi",
          "$ref" : "#/definitions/VoltageTypeDto"
        },
        "name" : {
          "type" : "string",
          "description" : "Sayaç Tesis Ad"
        },
        "noLoadLoss" : {
          "type" : "number",
          "description" : "Boştaki Kayıp"
        },
        "profileSubscriptionGroup" : {
          "description" : "Profil Abone Grubu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "readingDataType" : {
          "description" : "Sayaç Okuma Veri Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "readingOrganizationEic" : {
          "type" : "string",
          "description" : "Sayac Okuyan Kurum EIC"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayac Okuyan Kurum ID"
        },
        "readingOrganizationName" : {
          "type" : "string",
          "description" : "Sayac Okuyan Kurum Ad"
        },
        "readingOrganizationNameBreakdown" : {
          "type" : "array",
          "description" : "Sayac Okuyan Kurum Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "readingPeriod" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Okuma Periyodu"
        },
        "readingType" : {
          "description" : "Sayaç Okuma Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "reconciliationParticipationStatus" : {
          "description" : "Uzlaştırmaya Dahil Durumu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "reconciliationPeriod" : {
          "description" : "Uzlaştırma Dönemi",
          "$ref" : "#/definitions/MeterReconPeriodDto"
        },
        "recordUsageStatus" : {
          "description" : "Kayıt Kullanım Durumu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "remoteReadingStatus" : {
          "description" : "Uzaktan Okuma Durumu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "status" : {
          "description" : "Durum",
          "$ref" : "#/definitions/LookupDTO"
        },
        "substation" : {
          "description" : "Trafo Merkezi",
          "$ref" : "#/definitions/SubstationDto"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "substationInputVoltage" : {
          "type" : "number",
          "description" : "Trafo Giriş Gerilimi"
        },
        "substationOutputVoltage" : {
          "type" : "number",
          "description" : "Trafo Çıkış Gerilimi"
        },
        "substationPower" : {
          "type" : "number",
          "description" : "Trafo Gücü"
        },
        "supplierType" : {
          "description" : "Tedarik Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "supplyDeductionSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş Tenzil UEVÇB Organizasyon ID"
        },
        "supplySettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş UEVÇB Organizasyon ID"
        },
        "tariffClassType" : {
          "description" : "Tarife Sınıfı",
          "$ref" : "#/definitions/LookupDTO"
        },
        "uniqueCode" : {
          "type" : "string",
          "description" : "Tekil Kod"
        },
        "usageStatusType" : {
          "description" : "Kullanım Durumu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "usageType" : {
          "description" : "Kullanım Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "versionNumber" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Versiyon Numarası"
        },
        "withdrawDeductionSettlementPointEic" : {
          "type" : "string",
          "description" : "Çekiş Tenzil UEVÇB EIC"
        },
        "withdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID"
        },
        "withdrawDeductionSettlementPointName" : {
          "type" : "string",
          "description" : "Çekiş Tenzil UEVÇB Ad"
        },
        "withdrawDeductionSettlementPointNameBreakdown" : {
          "type" : "array",
          "description" : "Çekiş Tenzil UEVÇB Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "withdrawDeductionSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB Organizasyon ID"
        },
        "withdrawPositionType" : {
          "description" : "Çekiş Pozisyon",
          "$ref" : "#/definitions/WithdrawPositionTypeDto"
        },
        "withdrawSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB Organizasyon ID"
        }
      }
    },
    "EcMeterStatusUpdateRequestDto" : {
      "type" : "object",
      "required" : [ "descriptions" ],
      "properties" : {
        "descriptions" : {
          "type" : "array",
          "description" : "Açıklamalar",
          "items" : {
            "$ref" : "#/definitions/DescriptionDto"
          }
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi"
        },
        "effectiveId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "statusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Durum ID"
        }
      }
    },
    "EcMeterUpdateRequestDto" : {
      "type" : "object",
      "required" : [ "effectiveDateStart", "effectiveId" ],
      "properties" : {
        "effectiveDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-12-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-12-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi Bitiş"
        },
        "descriptions" : {
          "type" : "array",
          "description" : "Açıklamalar",
          "items" : {
            "$ref" : "#/definitions/DescriptionDto"
          }
        },
        "address" : {
          "type" : "string",
          "description" : "Adres"
        },
        "addressCode" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Adres Kodu"
        },
        "annualAverageConsumption" : {
          "type" : "number",
          "description" : "Yıllık Ortalama Tüketim"
        },
        "annualEstimatedConsumptionT1" : {
          "type" : "number",
          "description" : "T1 Yıllık Tahmini Tüketim"
        },
        "annualEstimatedConsumptionT2" : {
          "type" : "number",
          "description" : "T2 Yıllık Tahmini Tüketim"
        },
        "annualEstimatedConsumptionT3" : {
          "type" : "number",
          "description" : "T3 Yıllık Tahmini Tüketim"
        },
        "bilateralConsumerGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "İkili Anlaşma Tüketici Grubu ID"
        },
        "busbarVoltageTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Bara Gerilim ID"
        },
        "consumptionPointTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tüketim Noktası Tip ID"
        },
        "contractPower" : {
          "type" : "number",
          "description" : "Sözleşme Gücü"
        },
        "deletedFields" : {
          "type" : "array",
          "description" : "Silinen Alanlar",
          "items" : {
            "type" : "string"
          }
        },
        "districtId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "İlçe ID"
        },
        "effectiveId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "facilityTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tesis Tip ID"
        },
        "lastResortConsumerGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Son Kaynak Tüketici Grubu ID"
        },
        "lineCircuitCountTypeId1" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "1. Hat Devre Sayısı ID"
        },
        "lineCircuitCountTypeId2" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "2. Hat Devre Sayısı ID"
        },
        "lineCircuitCountTypeId3" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "3. Hat Devre Sayısı ID"
        },
        "lineConductorTypeId1" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "1. İletken Tipi Özdirenç ID"
        },
        "lineConductorTypeId2" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "2. İletken Tipi Özdirenç ID"
        },
        "lineConductorTypeId3" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "3. İletken Tipi Özdirenç ID"
        },
        "lineCrossSection1" : {
          "type" : "number",
          "description" : "1. Hat Kesiti"
        },
        "lineCrossSection2" : {
          "type" : "number",
          "description" : "2. Hat Kesiti"
        },
        "lineCrossSection3" : {
          "type" : "number",
          "description" : "3. Hat Kesiti"
        },
        "lineLength1" : {
          "type" : "number",
          "description" : "1. Hat Uzunluk"
        },
        "lineLength2" : {
          "type" : "number",
          "description" : "2. Hat Uzunluk"
        },
        "lineLength3" : {
          "type" : "number",
          "description" : "3. Hat Uzunluk"
        },
        "loadLoss" : {
          "type" : "number",
          "description" : "Yükteki Kayıp"
        },
        "loadProfileFeature" : {
          "type" : "boolean",
          "description" : "Yük Profil Kayit Özelliği"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "mainTariffGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Tarife Grubu ID"
        },
        "meteringVoltageTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Bağlantı Noktası Gerilim Tip ID"
        },
        "noLoadLoss" : {
          "type" : "number",
          "description" : "Boştaki Kayıp"
        },
        "profileSubscriptionGroupId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Profil Abone Grubu ID"
        },
        "readingDataResetConfirmation" : {
          "type" : "boolean",
          "description" : "Okuma Verisi Silme Onayı"
        },
        "readingDataTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Uzlaştırma Veri Tip ID"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayac Okuyan Kurum ID"
        },
        "readingPeriod" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Okuma Periyodu"
        },
        "readingTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayaç Okuma Tip ID"
        },
        "remoteReadingStatusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Uzaktan Okuma Durum ID"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "substationInputVoltage" : {
          "type" : "number",
          "description" : "Trafo Giriş Gerilimi"
        },
        "substationOutputVoltage" : {
          "type" : "number",
          "description" : "Trafo Çıkış Gerilimi"
        },
        "substationPower" : {
          "type" : "number",
          "description" : "Trafo Gücü"
        },
        "tariffClassTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Tarife Sınıf ID"
        },
        "uniqueCode" : {
          "type" : "string",
          "description" : "Tekil Kod"
        },
        "usageStatusTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Kullanım Durum ID"
        },
        "withdrawPositionTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Pozisyon ID"
        }
      }
    },
    "ExceptionalMeterPortfolioQueryRequestDto" : {
      "type" : "object",
      "properties" : {
        "page" : {
          "$ref" : "#/definitions/Page"
        },
        "periodDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Tarihi"
        },
        "meterEic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "meterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        }
      }
    },
    "ExportOffsetIdsResponseDto" : {
      "type" : "object",
      "properties" : {
        "offsetIds" : {
          "type" : "array",
          "description" : "Dışa Aktar Servis Offset ID Listesi",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      }
    },
    "ExportPageResponse" : {
      "type" : "object",
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        },
        "page" : {
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "ExportPageResponseEcMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/EcMeterResponseDto"
          }
        },
        "page" : {
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "ExportPageResponseMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/MeterResponseDto"
          }
        },
        "page" : {
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "ExportPageResponsePlainEcMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PlainEcMeterResponseDto"
          }
        },
        "page" : {
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "ExportPageResponsePlainMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PlainMeterResponseDto"
          }
        },
        "page" : {
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "ExportPageResponsePlainUlegMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PlainUlegMeterResponseDto"
          }
        },
        "page" : {
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "ExportPageResponseUlegMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "items" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/UlegMeterResponseDto"
          }
        },
        "page" : {
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "IdTextDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "text" : {
          "type" : "string",
          "description" : "EIC"
        }
      }
    },
    "LocalizationDTO" : {
      "type" : "object",
      "properties" : {
        "language" : {
          "type" : "string",
          "description" : "Çoklu Seçim Dili"
        },
        "text" : {
          "type" : "string",
          "description" : "Çoklu Seçim Açıklama (Dile Göre)"
        }
      }
    },
    "LookupDTO" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çoklu Seçim ID"
        },
        "value" : {
          "type" : "string",
          "description" : "Çoklu Seçim Değer"
        },
        "localizations" : {
          "type" : "array",
          "description" : "Çoklu Seçim Yerelleştirme Listesi",
          "items" : {
            "$ref" : "#/definitions/LocalizationDTO"
          }
        }
      }
    },
    "LookupRequest" : {
      "type" : "object",
      "required" : [ "lookupType" ],
      "properties" : {
        "lookupType" : {
          "type" : "string",
          "description" : "Çoklu Seçim Anahtarı"
        }
      }
    },
    "LookupResponse" : {
      "type" : "object",
      "properties" : {
        "values" : {
          "type" : "array",
          "description" : "Çoklu Seçim Değer Listesi",
          "items" : {
            "$ref" : "#/definitions/LookupDTO"
          }
        }
      }
    },
    "LookupTypeDTO" : {
      "type" : "object",
      "properties" : {
        "lookupType" : {
          "type" : "string",
          "description" : "Çoklu Seçim Anahtarı"
        },
        "lookupDescription" : {
          "type" : "string",
          "description" : "Çoklu Seçim Anahtar Açıklama"
        }
      }
    },
    "LookupTypeResponse" : {
      "type" : "object",
      "properties" : {
        "types" : {
          "type" : "array",
          "description" : "Çoklu Seçim Anahtar Listesi",
          "items" : {
            "$ref" : "#/definitions/LookupTypeDTO"
          }
        }
      }
    },
    "MainMeterQueryRequestDto" : {
      "type" : "object",
      "properties" : {
        "balancingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Dengeleme Bölgesi ID"
        },
        "biddingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Teklif Bölgesi ID"
        },
        "bpmStatus" : {
          "type" : "boolean",
          "description" : "Dengeleme Güç Piyasası Katılım Durumu"
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi"
        },
        "dspOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Talep Tarafı Katılım Organizasyon ID"
        },
        "periodDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Başlangıç Tarihi"
        },
        "periodDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Bitiş Tarihi"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "eic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "oizOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "OSB Ana Organizasyon ID"
        },
        "readingTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayaç Okuma Tip ID"
        },
        "recordUsageStatusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Kayıt Kullanım Durum ID"
        },
        "settlementPointIds" : {
          "type" : "array",
          "description" : "UEVÇB ID leri",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "statusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Durum ID"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "withdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID"
        },
        "containsId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID İçeren"
        },
        "containsEic" : {
          "type" : "string",
          "description" : "EIC İçeren"
        },
        "containsMainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID İçeren"
        },
        "containsOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID İçeren"
        },
        "containsSerial" : {
          "type" : "string",
          "description" : "Sayaç Seri No İçeren"
        },
        "page" : {
          "description" : "Sorgulama Sayfası",
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "MainMeterResponseDto" : {
      "type" : "object",
      "properties" : {
        "effectiveDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2019-12-01T00:00:00+03:00"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "eic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "licenseOwnerOrganizationEic" : {
          "type" : "string",
          "description" : "Lisans Sahibi Organizasyon EIC"
        },
        "licenseOwnerOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Lisans Sahibi Organizasyon ID"
        },
        "licenseOwnerOrganizationName" : {
          "type" : "string",
          "description" : "Lisans Sahibi Organizasyon Ad"
        },
        "licenseOwnerOrganizationNameBreakdown" : {
          "type" : "array",
          "description" : "Lisans Sahibi Organizasyon Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "mainSettlementPointEic" : {
          "type" : "string",
          "description" : "Ana UEVÇB EIC"
        },
        "mainSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana UEVÇB ID"
        },
        "mainSettlementPointName" : {
          "type" : "string",
          "description" : "Ana UEVÇB Ad"
        },
        "mainSettlementPointNameBreakdown" : {
          "type" : "array",
          "description" : "Ana UEVÇB Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "mainSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana UEVÇB Organizasyon ID"
        },
        "name" : {
          "type" : "string",
          "description" : "Sayaç Tesis Ad"
        },
        "oizOrganizationEic" : {
          "type" : "string",
          "description" : "OSB Ana Organizasyon EIC"
        },
        "oizOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "OSB Ana Organizasyon ID"
        },
        "oizOrganizationName" : {
          "type" : "string",
          "description" : "OSB Ana Organizasyon Ad"
        },
        "oizOrganizationNameBreakdown" : {
          "type" : "array",
          "description" : "OSB Ana Organizasyon Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "readingOrganizationEic" : {
          "type" : "string",
          "description" : "Sayac Okuyan Kurum EIC"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayac Okuyan Kurum ID"
        },
        "readingOrganizationName" : {
          "type" : "string",
          "description" : "Sayac Okuyan Kurum Ad"
        },
        "readingOrganizationNameBreakdown" : {
          "type" : "array",
          "description" : "Sayac Okuyan Kurum Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "recordUsageStatus" : {
          "description" : "Kayıt Kullanım Durumu",
          "$ref" : "#/definitions/LookupDTO"
        },
        "status" : {
          "description" : "Durum",
          "$ref" : "#/definitions/LookupDTO"
        },
        "substation" : {
          "description" : "Trafo Merkezi",
          "$ref" : "#/definitions/SubstationDto"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "supplyDeductionSettlementPointEic" : {
          "type" : "string",
          "description" : "Veriş Tenzil UEVÇB EIC"
        },
        "supplyDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş Tenzil UEVÇB ID"
        },
        "supplyDeductionSettlementPointName" : {
          "type" : "string",
          "description" : "Veriş Tenzil UEVÇB Ad"
        },
        "supplyDeductionSettlementPointNameBreakdown" : {
          "type" : "array",
          "description" : "Veriş Tenzil UEVÇB Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "supplyDeductionSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş Tenzil UEVÇB Organizasyon ID"
        },
        "supplySettlementPointEic" : {
          "type" : "string",
          "description" : "Veriş UEVÇB EIC"
        },
        "supplySettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş UEVÇB ID"
        },
        "supplySettlementPointName" : {
          "type" : "string",
          "description" : "Veriş UEVÇB Ad"
        },
        "supplySettlementPointNameBreakdown" : {
          "type" : "array",
          "description" : "Veriş UEVÇB Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "supplySettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş UEVÇB Organizasyon ID"
        },
        "uniqueCode" : {
          "type" : "string",
          "description" : "Tekil Kod"
        },
        "usageType" : {
          "description" : "Kullanım Tipi",
          "$ref" : "#/definitions/LookupDTO"
        },
        "withdrawDeductionSettlementPointEic" : {
          "type" : "string",
          "description" : "Çekiş Tenzil UEVÇB EIC"
        },
        "withdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID"
        },
        "withdrawDeductionSettlementPointName" : {
          "type" : "string",
          "description" : "Çekiş Tenzil UEVÇB Ad"
        },
        "withdrawDeductionSettlementPointNameBreakdown" : {
          "type" : "array",
          "description" : "Çekiş Tenzil UEVÇB Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "withdrawDeductionSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB Organizasyon ID"
        },
        "withdrawSettlementPointEic" : {
          "type" : "string",
          "description" : "Çekiş UEVÇB EIC"
        },
        "withdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID"
        },
        "withdrawSettlementPointName" : {
          "type" : "string",
          "description" : "Çekiş UEVÇB Ad"
        },
        "withdrawSettlementPointNameBreakdown" : {
          "type" : "array",
          "description" : "Çekiş UEVÇB Ad Kırılımları",
          "items" : {
            "$ref" : "#/definitions/NameBreakdownResponseDto"
          }
        },
        "withdrawSettlementPointOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB Organizasyon ID"
        }
      }
    },
    "MeterExportRequestDto" : {
      "type" : "object",
      "properties" : {
        "balancingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Dengeleme Bölgesi ID"
        },
        "biddingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Teklif Bölgesi ID"
        },
        "bpmStatus" : {
          "type" : "boolean",
          "description" : "Dengeleme Güç Piyasası Katılım Durumu"
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi"
        },
        "effectiveDateStartGreaterThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya İleri"
        },
        "effectiveDateStartLessThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya Geri"
        },
        "dspOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Talep Tarafı Katılım Organizasyon ID"
        },
        "periodDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Başlangıç Tarihi"
        },
        "periodDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Bitiş Tarihi"
        },
        "reconciliationPeriodDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Uzlaştırma Dönem Tarihi"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "eic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "gridTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Şebeke Tip ID"
        },
        "licenseOwnerOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Lisans Sahibi Organizasyon ID"
        },
        "lossFactorStatus" : {
          "type" : "boolean",
          "description" : "İSKK Durumu"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "marketParticipationTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Piyasa Katılım Tip ID"
        },
        "name" : {
          "type" : "string",
          "description" : "Sayaç Tesis Ad"
        },
        "oizOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "OSB Ana Organizasyon ID"
        },
        "organizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID"
        },
        "portfolioTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Portföy Tip ID"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "readingTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayaç Okuma Tip ID"
        },
        "reconciliationVersionTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Uzlaştırma Versiyon Tip ID"
        },
        "recordUsageStatusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Kayıt Kullanım Durum ID"
        },
        "serial" : {
          "type" : "string",
          "description" : "Sayaç Seri No"
        },
        "settlementPointIds" : {
          "type" : "array",
          "description" : "UEVÇB ID leri",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "statusId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Durum ID"
        },
        "substationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Trafo Merkezi ID"
        },
        "supplyDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş Tenzil UEVÇB ID"
        },
        "supplySettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş UEVÇB ID"
        },
        "uniqueCode" : {
          "type" : "string",
          "description" : "Tekil Kod"
        },
        "usageTypeIds" : {
          "type" : "array",
          "description" : "=Kullanım Tip ID leri",
          "items" : {
            "type" : "integer",
            "format" : "int64"
          }
        },
        "withdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID"
        },
        "withdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID"
        },
        "containsId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID İçeren"
        },
        "containsEic" : {
          "type" : "string",
          "description" : "EIC İçeren"
        },
        "containsMainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID İçeren"
        },
        "containsOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID İçeren"
        },
        "containsSerial" : {
          "type" : "string",
          "description" : "Sayaç Seri No İçeren"
        },
        "containsSupplyDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş Tenzil UEVÇB ID İçeren"
        },
        "containsSupplySettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Veriş UEVÇB ID İçeren"
        },
        "containsWithdrawDeductionSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş Tenzil UEVÇB ID İçeren"
        },
        "containsWithdrawSettlementPointId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Çekiş UEVÇB ID İçeren"
        },
        "page" : {
          "description" : "Dışa Aktar Sayfası",
          "$ref" : "#/definitions/Page"
        }
      }
    },
    "MeterQueryRequestDto" : {
      "type" : "object",
      "properties" : {
        "balancingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Dengeleme Bölgesi ID"
        },
        "biddingRegionId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Teklif Bölgesi ID"
        },
        "bpmStatus" : {
          "type" : "boolean",
          "description" : "Dengeleme Güç Piyasası Katılım Durumu"
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Tarihi"
        },
        "effectiveDateStartGreaterThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya İleri"
        },
        "effectiveDateStartLessThanOrEqual" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Geçerlilik Başlangıç Tarihine Eşit veya Geri"
        },
        "dspOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Talep Tarafı Katılım Organizasyon ID"
        },
        "periodDateStart" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Başlangıç Tarihi"
        },
        "periodDateEnd" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Dönem Bitiş Tarihi"
        },
        "reconciliationPeriodDate" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2023-01-01T00:00:00+03:00",
          "description" : "Uzlaştırma Dönem Tarihi"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "ID"
        },
        "eic" : {
          "type" : "string",
          "description" : "EIC"
        },
        "gridTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Şebeke Tip ID"
        },
        "licenseOwnerOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Lisans Sahibi Organizasyon ID"
        },
        "lossFactorStatus" : {
          "type" : "boolean",
          "description" : "İSKK Durumu"
        },
        "mainMeterId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Ana Sayaç ID"
        },
        "marketParticipationTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Piyasa Katılım Tip ID"
        },
        "name" : {
          "type" : "string",
          "description" : "Sayaç Tesis Ad"
        },
        "oizOrganizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "OSB Ana Organizasyon ID"
        },
        "organizationId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Organizasyon ID"
        },
        "portfolioTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Portföy Tip ID"
        },
        "readingOrganizationId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "readingTypeId" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Sayaç Okuma Tip ID"
        },
        "reconciliationVersionTypeId" : {
          "type" : "integer",
          "format" : "int64",
[...]
