{
    "swagger": "2.0",
    "info": {
        "version": "v1.15.1",
        "title": "transparency-electricity"
    },
    "host": "seffaflik.epias.com.tr",
    "basePath": "/electricity-service",
    "tags": [{
        "name": "consumption-data-controller"
    }, {
        "name": "consumption-export-controller"
    }, {
        "name": "dashboard-data-controller"
    }, {
        "name": "generation-data-controller"
    }, {
        "name": "generation-export-controller"
    }, {
        "name": "main-data-controller"
    }, {
        "name": "markets-ancillary-services-data-controller"
    }, {
        "name": "markets-ancillary-services-export-controller"
    }, {
        "name": "markets-bilateral-contracts-data-controller"
    }, {
        "name": "markets-bilateral-contracts-export-controller"
    }, {
        "name": "markets-dams-data-controller"
    }, {
        "name": "markets-dams-export-controller"
    }, {
        "name": "markets-data-controller"
    }, {
        "name": "markets-dgp-data-controller"
    }, {
        "name": "markets-dgp-export-controller"
    }, {
        "name": "markets-export-controller"
    }, {
        "name": "markets-gddk-data-controller"
    }, {
        "name": "markets-gddk-export-controller"
    }, {
        "name": "markets-general-data-data-controller"
    }, {
        "name": "markets-general-data-export-controller"
    }, {
        "name": "markets-gip-data-controller"
    }, {
        "name": "markets-gip-export-controller"
    }, {
        "name": "markets-gop-data-controller"
    }, {
        "name": "markets-gop-export-controller"
    }, {
        "name": "markets-imbalance-data-controller"
    }, {
        "name": "markets-imbalance-export-controller"
    }, {
        "name": "markets-vep-data-controller"
    }, {
        "name": "markets-vep-export-controller"
    }, {
        "name": "markets-yekg-data-controller"
    }, {
        "name": "markets-yekg-export-controller"
    }, {
        "name": "menu-controller"
    }, {
        "name": "renewables-data-controller"
    }, {
        "name": "renewables-export-controller"
    }, {
        "name": "transmission-data-controller"
    }, {
        "name": "transmission-export-controller"
    }],
    "schemes": ["https"],
    "paths": {
        "/v1/consumption/data/consumer-quantity": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Tüketici Sayısı Listeleme Servisi",
                "description": "İl bazında tüketici sayılarının tüketici türüne ve tüketici profil gruplarına göre ayrımı aylık olarak gösterilmektedir.",
                "operationId": "consumer-quantity",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ConsumerQuantityRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ConsumerQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/consumer-sector-list": {
            "get": {
                "tags": ["consumption-data-controller"],
                "summary": "Profil Grubu Listeleme Servisi",
                "description": "Tüketici bilgisi sayfalarının filtreleme alanları için Profil Grubu Listeleme servisidir.",
                "operationId": "consumer-sector-list",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ConsumerSectorResponseDto"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/consumption-quantity": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Tüketim Miktarları Listeleme Servisi",
                "description": "İl bazında tüketici miktarlarının tüketici türüne ve tüketici profil gruplarına göre ayrımı aylık olarak gösterilmektedir.",
                "operationId": "consumption-quantity",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ConsumptionQuantityRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ConsumptionQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/demand-forecast": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Talep Tahmini Listeleme Servisi",
                "description": "İlgili dağıtım bölgesinde dağıtım şirketine ait 2018-2027 arası tüketicilerin yıllık brüt tahmin değerleridir. Veriler TEAİŞ Raporlarından temin edilmektedir.",
                "operationId": "demand-forecast",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DemandForecastRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DemandForecastResponseDto"
                        }
                    }
                }
            }
        },
        "/v1/consumption/data/distribution-region": {
            "get": {
                "tags": ["consumption-data-controller"],
                "summary": "Dağıtım Bölgesi Servisi",
                "description": "Dağıtım Bölgesi Servisi",
                "operationId": "distribution-region",
                "produces": ["application/json", "application/xml"],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DistributionRegionResponseDto"
                        }
                    }
                }
            }
        },
        "/v1/consumption/data/eligible-consumer-count": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "İl, İlçe ST Adedi Listeleme Servisi",
                "description": "Sayaç kullanım tipi serbest tüketici olan sayaçların ilçe ve profil abone grubu bazındaki sayısıdır. Paylaşılan ilçe bilgilerinde geçmiş ilçe isimleri yer alabilmektedir. Analiz yapılırken bu hususa dikkat edilmesi önemle rica olunur.",
                "operationId": "eligible-consumer-count",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EligibleConsumerCountRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/EligibleConsumerCountResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/eligible-consumer-quantity": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Serbest Tüketici Tüketim Miktarı Listeleme Servisi",
                "description": "Sayaç kullanım tipi serbest tüketici olan sayaçların uzlaştırmaya esas çekiş miktarı toplamıdır.",
                "operationId": "eligible-consumer-quantity",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EligibleConsumerQuantityRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/EligibleConsumerQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/get-distribution-companies": {
            "get": {
                "tags": ["consumption-data-controller"],
                "summary": "Dağıtım Şirketlerinin Alındığı Servis",
                "description": "Dağıtım Şirketlerinin Alındığı Servis",
                "operationId": "distribution-company-data",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DistributionCompanyResponseDto"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/load-estimation-plan": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Yük Tahmin Planı Listeleme Servisi",
                "description": "Bir sonraki gün için yapılan saatlik talep miktarıdır.",
                "operationId": "load-estimation-plan",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/LoadEstimationPlanRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/LoadEstimationPlanResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/main-tariff-group-list": {
            "get": {
                "tags": ["consumption-data-controller"],
                "summary": "Ana Tarife Grubu",
                "description": "Ana Tarife gruplarını dönen servis.",
                "operationId": "main-tariff-group-list",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MainTariffGroup"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/meter-count": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Sayaç Adedi Listeleme Servisi",
                "description": "İçerisinde bulunana dönemden bir sonraki dönem için açıklanan sayaç adedi verisidir.",
                "operationId": "meter-count",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MeterCountRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/MeterCountResponseDto"
                        }
                    }
                }
            }
        },
        "/v1/consumption/data/monthly-index": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Aylık Endeks Listeleme Servisi",
                "description": "Piyasa Takas Fiyatı (PTF), Negatif Sistem Dengesizlik Fiyatı, YEKDEM Birim Fiyat, Ulusal Tarife Birim Fiyatları ve Piyasa Yönetim Sistemine kayıtlı tüketicilere ait uzlaştırma dönemi bazındaki çekiş miktarları kullanılarak hesaplanan değere ilişkin veri seti. Referans endeks 100 olarak alınacaktır.",
                "operationId": "monthly-index",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MonthlySupplyPriceIndexRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/MonthlySupplyPriceIndexResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/multiple-factor": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Çarpan Değeri Listeleme Servisi",
                "description": "Uzlaştırma dönemi bazında ölçüm yapılamayan sayaçlar için uygulanan profilleme işleminde kullanılan değerlere ilişkin veri seti.",
                "operationId": "multiple-factor",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MultipleFactorRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/MultipleFactorResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/multiple-factor-distribution": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Dağıtım Firmaları Listeleme Servisi",
                "description": "Dağıtım Firmaları Listeleme Servisi",
                "operationId": "multiple-factor-distribution",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DistributionRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Distribution"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/multiple-factor-meter-reading-type": {
            "get": {
                "tags": ["consumption-data-controller"],
                "summary": "Sayaç Okuma Tipi Listeleme Servisi",
                "description": "Sayaç Okuma Tipi Listeleme Servisi",
                "operationId": "multiple-factor-meter-reading-type",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MeterReadingType"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/multiple-factor-profile-group": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Profil Abone Grubu Listeleme Servisi",
                "description": "Profil Abone Grubu Listeleme Servisi,distributionId alanı verilirse verilen dönemdeki ilgili dağıtım firma/organizasyon id bilgisine göre ilgili dönemdeki geçerli abone grupları,boş gönderilirse tüm abone grupları listelenmektedir.",
                "operationId": "multiple-factor-profile-group",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/SubscriberProfileGroupRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SubscriberProfileGroup"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/percentage-consumption-info": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Yüzdesel Tüketim Bilgileri Listeleme Servisi",
                "description": "Fiili tüketimin il bazında ve profil abone grubu bazında yüzdesel kırılımına ilişkin veri seti.",
                "operationId": "percentage-consumption-info",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PercentageConsumptionInfoRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PercentageConsumptionInfoResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/planned-power-outage-info": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Planlı Kesinti Bilgisi Listeleme Servisi",
                "description": "Yapılması planlanan kesinti bilgilerinin sunulduğu ekrandır.",
                "operationId": "planned-power-outage-data",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PowerOutageRequest"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PowerOutageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/profile-subscription-group-list": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Profil Abone Grubu Listeleme Servisi",
                "description": "İl ilçe st adedi sayfası için profil abone grubu listesi döner",
                "operationId": "profile-subscription-group-list",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ProfileSubscriptionGroupRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/realtime-consumption": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Gerçek Zamanlı Tüketim Listeleme Servisi",
                "description": "Anlık olarak gerçekleşen tüketim değerinin saatlik bazda gösterildiği veridir. Gerçek Zamanlı Tüketim verisi 2 saat geriden gelecek sekilde yayınlanmaktadır.",
                "operationId": "realtime-consumption",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/RealTimeConsumptionRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/RealTimeConsumptionResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/st-adedi": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Serbest Tüketici Adedi Listeleme Servisi",
                "description": "Sayaç kullanım tipi serbest tüketici olan sayaçların sayısıdır.",
                "operationId": "st-adedi",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/StAdediRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StAdediResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/st-uecm": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Serbest Tüketici Uzlaştırmaya Esas Çekiş Miktarı Listeleme Servisi",
                "description": "Serbest tüketici hakkını kullananların, bir uzlaştırma dönemi içinde saatlik olarak sistemden aldığı enerji miktarlarının toplam değerine ilişkin veri seti.",
                "operationId": "st-uecm",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/StUecmRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StUecmResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/uecm": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Uzlaştırmaya Esas Çekiş Miktarı (UEÇM) Listeleme Servisi",
                "description": "Uzlaştırmaya esas çekiş birimlerinin, bir uzlaştırma dönemi içinde saatlik olarak sistemden aldığı enerji miktarlarının toplam değerine ilişkin veri seti",
                "operationId": "uecm",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UecmRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UecmResponseDto"
                        }
                    }
                }
            }
        },
        "/v1/consumption/data/unplanned-power-outage-info": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Plansız Kesinti Bilgisi Listeleme Servisi",
                "description": "Plansız kesintilerin sunulduğu ekrandır.",
                "operationId": "unplanned-power-outage-data",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PowerOutageRequest"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PowerOutageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/data/withdrawal-quantity-under-supply-liability": {
            "post": {
                "tags": ["consumption-data-controller"],
                "summary": "Tedarik Yükümlülüğü Kapsamındaki Uzlaştırmaya Esas Çekiş Miktarı (UEÇM) Listeleme Servisi",
                "description": "Uzlaştırmaya esas çekiş birimlerinin, tedarik yükümlülüğü kapsamında sistemden aldığı enerji miktarlarının toplam değerine ilişkin veri seti. Bir fatura döneminde YEKDEM gelirinin YEK toplam bedelinden fazla olması durumunda, Yenilenebilir Enerji Kaynaklarının Belgelendirilmesi ve Desteklenmesine İlişkin Yönetmeliğin 13 üncü maddesinin dördüncü fıkrası uyarınca hesaplama yapılmakta olup, Görevli Tedarik Şirketlerinin K1 kapsamındaki satışları hariç tüm satışlar için tedarikçilere uygulanan birim fiyat 0 TL/MWh olmaktadır.",
                "operationId": "withdrawal-quantity-under-supply-liability",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/SwvRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/WquslResponseDataDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/export/consumer-quantity": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Tüketici Sayısı Dışa Aktarım Servisi",
                "description": "İl bazında tüketici sayılarının tüketici türüne ve tüketici profil gruplarına göre ayrımı aylık olarak gösterilmektedir. Tüketici Sayısı Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "consumer-quantity-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ConsumerQuantityExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/consumption-quantity": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Tüketim Miktarları Dışa Aktarım Servisi",
                "description": "İl bazında tüketici miktarlarının tüketici türüne ve tüketici profil gruplarına göre ayrımı aylık olarak gösterilmektedir. Tüketim Miktarları Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "consumption-quantity-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ConsumptionQuantityExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/demand-forecast-export": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Talep Tahmini Dışa Aktarım Servisidir.",
                "description": "Talep Tahmini Dışa Aktarım Yapılan Servistir.",
                "operationId": "demand-forecast-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DemandForecastExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/eligible-consumer-count": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "İl, İlçe ST Adedi Dışa Aktarım Servisi",
                "description": "Sayaç kullanım tipi serbest tüketici olan sayaçların ilçe ve profil abone grubu bazındaki sayısıdır. Paylaşılan ilçe bilgilerinde geçmiş ilçe isimleri yer alabilmektedir. Analiz yapılırken bu hususa dikkat edilmesi önemle rica olunur. İl, İlçe ST Adedi Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "eligible-consumer-count-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EligibleConsumerCountExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/eligible-consumer-quantity": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Serbest Tüketici Tüketim Miktarı Dışa Aktarım Servisi",
                "description": "Sayaç kullanım tipi serbest tüketici olan sayaçların uzlaştırmaya esas çekiş miktarı toplamıdır. Serbest Tüketici Tüketim Miktarı Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "eligible-consumer-quantity-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/EligibleConsumerQuantityExportRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/export/load-estimation-plan": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Yük Tahmin Planı Dışa Aktarım Servisi",
                "description": "Bir sonraki gün için yapılan saatlik talep miktarıdır. Yük Tahmin Planı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "load-estimation-plan-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/LoadEstimationPlanExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/meter-count-export": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Sayaç Adedi Listeleme Servisi Dışa Aktarım Servisi",
                "description": "İçerisinde bulunana dönemden bir sonraki dönem için açıklanan sayaç adedi verisidir. Sayaç Adedi Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "meter-count-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MeterCountExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/monthly-index": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Aylık Endeks Dışa Aktarım Servisi",
                "description": "Piyasa Takas Fiyatı (PTF), Negatif Sistem Dengesizlik Fiyatı, YEKDEM Birim Fiyat, Ulusal Tarife Birim Fiyatları ve Piyasa Yönetim Sistemine kayıtlı tüketicilere ait uzlaştırma dönemi bazındaki çekiş miktarları kullanılarak hesaplanan değere ilişkin veri seti. Referans endeks 100 olarak alınacaktır. Aylık Endeks Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "monthly-index-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MonthlySupplyPriceIndexExportRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/export/multiple-factor": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Çarpan Değeri Dışa Aktarım Servisi",
                "description": "Uzlaştırma dönemi bazında ölçüm yapılamayan sayaçlar için uygulanan profilleme işleminde kullanılan değerlere ilişkin veri seti.Çarpan Değeri Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "multiple-factor-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/MultipleFactorExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/percentage-consumption-info": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Yüzdesel Tüketim Bilgileri Listeleme Servisi Dışa Aktarım Servisi",
                "description": "Fiili tüketimin il bazında ve profil abone grubu bazında yüzdesel kırılımına ilişkin veri seti. Yüzdesel Tüketim Bilgileri Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "percentage-consumption-info-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PercentageConsumptionInfoExportRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/consumption/export/planned-power-outage-info": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Planlı Kesinti Bilgisi Dışa Aktarım Servisi",
                "description": "Yapılması planlanan kesinti bilgilerinin sunulduğu ekrandır. Planlı Kesinti Bilgisi Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "planned-power-outage-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PowerOutageExportRequest"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/realtime-consumption": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Gerçek Zamanlı Tüketim Dışa Aktarım Servisi",
                "description": "Anlık olarak gerçekleşen tüketim değerinin saatlik bazda gösterildiği veridir. Gerçek Zamanlı Tüketim verisi 2 saat geriden gelecek sekilde yayınlanmaktadır.",
                "operationId": "realtime-consumption-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/RealTimeConsumptionExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/st-adedi": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Serbest Tüketici Adedi Dışa Aktarım Servisi",
                "description": "Sayaç kullanım tipi serbest tüketici olan sayaçların sayısıdır. Serbest Tüketici Adedi Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "st-adedi-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/StAdediExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/st-uecm": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Serbest Tüketici Uzlaştırmaya Esas Çekiş Miktarı Dışa Aktarım Servisi",
                "description": "Serbest tüketici hakkını kullananların, bir uzlaştırma dönemi içinde saatlik olarak sistemden aldığı enerji miktarlarının toplam değerine ilişkin veri seti. Serbest Tüketici Uzlaştırmaya Esas Çekiş Miktarı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "st-uecm-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/StUecmExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/uecm-export": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Uzlaştırmaya Esas Çekiş Miktarı (UEÇM) Dışa Aktarım Servisi",
                "description": "Uzlaştırmaya esas çekiş birimlerinin, bir uzlaştırma dönemi içinde saatlik olarak sistemden aldığı enerji miktarlarının toplam değerine ilişkin veri seti. Uzlaştırmaya Esas Çekiş Miktarı (UEÇM) Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "uecm-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UecmExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/unplanned-power-outage-info": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Plansız Kesinti Bilgisi Dışa Aktarım Servisi",
                "description": "Plansız kesintilerin sunulduğu ekrandır. Plansız Kesinti Bilgisi Listeleme Servisi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "unplanned-power-outage-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PowerOutageExportRequest"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/consumption/export/withdrawal-quantity-under-supply-liability": {
            "post": {
                "tags": ["consumption-export-controller"],
                "summary": "Tedarik Yükümlülüğü Kapsamındaki Uzlaştırmaya Esas Çekiş Miktarı (UEÇM) Dışa Aktarım Servisi",
                "description": "Serbest tüketici hakkını kullananların, bir uzlaştırma dönemi içinde saatlik olarak sistemden aldığı enerji miktarlarının toplam değerine ilişkin veri seti. Tedarik Yükümlülüğü Kapsamındaki Uzlaştırmaya Esas Çekiş Miktarı (UEÇM) Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "withdrawal-quantity-under-supply-liability-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/SwvExportRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/data/active-fullness": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Aktif Doluluk Listeleme Servisi",
                "description": "Bir barajın maksimum ve minimum işletme seviyeleri arasındaki hacimin yüzdesidir. Formül: Aktif Doluluk= [( İlgili Tarihteki Seviyeye Karşılık Gelen Hacim – Minimum Hacim ) / ( Maksimum Hacim – Minimum Hacim )] * 100. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri bulunmamaktadır.",
                "operationId": "active-fullness",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ActiveFullnessRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ActiveFullnessResponseDto"
                        }
                    }
                }
            }
        },
        "/v1/dams/data/active-volume": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Aktif Hacim Listeleme Servisi",
                "description": "Bir barajın ilgili tarihteki seviyeye karşılık gelen hacmi ve minimum işletme seviyeleri arasındaki hacimdir. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri verilmemektedir.",
                "operationId": "active-volume",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ActiveVolumeRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ActiveVolumeWrappedResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/data/basin-list": {
            "get": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Havza listesini dönen servisir.",
                "description": "Havza listesini dönen servisir.",
                "operationId": "basin-list",
                "produces": ["application/json", "application/xml"],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/v1/dams/data/daily-kot": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Günlük Kot Listeleme Servisi",
                "description": "Barajın ilgili gündeki su yüksekliğini belirtir. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri bulunmamaktadır.",
                "operationId": "daily-kot",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DailyKotRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DailyKotResponseDto"
                        }
                    }
                }
            }
        },
        "/v1/dams/data/daily-volume": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Günlük Hacim Listeleme Servisi",
                "description": "Bir barajın ilgili tarihteki seviyesine karşılık gelen hacimdir. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri verilmemektedir.",
                "operationId": "daily-volume",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DailyVolumeRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DailyVolumeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/data/dam-kot": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Kot Listeleme Servisi",
                "description": "İlgili barajın maximum ve minumum seviyesini gösterir.",
                "operationId": "dam-kot",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DamDataRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/KotResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/data/dam-list": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Havza ismi ile Barajlar listesini dönen servisir.",
                "description": "Havza ismi ile Barajlar listesini dönen servisir.",
                "operationId": "dam-list",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DamRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DamResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/data/dam-volume": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Hacim Listeleme Servisi",
                "description": "İlgili barajın maksimum ve minumum hacim seviyesini gösterir.",
                "operationId": "dam-volume",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DamDataRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/VolumeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/data/flow-rate-and-installed-power": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Debi ve Kurulu Güç Listeleme Servisi",
                "description": "İlgili barajda üniteden geçen suyun miktarını ve barajın kurulu gücünü gösterir.",
                "operationId": "flow-rate-and-installed-power",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DamDataRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/FlowRateAndInstalledPowerResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/data/water-energy-provision": {
            "post": {
                "tags": ["markets-dams-data-controller"],
                "summary": "Suyun Enerji Karşılığı Listeleme Servisi",
                "description": "Barajda yer alan suyun hesaplanan MWh cinsinden enerji karşılığıdır. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri verilmemektedir.",
                "operationId": "water-energy-provision",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/WaterEnergyProvisionRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/WaterEnergyProvisionResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/export/active-fullness": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Aktif Doluluk Dışa Aktarım Servisi",
                "description": "Bir barajın maksimum ve minimum işletme seviyeleri arasındaki hacimin yüzdesidir. Formül: Aktif Doluluk= [( İlgili Tarihteki Seviyeye Karşılık Gelen Hacim – Minimum Hacim ) / ( Maksimum Hacim – Minimum Hacim )] * 100. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri bulunmamaktadır. Aktif Doluluk Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "active-fullness-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ActiveFullnessExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/dams/export/active-volume": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Aktif Hacim Dışa Aktarım Servisi",
                "description": "Bir barajın ilgili tarihteki seviyeye karşılık gelen hacmi ve minimum işletme seviyeleri arasındaki hacimdir. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri verilmemektedir. Aktif Hacim Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "active-volume-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ActiveVolumeExportRequestDto"
                    }
                }, {
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dams/export/daily-kot": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Günlük Kot Dışa Aktarım Servisi",
                "description": "Barajın ilgili gündeki su yüksekliğini belirtir. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri bulunmamaktadır. Günlük Kot Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "daily-kot-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DailyKotExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/dams/export/daily-volume": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Günlük Hacim Dışa Aktarım Servisi",
                "description": "Bir barajın ilgili tarihteki seviyesine karşılık gelen hacimdir. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri verilmemektedir. Günlük Hacim Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "daily-volume-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DailyVolumeExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/dams/export/dam-kot": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Kot Dışa Aktarım Servisi",
                "description": "İlgili barajın maximum ve minumum seviyesini gösterir. Kot Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "dam-kot-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DamDataExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/dams/export/dam-volume": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Hacim Dışa Aktarım Servisi",
                "description": "İlgili barajın maksimum ve minumum hacim seviyesini gösterir. Hacim Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "dam-volume-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DamDataExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/dams/export/flow-rate-and-installed-power": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Debi ve Kurulu Güç Dışa Aktarım Servisi",
                "description": "İlgili barajda üniteden geçen suyun miktarını ve barajın kurulu gücünü gösterir. Debi ve Kurulu Güç Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "flow-rate-and-installed-power-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DamDataExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/dams/export/water-energy-provision": {
            "post": {
                "tags": ["markets-dams-export-controller"],
                "summary": "Suyun Enerji Karşılığı Dışa Aktarım Servisi",
                "description": "Barajda yer alan suyun hesaplanan MWh cinsinden enerji karşılığıdır. Veriler saat 17:00 itibariyle nihai halini almaktadır. Baraj verileri günlük olarak verilmektedir. Geriye dönük veri verilmemektedir. Suyun Enerji Karşılığı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "water-energy-provision-export",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Yapılacak isteğin içeriği.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/WaterEnergyProvisionExportRequestDto"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/dashboard/balancing-power-market": {
            "get": {
                "tags": ["dashboard-data-controller"],
                "summary": "Şeffaflık Ana Sayfası(Dashboard) Dengeleme Güç Piyasası Servisi",
                "description": "Şeffaflık Ana Sayfasında gösterilmek üzere,dengeleme güç piyasası verilerini getirir.",
                "operationId": "dashboard-balancing-power-market",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "name": "TGT",
                    "in": "header",
                    "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/electricity-service/technical/en/index.html#_adding_security_information_to_requests",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DashboardBalancingPowerMarketResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/dashboard/day-ahead-market": {
            "get": {
                "tags": ["dashboard-data-controller"],
                "summary": "Şeffaflık Ana Sayfası(Dashboard) Gün Öncesi Piyasası Servisi",
                "description": "Şeffaflık Ana Sayfası(Dashboard) Gün Öncesi Piyasası Servisi",
                "operationId": "dashboard-day-ahead-market",
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "name": "TGT",
                    "in": "header",
[...]
