{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "EPYS - Kayıt Servisleri"
  },
  "host": "epys-prp.epias.com.tr",
  "basePath": "/registration",
  "tags": [
    {
      "name": "aggregatorPortfolioController"
    },
    {
      "name": "market-participation"
    },
    {
      "name": "organization"
    },
    {
      "name": "organizationDemandParticipation"
    },
    {
      "name": "power-plant"
    },
    {
      "name": "saeStoragePortfolioController"
    },
    {
      "name": "settlement-aggregation-entity"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/aggregator-portfolio/approve": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_APPROVE_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_APPROVE_NOTES}",
        "operationId": "aggregator-portfolio-approve",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseAggregatorPortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/aggregator-portfolio/cancel": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_CANCEL_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_CANCEL_NOTES}",
        "operationId": "aggregator-portfolio-cancel",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseAggregatorPortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/aggregator-portfolio/invite": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_INVITE_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_INVITE_NOTES}",
        "operationId": "aggregator-portfolio-invite",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioTransitionInviteRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseAggregatorPortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/aggregator-portfolio/query": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_QUERY_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_QUERY_NOTES}",
        "operationId": "aggregator-portfolio-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseAggregatorPortfolioDto"
            }
          }
        }
      }
    },
    "/v1/aggregator-portfolio/query/invitation": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_QUERY_INVITATION_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_QUERY_INVITATION_NOTES}",
        "operationId": "aggregator-portfolio-query-invitation",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioTransitionQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseAggregatorPortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/aggregator-portfolio/quit": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_QUIT_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_QUIT_NOTES}",
        "operationId": "aggregator-portfolio-quit",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseAggregatorPortfolioDto"
            }
          }
        }
      }
    },
    "/v1/aggregator-portfolio/reject": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_REJECT_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_REJECT_NOTES}",
        "operationId": "aggregator-portfolio-reject",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseAggregatorPortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/aggregator-portfolio/remove": {
      "post": {
        "tags": [
          "aggregatorPortfolioController"
        ],
        "summary": "${AGGREGATOR_PORTFOLIO_REMOVE_VALUE}",
        "description": "${AGGREGATOR_PORTFOLIO_REMOVE_NOTES}",
        "operationId": "aggregator-portfolio-remove",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorPortfolioRemoveRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseAggregatorPortfolioDto"
            }
          }
        }
      }
    },
    "/v1/lookup": {
      "get": {
        "summary": "Mevcut Çoklu Seçim Anahtar Sorgulama Servisi",
        "description": "Mevcut çoklu seçim anahtar verilerini sorgular.",
        "operationId": "available-lookups",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupTypeResponse"
            }
          }
        }
      }
    },
    "/v1/lookup/query": {
      "post": {
        "summary": "Çoklu Seçim Detay Sorgulama Servisi",
        "description": "Çoklu seçim detay verilerini sorgular.",
        "operationId": "lookup-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LookupRequest"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupResponse"
            }
          }
        }
      }
    },
    "/v1/market-participation/query": {
      "post": {
        "tags": [
          "market-participation"
        ],
        "summary": "Piyasa Katılımı Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz piyasa katılımı bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "market-participation-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MarketParticipationQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseMarketParticipationDto"
            }
          }
        }
      }
    },
    "/v1/market-participation/update": {
      "post": {
        "tags": [
          "market-participation"
        ],
        "summary": "Piyasa Katılımı Güncelleme Servisi",
        "description": "Güncelleme yapmak istediğiniz piyasa katılımı bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "market-participation-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MarketParticipationUpdateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMarketParticipationDto"
            }
          }
        }
      }
    },
    "/v1/organization-demand-participation/fetch": {
      "post": {
        "tags": [
          "organizationDemandParticipation"
        ],
        "summary": "${ORGANIZATION_DEMAND_PARTICIPATION_FETCH_VALUE}",
        "description": "${ORGANIZATION_DEMAND_PARTICIPATION_FETCH_NOTES}",
        "operationId": "organization-demand-participation-fetch",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationDemandParticipationQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseOrganizationDemandParticipationDto"
            }
          }
        }
      }
    },
    "/v1/organization-demand-participation/update": {
      "post": {
        "tags": [
          "organizationDemandParticipation"
        ],
        "summary": "${ORGANIZATION_DEMAND_PARTICIPATION_UPDATE_VALUE}",
        "description": "${ORGANIZATION_DEMAND_PARTICIPATION_UPDATE_NOTES}",
        "operationId": "organization-demand-participation-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DescriptiveRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/organization/cascade/{effectiveId}": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Organizasyon Tüm Detay Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz organizasyon tüm detay bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-cascade-detail",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "effectiveId",
            "in": "path",
            "description": "Organizasyonun ID bilgisi",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationCascadeDto"
            }
          }
        }
      }
    },
    "/v1/organization/fetch-active-organizations": {
      "post": {
        "tags": [
          "organization"
        ],
        "summary": "Aktif Organizasyonlar Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz aktif organizasyon bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-fetch-active-organizations",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationListFetchDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLabelValueSubTypeDto"
            }
          }
        }
      }
    },
    "/v1/organization/fetch-main-organizations": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Ana Organizasyonlar Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz ana organizasyon bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-fetch-main-organizations",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/v1/organization/fetch-organizations-with-dam-participation": {
      "post": {
        "tags": [
          "organization"
        ],
        "summary": "Organizasyon GÖP Katılımı Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz organizasyon piyasa katılımı bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-fetch-organization-with-dam-participation",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationWithDamParticipationQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationWithDamParticipationQueryResponseDto"
            }
          }
        }
      }
    },
    "/v1/organization/fetch-organizations-with-licenses": {
      "post": {
        "tags": [
          "organization"
        ],
        "operationId": "OrganizationController_fetchOrganizationsWithLicenses_POST",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationListFetchDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationsWithLicensesDto"
            }
          }
        }
      }
    },
    "/v1/organization/fetch-single-organization": {
      "post": {
        "tags": [
          "organization"
        ],
        "summary": "Tekil Organizasyon Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz tekil organizasyon bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-fetch-single-organization",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationFetchDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationDto"
            }
          }
        }
      }
    },
    "/v1/organization/fetch-summary": {
      "post": {
        "tags": [
          "organization"
        ],
        "summary": "Organizasyon Özet Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz organizasyon özet bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-fetch-summary",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationFetchDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationSummaryDto"
            }
          }
        }
      }
    },
    "/v1/organization/get-distribution-area-with-provinces": {
      "get": {
        "tags": [
          "organization"
        ],
        "operationId": "OrganizationController_getDistributionAreaWithProvinces_GET",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDistributionAreaWithProvincesDto"
            }
          }
        }
      }
    },
    "/v1/organization/provinces/{effectiveId}": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Organizasyonun Bulunduğu İller Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz organizasyonun bulunduğu İller bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-get-organization-provinces",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "effectiveId",
            "in": "path",
            "description": "Organizasyonun ID bilgisi",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseProvinceDto"
            }
          }
        }
      }
    },
    "/v1/organization/query": {
      "post": {
        "tags": [
          "organization"
        ],
        "summary": "Organizasyon Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz organizasyon bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizationQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseOrganizationQueryResponseDto"
            }
          }
        }
      }
    },
    "/v1/organization/{effectiveId}": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Organizasyon Detay Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz organizasyon detay bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "organization-detail",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "effectiveId",
            "in": "path",
            "description": "Organizasyonun ID bilgisi",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationDto"
            }
          }
        }
      }
    },
    "/v1/power-plant/fetch-aggregators-with-limits": {
      "post": {
        "tags": [
          "power-plant"
        ],
        "summary": "${AGGREGATOR_FETCH_WITH_LIMIT_VALUE}",
        "description": "${AGGREGATOR_FETCH_WITH_LIMIT_NOTES}",
        "operationId": "fetch-aggregators-with-limits",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AggregatorOrganizationLimitRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseAggregatorOrganizationLimitResponseDto"
            }
          }
        }
      }
    },
    "/v1/power-plant/fetch-power-plants": {
      "post": {
        "tags": [
          "power-plant"
        ],
        "summary": "${POWER_PLANT_QUERY_LOOKUP_VALUE}",
        "description": "${POWER_PLANT_QUERY_LOOKUP_NOTES}",
        "operationId": "power-plant-query-lookup",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PowerPlantLookupRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/v1/power-plant/fetch-regions": {
      "post": {
        "tags": [
          "power-plant"
        ],
        "summary": "Santral Bölge Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz santral bölge bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "power-plant-regions",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PowerPlantRegionQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseRegionDto"
            }
          }
        }
      }
    },
    "/v1/power-plant/query": {
      "post": {
        "tags": [
          "power-plant"
        ],
        "summary": "Santral Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz santral bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "power-plant-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PowerPlantQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponsePowerPlantQueryResponseDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/approve": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_APPROVE_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_APPROVE_NOTES}",
        "operationId": "sae-storage-portfolio-approve",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSaeStoragePortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/cancel": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_CANCEL_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_CANCEL_NOTES}",
        "operationId": "sae-storage-portfolio-cancel",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSaeStoragePortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/invite": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_INVITE_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_INVITE_NOTES}",
        "operationId": "sae-storage-portfolio-invite",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioTransitionInviteRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSaeStoragePortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/query": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_QUERY_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_QUERY_NOTES}",
        "operationId": "sae-storage-portfolio-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseSaeStoragePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/query/invitation": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_QUERY_INVITATION_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_QUERY_INVITATION_NOTES}",
        "operationId": "sae-storage-portfolio-query-invitation",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioTransitionQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseSaeStoragePortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/quit": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_QUIT_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_QUIT_NOTES}",
        "operationId": "sae-storage-portfolio-quit",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSaeStoragePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/reject": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_REJECT_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_REJECT_NOTES}",
        "operationId": "sae-storage-portfolio-reject",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSaeStoragePortfolioTransitionDto"
            }
          }
        }
      }
    },
    "/v1/sae-storage-portfolio/remove": {
      "post": {
        "tags": [
          "saeStoragePortfolioController"
        ],
        "summary": "${SAE_STORAGE_PORTFOLIO_REMOVE_VALUE}",
        "description": "${SAE_STORAGE_PORTFOLIO_REMOVE_NOTES}",
        "operationId": "sae-storage-portfolio-remove",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeStoragePortfolioRemoveRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSaeStoragePortfolioDto"
            }
          }
        }
      }
    },
    "/v1/sae/detail": {
      "post": {
        "tags": [
          "settlement-aggregation-entity"
        ],
        "summary": "UEVÇB Detay Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz UEVÇB detay bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "settlement-aggregation-entity-detail",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeGetDetailRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSaeDto"
            }
          }
        }
      }
    },
    "/v1/sae/query": {
      "post": {
        "tags": [
          "settlement-aggregation-entity"
        ],
        "summary": "UEVÇB Sorgulama Servisi",
        "description": "Sorgulama yapmak istediğiniz UEVÇB bilgilerini bu servis ile alabilirsiniz.",
        "operationId": "settlement-aggregation-entity-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SaeQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseSaeQueryResponseDto"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AggregatorOrganizationLimitRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time"
        },
        "observerDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gözlem Tarihi"
        },
        "aggregatorEid": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_EID}"
        }
      }
    },
    "AggregatorOrganizationLimitResponseDto": {
      "type": "object",
      "properties": {
        "aggregatorEid": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_EID}"
        },
        "aggregatorName": {
          "type": "string",
          "description": "${AGGREGATOR_NAME}"
        },
        "totalPower": {
          "type": "number",
          "description": "Toplam Güç"
        },
        "licensedPower": {
          "type": "number",
          "description": "${LICENSEDPOWER}"
        },
        "unlicensedPower": {
          "type": "number",
          "description": "${UNLICENSEDPOWER}"
        },
        "exceededPower": {
          "type": "number",
          "description": "${EXCEEDEDPOWER}"
        },
        "sanctionDate": {
          "type": "string",
          "format": "date-time",
          "description": "${SANCTIONDATE}"
        }
      }
    },
    "AggregatorPortfolioDto": {
      "type": "object",
      "properties": {
        "periodStart": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_PERIOD_START}"
        },
        "periodEnd": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_PERIOD_END}"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_PORTFOLIO_ID}"
        },
        "invitationDate": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_INVITATION_DATE}"
        },
        "invitationId": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_PORTFOLIO_TRANSITION_ID}"
        },
        "aggregatorEid": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_EID}"
        },
        "aggregatorName": {
          "type": "string",
          "description": "${AGGREGATOR_NAME}"
        },
        "licenseOwnerEid": {
          "type": "integer",
          "format": "int64",
          "description": "${LICENSE_OWNER_EID}"
        },
        "licenseOwnerName": {
          "type": "string",
          "description": "${LICENSE_OWNER_NAME}"
        },
        "powerPlantEid": {
          "type": "integer",
          "format": "int64",
          "description": "Santral ID"
        },
        "powerPlantName": {
          "type": "string",
          "description": "Santral Adı"
        },
        "powerPlantEic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "licenseNo": {
          "type": "string",
          "description": "Lisans No"
        },
        "aggregatorPortfolioStatus": {
          "description": "${AGGREGATOR_PORTFOLIO_STATUS}",
          "$ref": "#/definitions/LookupDTO"
        },
        "modifyUser": {
          "type": "string",
          "description": "${AGGREGATOR_PORTFOLIO_MODIFY_USER}"
        },
        "modifyDate": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_MODIFY_DATE}"
        },
        "queriedPeriod": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_QUERIED_PERIOD}"
        }
      }
    },
    "AggregatorPortfolioQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "period": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_PERIOD}"
        },
        "invitationId": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_PORTFOLIO_INVITATION_ID}"
        },
        "aggregatorEid": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_EID}"
        },
        "licenseOwnerEid": {
          "type": "integer",
          "format": "int64",
          "description": "${LICENSE_OWNER_EID}"
        },
        "powerPlantEid": {
          "type": "integer",
          "format": "int64",
          "description": "Santral ID"
        },
        "statusIds": {
          "type": "array",
          "description": "${AGGREGATOR_PORTFOLIO_STATUS}",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "AggregatorPortfolioRemoveRequestDto": {
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "description": "${AGGREGATOR_PORTFOLIO_ID}",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "AggregatorPortfolioRequestDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_PORTFOLIO_ID}"
        }
      }
    },
    "AggregatorPortfolioTransitionDto": {
      "type": "object",
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_PERIOD}"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_PORTFOLIO_ID}"
        },
        "aggregatorEid": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_EID}"
        },
        "aggregatorName": {
          "type": "string",
          "description": "${AGGREGATOR_NAME}"
        },
        "licenseOwnerEid": {
          "type": "integer",
          "format": "int64",
          "description": "${LICENSE_OWNER_EID}"
        },
        "licenseOwnerName": {
          "type": "string",
          "description": "${LICENSE_OWNER_NAME}"
        },
        "powerPlantEid": {
          "type": "integer",
          "format": "int64",
          "description": "Santral ID"
        },
        "powerPlantName": {
          "type": "string",
          "description": "Santral Adı"
        },
        "powerPlantEic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "licenseNo": {
          "type": "string",
          "description": "Lisans No"
        },
        "aggregatorPortfolioTransitionStatus": {
          "description": "${AGGREGATOR_PORTFOLIO_TRANSITION_STATUS}",
          "$ref": "#/definitions/LookupDTO"
        },
        "createUser": {
          "type": "string",
          "description": "${AGGREGATOR_PORTFOLIO_CREATE_USER}"
        },
        "modifyUser": {
          "type": "string",
          "description": "${AGGREGATOR_PORTFOLIO_MODIFY_USER}"
        },
        "createDate": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_CREATE_DATE}"
        },
        "modifyDate": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_MODIFY_DATE}"
        }
      }
    },
    "AggregatorPortfolioTransitionInviteRequestDto": {
      "type": "object",
      "properties": {
        "powerPlantEids": {
          "type": "array",
          "description": "${LICENSE_OWNER_EID}",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "AggregatorPortfolioTransitionQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "period": {
          "type": "string",
          "format": "date-time",
          "description": "${AGGREGATOR_PORTFOLIO_PERIOD}"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_PORTFOLIO_TRANSITION_ID}"
        },
        "aggregatorEid": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_EID}"
        },
        "licenseOwnerEid": {
          "type": "integer",
          "format": "int64",
          "description": "${LICENSE_OWNER_EID}"
        },
        "powerPlantEid": {
          "type": "integer",
          "format": "int64",
          "description": "Santral ID"
        },
        "kind": {
          "type": "integer",
          "format": "int64",
          "description": "${AGGREGATOR_PORTFOLIO_TRANSITION_KIND}"
        },
        "statusIds": {
          "type": "array",
          "description": "${AGGREGATOR_PORTFOLIO_TRANSITION_STATUS}",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "BaseDTO": {
      "type": "object"
    },
    "BooleanDTO": {
      "type": "object",
      "properties": {
        "completed": {
          "type": "boolean"
        }
      }
    },
    "DescriptionDto": {
      "type": "object",
      "required": [
        "description",
        "language"
      ],
      "properties": {
        "language": {
          "type": "string",
          "description": "Dil"
        },
        "description": {
          "type": "string",
          "description": "Tanım"
        }
      }
    },
    "DescriptiveRequestDto": {
      "type": "object",
      "properties": {
        "descriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DescriptionDto"
          }
        }
      }
    },
    "DistributionAreaWithProvincesDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64"
        },
        "eic": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "provinces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProvinceDto"
          }
        }
      }
    },
    "LabelValueDTO": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "LabelValueSubTypeDto": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Etiket"
        },
        "value": {
          "type": "string",
          "description": "Değer"
        },
        "subType": {
          "description": "Alt Tip",
          "$ref": "#/definitions/LookupDTO"
        }
      }
    },
    "Localization": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/LocalizationPK"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "LocalizationDTO": {
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Çoklu Seçim Dili"
        },
        "text": {
          "type": "string",
          "description": "Çoklu Seçim Açıklama (Dile Göre)"
        }
      }
    },
    "LocalizationPK": {
      "type": "object",
      "properties": {
        "localizationId": {
          "type": "integer",
          "format": "int64"
        },
        "language": {
          "type": "string"
        }
      }
    },
    "LookupDTO": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Çoklu Seçim ID"
        },
        "value": {
          "type": "string",
          "description": "Çoklu Seçim Değer"
        },
        "localizations": {
          "type": "array",
          "description": "Çoklu Seçim Yerelleştirme Listesi",
          "items": {
            "$ref": "#/definitions/LocalizationDTO"
          }
        }
      }
    },
    "LookupRequest": {
      "type": "object",
      "required": [
        "lookupType"
      ],
      "properties": {
        "lookupType": {
          "type": "string",
          "description": "Çoklu Seçim Anahtarı"
        }
      }
    },
    "LookupResponse": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Çoklu Seçim Değer Listesi",
          "items": {
            "$ref": "#/definitions/LookupDTO"
          }
        }
      }
    },
    "LookupTypeDTO": {
      "type": "object",
      "properties": {
        "lookupType": {
          "type": "string",
          "description": "Çoklu Seçim Anahtarı"
        },
        "lookupDescription": {
          "type": "string",
          "description": "Çoklu Seçim Anahtar Açıklama"
        }
      }
    },
    "LookupTypeResponse": {
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "description": "Çoklu Seçim Anahtar Listesi",
          "items": {
            "$ref": "#/definitions/LookupTypeDTO"
          }
        }
      }
    },
    "MarketParticipationDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "participationStatus": {
          "description": "Katılım Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "marketType": {
          "description": "Piyasa Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        },
        "organizationEid": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "organizationName": {
          "type": "string",
          "description": "Organizasyon Adı"
        }
      }
    },
    "MarketParticipationQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "marketTypeIds": {
          "type": "array",
          "description": "Piyasa Tipi ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "status": {
          "type": "array",
          "description": "Durum",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        }
      }
    },
    "MarketParticipationUpdateRequestDto": {
      "type": "object",
      "required": [
        "descriptions",
        "organizationEffectiveId"
      ],
      "properties": {
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "marketTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Piyasa Tipi ID"
        },
        "status": {
          "type": "integer",
          "format": "int64",
          "description": "Durum"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        },
        "descriptions": {
          "type": "array",
          "description": "Açıklamalar",
          "items": {
            "$ref": "#/definitions/DescriptionDto"
          }
        }
      }
    },
    "NameBreakdownResponseDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        },
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "display": {
          "type": "boolean"
        }
      }
    },
    "OrganizationAdminInformationResponseDto": {
      "type": "object",
      "properties": {
        "tcIdentifier": {
          "type": "string",
          "description": "TC Kimlik No"
        },
        "adminName": {
          "type": "string",
          "description": "Yetkili Adı"
        },
        "adminSurname": {
          "type": "string",
          "description": "Yetkili Soyadı"
        },
        "adminPhone": {
          "type": "string",
          "description": "Yetkili Telefonu"
        },
        "adminEmail": {
          "type": "string",
          "description": "Yetkili E-Posta"
        },
        "adminUsername": {
          "type": "string",
          "description": "Admin Kullanıcı Adı"
        }
      }
    },
    "OrganizationCascadeDto": {
      "type": "object",
      "properties": {
        "organization": {
          "description": "Organizasyon",
          "$ref": "#/definitions/OrganizationDto"
        },
        "organizationContactInformation": {
          "description": "Organizasyon İletişim Bilgileri",
          "$ref": "#/definitions/OrganizationContactInformationDto"
        },
        "organizationDocumentInformation": {
          "description": "Organizasyon Belgeleri",
          "$ref": "#/definitions/OrganizationDocumentInformationDto"
        },
        "organizationLicenseInformationList": {
          "type": "array",
          "description": "Organizasyon Lisans Bilgileri",
          "items": {
            "$ref": "#/definitions/OrganizationLicenseInformationDto"
          }
        },
        "organizationTaxInformation": {
          "description": "Organizasyon Vergi Bilgileri",
          "$ref": "#/definitions/OrganizationTaxInformationDto"
        },
        "organizationAdminInformation": {
          "description": "Organizasyon Yetkili Bilgileri",
          "$ref": "#/definitions/OrganizationAdminInformationResponseDto"
        },
        "organizationPfmInformation": {
          "description": "Organizasyon VEP Bilgileri",
          "$ref": "#/definitions/OrganizationPfmInformationDto"
        }
      }
    },
    "OrganizationContactInformationDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "address": {
          "type": "string",
          "description": "Adres"
        },
        "provinceId": {
          "type": "integer",
          "format": "int64",
          "description": "İl ID"
        },
        "districtId": {
          "type": "integer",
          "format": "int64",
          "description": "İlçe ID"
        },
        "zipCode": {
          "type": "string",
          "description": "Posta Kodu"
        },
        "phone1": {
          "type": "string",
          "description": "Telefon 1"
        },
        "phone2": {
          "type": "string",
          "description": "Telefon 2"
        },
        "fax": {
          "type": "string",
          "description": "Faks"
        },
        "registeredEmail": {
          "type": "string",
          "description": "KEP E-Posta"
        }
      }
    },
    "OrganizationDemandParticipationDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "demandParticipationServiceType": {
          "description": "${DEMANDPARTICIPATIONSERVICETYPE}",
          "$ref": "#/definitions/LookupDTO"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        }
      }
    },
    "OrganizationDemandParticipationQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "demandParticipationServiceType": {
          "type": "integer",
          "format": "int64",
          "description": "${DEMANDPARTICIPATIONSERVICETYPE}"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        }
      }
    },
    "OrganizationDocumentFileInformationDto": {
      "type": "object",
      "properties": {
        "fileId": {
          "type": "integer",
          "format": "int64",
          "description": "${FILEID}"
        },
        "fileName": {
          "type": "string",
          "description": "Dosya Adı"
        },
        "filePath": {
          "type": "string",
          "description": "Dosya Adı"
        },
        "user": {
          "type": "string",
          "description": "Kullanıcı"
        },
        "uploadDate": {
          "type": "string",
          "format": "date-time",
          "description": "Yükleme Tarihi"
        }
      }
    },
    "OrganizationDocumentInformationDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "kf01": {
          "description": "KF01",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "kf03": {
          "description": "KF03",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "commercialRegistryNewspaperCopy": {
          "description": "Kamu Kayıtlı Ticaret Sicil Gazetesinde Yayımlanan İlan",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "signatureCirculars": {
          "description": "Imza Sirkülerinin İmzalanmış Örnekleri",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "licenseDocuments": {
          "description": "Lisans Belgeleri",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "damParticipationAgreement": {
          "description": "Gün Öncesi Piyasa Katılım Sözleşmesi",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "idmParticipationAgreement": {
          "description": "Gün İçi Piyasa Katılım Sözleşmesi",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "marketParticipationAgreement": {
          "description": "Market Katılım Sözleşmesi",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "meterSingleLineDiagram": {
          "description": "Tek Hat Çizelge",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "connectionAgreement": {
          "description": "Bağlantı Sözleşmesi",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "temporaryAdmission": {
          "description": "Geçici Kabul",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "pfmParticipationAgreement": {
          "description": "VEP Katılım Sözleşmesi",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        },
        "pfmMakerAgreement": {
          "description": "VEP Üretici Sözleşmesi",
          "$ref": "#/definitions/OrganizationDocumentInformationStatusDto"
        }
      }
    },
    "OrganizationDocumentInformationStatusDto": {
      "type": "object",
      "properties": {
        "documentType": {
          "description": "Belge Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "isChecked": {
          "type": "boolean",
          "description": "Onaylandı"
        },
        "user": {
          "type": "string",
          "description": "Kullanıcı"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrganizationDocumentFileInformationDto"
          }
        }
      }
    },
    "OrganizationDto": {
      "type": "object",
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00"
        },
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "shortName": {
          "type": "string",
          "description": "Kısa Ad"
        },
        "code": {
          "type": "string",
          "description": "Kod"
        },
        "isCategory": {
          "type": "boolean",
          "description": "Kategori"
        },
        "kind": {
          "description": "Tür",
          "$ref": "#/definitions/LookupDTO"
        },
        "state": {
          "description": "Durum",
          "$ref": "#/definitions/LookupDTO"
        },
        "type": {
          "description": "Tip",
          "$ref": "#/definitions/LookupDTO"
        },
        "subType": {
          "description": "Alt Tip",
          "$ref": "#/definitions/LookupDTO"
        },
        "licenseType": {
          "description": "Lisans Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "mainOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Organizasyon ID"
        },
        "totalPower": {
          "type": "number",
          "description": "Toplam Güç"
        },
        "canParticipateInPfm": {
          "type": "boolean",
          "description": "VEP Katılımına Uygun"
        },
        "isPfmMaker": {
          "type": "boolean",
          "description": "VEP Üretici"
        },
        "hasActiveLicense": {
          "type": "boolean",
          "description": "Aktif Durumda Lisans Var"
        },
        "hasActivePowerPlant": {
          "type": "boolean",
          "description": "Aktif Durumda Santral Var"
        },
        "hasActiveSae": {
          "type": "boolean",
          "description": "Aktif Durumda UEVÇB Var"
        },
        "provinces": {
          "type": "array",
          "description": "İller",
          "items": {
            "$ref": "#/definitions/ProvinceDto"
          }
        },
        "readingOrganization": {
          "type": "array",
          "description": "Sayaç Okuyan Kurum",
          "items": {
            "$ref": "#/definitions/ReadingOrganizationDto"
          }
        },
        "address": {
          "type": "string",
          "description": "Adres"
        },
        "provinceId": {
          "type": "integer",
          "format": "int64",
          "description": "İl ID"
        },
        "districtId": {
          "type": "integer",
          "format": "int64",
          "description": "İlçe ID"
        },
        "zipCode": {
          "type": "string",
          "description": "Posta Kodu"
        },
        "phone1": {
          "type": "string",
          "description": "Telefon 1"
        },
        "phone2": {
          "type": "string",
          "description": "Telefon 2"
        },
        "fax": {
          "type": "string",
          "description": "Faks"
        },
        "registeredEmail": {
          "type": "string",
          "description": "KEP E-Posta"
        },
        "isAggregator": {
          "type": "boolean",
          "description": "Toplayıcı"
        }
      }
    },
    "OrganizationFetchDto": {
      "type": "object",
      "required": [
        "effectiveId"
      ],
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        }
      }
    },
    "OrganizationLicenseInformationDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "organizationName": {
          "type": "string",
          "description": "Organizasyon Adı"
        },
        "organizationState": {
          "description": "Organizasyon Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "licenseNo": {
          "type": "string",
          "description": "Lisans No"
        },
        "licenseType": {
          "description": "Lisans Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "isExpired": {
          "type": "boolean",
          "description": "Tarihi Geçmiş"
        },
        "expiryDuration": {
          "type": "integer",
          "format": "int64",
          "description": "Geçerlilik Süresi"
        },
        "licenseDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Lisans Tarihi Başlangıç"
        },
        "licenseDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Lisans Tarihi Bitiş"
        }
      }
    },
    "OrganizationListFetchDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        },
        "types": {
          "type": "array",
          "description": "Tipler",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "subTypes": {
          "type": "array",
          "description": "Alt Tipler",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "states": {
          "type": "array",
          "description": "Durumlar",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "exclusions": {
          "type": "array",
          "description": "İstisnalar",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "effectiveIds": {
          "type": "array",
          "description": "ID'ler",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isAggregator": {
          "type": "boolean",
          "description": "Toplayıcı"
        },
        "excludeNonAggregatorRetail": {
          "type": "boolean",
          "description": "${EXCLUDE_NON_AGGREGATOR_RETAIL}"
        }
      }
    },
    "OrganizationPfmInformationDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "organizationEic": {
          "type": "string",
          "description": "Organizasyon ETSO Kodu"
        },
        "canParticipateInPfm": {
          "type": "boolean",
          "description": "VEP Katılımına Uygun"
        },
        "isPfmMaker": {
          "type": "boolean",
          "description": "VEP Üretici"
        },
        "hasPfmParticipationDocument": {
          "type": "boolean",
          "description": "Katılım Sözleşmesi sahiplik durumu"
        },
        "hasSettlementAggregationEntityWithPower": {
          "type": "boolean",
          "description": "Sıfırdan fazla güçü bulunan UEVÇB sahiplik durumu"
        },
        "hasDamOrIdmParticipationDocument": {
          "type": "boolean",
          "description": "Gün Öncesi Piyasa Katılım Sözleşmesi sahiplik durumu"
        },
        "hasOpenInterest": {
          "type": "boolean",
          "description": "Açık Pozisyon sahiplik durumu"
        },
        "hasPendingInvoice": {
          "type": "boolean",
          "description": "Bekleyen Fatura sahiplik durumu"
        },
        "isParticipatingInPfm": {
          "type": "boolean",
          "description": "VEP'e Katılıyor"
        },
        "hasPfmMakerAgreementDocument": {
          "type": "boolean",
          "description": "VEP Üretici Sözleşmesi sahiplik durumu"
        }
      }
    },
    "OrganizationQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "effectiveIdContains": {
          "type": "string",
          "description": "ID içerir"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "shortName": {
          "type": "string",
          "description": "Kısa Ad"
        },
        "code": {
          "type": "string",
          "description": "Kod"
        },
        "isCategory": {
          "type": "boolean",
          "description": "Kategori"
        },
        "licenseTypeIds": {
          "type": "array",
          "description": "Lisans Tipi ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "stateIds": {
          "type": "array",
          "description": "Durum ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "typeIds": {
          "type": "array",
          "description": "Tip ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "subTypeIds": {
          "type": "array",
          "description": "Alt Tip ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "mainOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Organizasyon ID"
        },
        "recordStatusIds": {
          "type": "array",
          "description": "Kayıt Durumu ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "provinceId": {
          "type": "integer",
          "format": "int64",
          "description": "İl ID"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        },
        "taxNo": {
          "type": "string",
          "description": "Vergi No"
        },
        "isAggregator": {
          "type": "boolean",
          "description": "Toplayıcı"
        }
      }
    },
    "OrganizationQueryResponseDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "shortName": {
          "type": "string",
          "description": "Kısa Ad"
        },
        "code": {
          "type": "string",
          "description": "Kod"
        },
        "isCategory": {
          "type": "boolean",
          "description": "Kategori"
        },
        "type": {
          "description": "Tip",
          "$ref": "#/definitions/LookupDTO"
        },
        "subType": {
          "description": "Alt Tip",
          "$ref": "#/definitions/LookupDTO"
        },
        "state": {
          "description": "Durum",
          "$ref": "#/definitions/LookupDTO"
        },
        "licenseType": {
          "description": "Lisans Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "mainOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Ana Organizasyon ID"
        },
        "recordStatus": {
          "description": "Kayıt Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "totalPower": {
          "type": "number",
          "description": "Toplam Güç"
        },
        "canParticipateInPfm": {
          "type": "boolean",
          "description": "VEP Katılımına Uygun"
        },
        "isPfmMaker": {
          "type": "boolean",
          "description": "VEP Üretici"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        },
        "address": {
          "type": "string",
          "description": "Adres"
        },
        "provinceId": {
          "type": "integer",
          "format": "int64",
          "description": "İl ID"
        },
        "districtId": {
          "type": "integer",
          "format": "int64",
          "description": "İlçe ID"
        },
        "zipCode": {
          "type": "string",
          "description": "Posta Kodu"
        },
        "phone1": {
          "type": "string",
          "description": "Telefon 1"
        },
        "phone2": {
          "type": "string",
          "description": "Telefon 2"
        },
        "fax": {
          "type": "string",
          "description": "Faks"
        },
        "registeredEmail": {
          "type": "string",
          "description": "KEP E-Posta"
        },
        "taxNo": {
          "type": "string",
          "description": "Vergi No"
        },
        "isAggregator": {
          "type": "boolean",
          "description": "Toplayıcı"
        }
      }
    },
    "OrganizationSummaryDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "shortName": {
          "type": "string",
          "description": "Kısa Ad"
        }
      }
    },
    "OrganizationTaxInformationDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "taxAdministration": {
          "type": "string",
          "description": "Vergi Dairesi"
        },
        "taxNo": {
          "type": "string",
          "description": "Vergi No"
        }
      }
    },
    "OrganizationWithDamParticipationQueryRequestDto": {
      "type": "object",
      "required": [
        "effectiveDate"
      ],
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "stateIds": {
          "type": "array",
          "description": "Durum ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "typeIds": {
          "type": "array",
          "description": "Tip ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isParticipating": {
          "type": "boolean",
          "description": "Katılıyor"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        }
      }
    },
    "OrganizationWithDamParticipationQueryResponseDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "shortName": {
          "type": "string",
          "description": "Kısa Ad"
        },
        "stateId": {
          "type": "integer",
          "format": "int64",
          "description": "Durum ID"
        },
        "typeId": {
          "type": "integer",
          "format": "int64",
          "description": "Tip ID"
        },
        "isParticipating": {
          "type": "boolean",
          "description": "Katılıyor"
        }
      }
    },
    "OrganizationsWithLicensesDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64"
        },
        "eic": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "isCategory": {
          "type": "boolean"
        },
        "mainOrganizationId": {
          "type": "integer",
          "format": "int64"
        },
        "kind": {
          "$ref": "#/definitions/LookupDTO"
        },
        "state": {
          "$ref": "#/definitions/LookupDTO"
        },
        "type": {
          "$ref": "#/definitions/LookupDTO"
        },
        "subType": {
          "$ref": "#/definitions/LookupDTO"
        },
        "licenseType": {
          "$ref": "#/definitions/LookupDTO"
        },
        "address": {
          "type": "string"
        },
        "provinceId": {
          "type": "integer",
          "format": "int64"
        },
        "districtId": {
          "type": "integer",
          "format": "int64"
        },
        "zipCode": {
          "type": "string"
        },
        "phone1": {
          "type": "string"
        },
        "phone2": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "registeredEmail": {
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrganizationLicenseInformationDto"
          }
        }
      }
    },
    "Page": {
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int64",
          "example": "${EXAMPLE_PAGE_NUMBER}",
          "description": "${VALUE_PAGE_NUMBER}"
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "example": "${EXAMPLE_PAGE_SIZE}",
          "description": "${VALUE_PAGE_SIZE}"
        },
        "total": {
          "type": "integer",
          "format": "int64",
          "example": "${EXAMPLE_PAGE_TOTAL}",
          "description": "${VALUE_PAGE_TOTAL}"
        },
        "sort": {
          "description": "${VALUE_PAGE_SORT}",
          "$ref": "#/definitions/SortDTO"
        }
      }
    },
    "PowerPlantLookupRequestDto": {
      "type": "object",
      "properties": {
        "organizationEid": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "statusId": {
          "type": "integer",
          "format": "int64",
          "description": "Durum"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        },
        "observerDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gözlem Tarihi"
        }
      }
    },
    "PowerPlantQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "ids": {
          "type": "array",
          "description": "ID'ler",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "idContains": {
          "type": "string",
          "description": "ID içerir"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "licenseNumber": {
          "type": "string",
          "description": "Lisans No"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID"
        },
        "organizationOrLicenseOwnerId": {
          "type": "integer",
          "format": "int64",
          "description": "${ORGANIZATIONORLICENSEOWNERID}"
        },
        "organizationIdContains": {
          "type": "string",
          "description": "Organizasyon ID içerir"
        },
        "organizationName": {
          "type": "string",
          "description": "Organizasyon Adı"
        },
        "licenseTypeIds": {
          "type": "array",
          "description": "Lisans Tipi ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "sourceGroupIds": {
          "type": "array",
          "description": "Kaynak Grubu ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "sourceTypeIds": {
          "type": "array",
          "description": "Kaynak Tipi ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "statusIds": {
          "type": "array",
          "description": "Durum ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "rsmStatusIds": {
          "type": "array",
          "description": "Yekdem Durumu ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "recordStatusIds": {
          "type": "array",
          "description": "Kayıt Durumu ID'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "installedPowerMin": {
          "type": "number",
          "description": "En Az Kurulu Güç"
        },
        "installedPowerMax": {
          "type": "number",
          "description": "En Fazla Kurulu Güç"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        },
        "observerDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gözlem Tarihi"
        },
        "trimmingStatusIds": {
          "type": "array",
          "description": "Kırpma Durumu",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "licenseOwnerEid": {
          "type": "integer",
          "format": "int64",
          "description": "${LICENSE_OWNER_EID}"
        }
      }
    },
    "PowerPlantQueryResponseDto": {
      "type": "object",
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "eic": {
          "type": "string",
          "description": "ETSO Kodu"
        },
        "provinceId": {
          "type": "integer",
          "format": "int64",
          "description": "İl ID"
        },
        "provinceName": {
          "type": "string",
          "description": "İl Adı"
        },
        "districtId": {
          "type": "integer",
          "format": "int64",
          "description": "İlçe ID"
        },
        "districtName": {
          "type": "string",
          "description": "İlçe Adı"
        },
        "regionalLoadDistributionCenterId": {
          "description": "Bölgesel Yük Dağıtım Merkezi ID",
          "$ref": "#/definitions/LookupDTO"
        },
        "maxWithdrawalPower": {
          "type": "number",
          "description": "En Fazla Çekilebilir Güç"
        },
        "maxSupplyPower": {
          "type": "number",
          "description": "En Fazla Sağlanabilen Güç"
        },
        "installedPower": {
          "type": "number",
          "description": "Kurulu Güç"
        },
        "estimatedAnnualProduction": {
          "type": "number",
          "description": "Hesaplanan Yıllık Üretim"
        },
        "numberOfUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Adet"
        },
        "unitsDescription": {
          "type": "string",
          "description": "Adet Açıklaması"
        },
        "sourceType": {
          "description": "Kaynak Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "sourceGroup": {
          "description": "Kaynak Grubu",
          "$ref": "#/definitions/LookupDTO"
        },
        "cycleType": {
          "description": "Çevrim Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "status": {
          "description": "Durum",
          "$ref": "#/definitions/LookupDTO"
        },
        "technologyType": {
          "description": "Teknoloji Tipi",
          "$ref": "#/definitions/PowerPlantTechnologyType"
        },
        "reservoirArea": {
          "type": "number",
          "description": "Rezervuar Alanı"
        },
        "trunkVolume": {
          "type": "number",
          "description": "Hacim"
        },
        "licenseEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Lisans ID"
        },
        "licenseType": {
          "description": "Lisans Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "licenseNo": {
          "type": "string",
          "description": "Lisans No"
        },
        "organizationEffectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon ID'si"
        },
        "organizationName": {
          "type": "string",
          "description": "Organizasyon Adı"
        },
        "organizationNameBreakdown": {
          "type": "array",
          "description": "Organizasyon Adı Kırılımı",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "organizationEic": {
          "type": "string",
          "description": "Organizasyon ETSO Kodu"
        },
        "organizationCode": {
          "type": "string",
          "description": "Organizasyon Kodu"
        },
        "organizationShortName": {
          "type": "string",
          "description": "Organizasyon Kısa Adı"
        },
        "organizationSubType": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon Alt Tipi"
        },
        "rsmStatus": {
          "description": "Yekdem Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "power": {
          "type": "number",
          "description": "Güç"
        },
        "recordStatus": {
          "description": "Kayıt Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "firstRecord": {
          "type": "boolean",
          "description": "İlk Kayıt"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Başlangıç"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        },
        "trimmingStatus": {
          "description": "Kırpma Durumu",
          "$ref": "#/definitions/LookupDTO"
        },
        "reraAmountUpdateMethod": {
          "type": "integer",
          "format": "int64",
          "description": "YEKA Tutarı Güncelleme Metodu"
        },
        "reraProduction": {
          "type": "number",
          "description": "YEKA Kapsamında Belirlenen Üretim Miktarı (Mwh)"
        },
        "reraBasePrice": {
          "type": "number",
          "description": "YEKA Taban Fiyatı (USD)"
        },
        "reraCeilingPrice": {
          "type": "number",
          "description": "YEKA Tavan Fiyatı (USD)"
        },
        "reraStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "YEKA Başlangıç Tarihi"
        },
        "reraEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "YEKA Bitiş Tarihi"
        },
        "licenseOwnerEid": {
          "type": "integer",
          "format": "int64",
          "description": "${LICENSE_OWNER_EID}"
        },
        "licenseOwnerName": {
          "type": "string",
          "description": "${LICENSE_OWNER_NAME}"
        },
        "licenseOwnerEic": {
          "type": "string",
          "description": "Organizasyon ETSO Kodu"
        },
        "licenseOwnerCode": {
          "type": "string",
          "description": "Organizasyon Kodu"
        },
        "licenseOwnerNameBreakdown": {
          "type": "array",
          "description": "Organizasyon Adı Kırılımı",
          "items": {
            "$ref": "#/definitions/NameBreakdownResponseDto"
          }
        },
        "licenseOwnerShortName": {
          "type": "string",
          "description": "Organizasyon Kısa Adı"
        },
        "licenseOwnerSubType": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon Alt Tipi"
        },
        "supporterSourceType": {
          "description": "Santral Destekleyici Kaynak Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "supporterInstalledPower": {
          "type": "number",
          "description": "Destekleyici Kurulu Güç"
        },
        "supporterCapacity": {
          "type": "number",
          "description": "Destekleyici Kapasite"
        },
        "supporterCapacityChangeDate": {
          "type": "string",
          "format": "date-time",
          "description": "Destekleyici Kapasite Değişikliği Tarihi"
        },
        "supporterSourceType2": {
          "description": "Santral Destekleyici Kaynak Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "supporterInstalledPower2": {
          "type": "number",
          "description": "Destekleyici Kurulu Güç"
        },
        "supporterCapacity2": {
          "type": "number",
          "description": "Destekleyici Kapasite"
        },
        "supporterCapacityChangeDate2": {
          "type": "string",
          "format": "date-time",
          "description": "Destekleyici Kapasite Değişikliği Tarihi"
        },
        "supporterSourceType3": {
          "description": "Santral Destekleyici Kaynak Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "supporterInstalledPower3": {
          "type": "number",
          "description": "Destekleyici Kurulu Güç"
        },
        "supporterCapacity3": {
          "type": "number",
          "description": "Destekleyici Kapasite"
        },
        "supporterCapacityChangeDate3": {
          "type": "string",
          "format": "date-time",
          "description": "Destekleyici Kapasite Değişikliği Tarihi"
        },
        "supporterSourceType4": {
          "description": "Santral Destekleyici Kaynak Tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "supporterInstalledPower4": {
          "type": "number",
          "description": "Destekleyici Kurulu Güç"
        },
        "supporterCapacity4": {
          "type": "number",
          "description": "Destekleyici Kapasite"
        },
        "supporterCapacityChangeDate4": {
          "type": "string",
          "format": "date-time",
          "description": "Destekleyici Kapasite Değişikliği Tarihi"
        }
      }
    },
    "PowerPlantRegionQueryRequestDto": {
      "type": "object",
      "required": [
        "effectiveId"
      ],
      "properties": {
        "effectiveId": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "regionTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "${REGIONTYPEID}"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "Geçerlilik Tarihi Bitiş"
        }
      }
    },
    "PowerPlantTechnologyType": {
      "type": "object",
      "properties": {
        "createDate": {
          "type": "string",
          "format": "date-time"
        },
        "createUser": {
          "type": "string"
        },
        "modifyUser": {
          "type": "string"
        },
        "modifyDate": {
          "type": "string",
          "format": "date-time"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "clientIp": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "value": {
          "type": "string"
        },
        "localizations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Localization"
          }
        }
      }
    },
    "ProvinceDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        }
      }
    },
    "ReadingOrganizationDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "name": {
          "type": "string",
          "description": "Ad"
        },
        "subType": {
          "description": "Alt Tip",
          "$ref": "#/definitions/LookupDTO"
        }
      }
    },
    "RegionDto": {
      "type": "object",
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2019-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2019-12-01T00:00:00+03:00"
[...]
