{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "EPYS - Serbest Tüketici Talep Servisleri"
  },
  "host": "epys-prp.epias.com.tr",
  "basePath": "/demand",
  "tags": [
    {
      "name": "demand-aggregator-controller"
    },
    {
      "name": "demand-controller"
    },
    {
      "name": "eligible-consumer-controller"
    },
    {
      "name": "evacuation-ack-controller"
    },
    {
      "name": "evacuation-demand-controller"
    },
    {
      "name": "multiple-demand-controller"
    },
    {
      "name": "non-registered-metering-point-application-controller"
    },
    {
      "name": "period-controller"
    },
    {
      "name": "pre-notification-controller"
    },
    {
      "name": "sanction-controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/eligible-customer/query": {
      "post": {
        "tags": [
          "eligible-consumer-controller"
        ],
        "summary": "Serbest Tüketici Sorgulama",
        "description": "Tüketim noktası bilgileriyle serbest tüketici bilgilerinin sorgulanabileceği servistir",
        "operationId": "eligible-customer-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EligibleConsumerQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseEligibleConsumerQueryResponseDto"
            }
          }
        }
      }
    },
    "/v1/evacuation-ack/approve": {
      "post": {
        "tags": [
          "evacuation-ack-controller"
        ],
        "summary": "Tahliye Bilgilendirme Onaylama",
        "description": "Tahliye bilgilendirme kayıtlarını onaylama servisidir.",
        "operationId": "evacuation-ack-approve",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationAckApproveRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation-ack/passivate": {
      "post": {
        "tags": [
          "evacuation-ack-controller"
        ],
        "summary": "Tahliye Bilgilendirme Pasife Alma",
        "description": "Tahliye bilgilendirme kayıtlarını pasife alma servisidir.",
        "operationId": "evacuation-ack-passivate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationAckPassivateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation-ack/query": {
      "post": {
        "tags": [
          "evacuation-ack-controller"
        ],
        "summary": "Tahliye Bilgilendirme Sorgula",
        "description": "Tahliye bilgilendirme kayıtlarını listeleme servisidir.",
        "operationId": "evacuation-ack-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationAckQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseEvacuationAckQueryResponseDto"
            }
          }
        }
      }
    },
    "/v1/evacuation-ack/reject": {
      "post": {
        "tags": [
          "evacuation-ack-controller"
        ],
        "summary": "Tahliye Bilgilendirme Reddetme",
        "description": "Tahliye bilgilendirme kayıtlarını reddetme servisidir.",
        "operationId": "evacuation-ack-reject",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationAckRejectRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation-ack/save": {
      "post": {
        "tags": [
          "evacuation-ack-controller"
        ],
        "summary": "Tahliye Bilgilendirme Kaydet",
        "description": "Tahliye edilmek istenen tüketim noktasının bilgilendirmesinin kaydedildiği servistir.",
        "operationId": "evacuation-ack-save",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationAckSaveRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation/passivate": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Tahliye Talebi Pasife Al",
        "description": "Tahliye talebini pasife alma servisidir",
        "operationId": "evacuation-passivate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationDemandPassivateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation/passivate-batch": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Toplu Tahliye Talebi Pasife Al",
        "description": "Toplu Tahliye Talebi Pasife Al",
        "operationId": "evacuation-batch-passivate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EvacuationDemandBatchPassivateRequestDto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseEvacuationBatchSummaryDto"
            }
          }
        }
      }
    },
    "/v1/evacuation/query": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Tahliye Taleplerimi Sorgula",
        "description": "Yapmış olduğunuz veya size bağlı olan organizasyonların yapmış olduğu tahliye taleplerini listeleme servisidir",
        "operationId": "evacuation-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationDemandQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseEvacuationDemandQueryResponseDto"
            }
          }
        }
      }
    },
    "/v1/evacuation/reactivate": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Tahliye Talebi Reddi Geri Çek",
        "description": "Tahliye talebini reddi geri çek servisidir",
        "operationId": "evacuation-reactivate",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationDemandReactivateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation/reject": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Tahliye Talebini Reddet",
        "description": "Tahliye talebini reddetme servisidir",
        "operationId": "evacuation-reject",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationDemandRejectRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation/save": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Tahliye Talebi Kaydet",
        "description": "Tahliye edilmek istenen tüketim noktasının talebinin kaydedildiği servistir",
        "operationId": "evacuation-save",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationDemandSaveRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/evacuation/save-batch": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Toplu Tahliye Talebi Kaydet",
        "description": "Tahliye edilmek istenen tüketim noktalarının taleplerinin toplu olarak kaydedildiği servistir.",
        "operationId": "evacuation-batch-save",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EvacuationDemandBatchSaveRequestDto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseEvacuationBatchSummaryDto"
            }
          }
        }
      }
    },
    "/v1/evacuation/update": {
      "post": {
        "tags": [
          "evacuation-demand-controller"
        ],
        "summary": "Tahliye Talebi Güncelle",
        "description": "Tahliye taleplerini güncelleme servisidir",
        "operationId": "evacuation-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EvacuationDemandUpdateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/lookup": {
      "get": {
        "summary": "Mevcut Çoklu Seçim Anahtar Sorgulama Servisi",
        "description": "Mevcut çoklu seçim anahtar verilerini sorgular.",
        "operationId": "available-lookups",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupTypeResponse"
            }
          }
        }
      }
    },
    "/v1/lookup/query": {
      "post": {
        "summary": "Çoklu Seçim Detay Sorgulama Servisi",
        "description": "Çoklu seçim detay verilerini sorgular.",
        "operationId": "lookup-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LookupRequest"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupResponse"
            }
          }
        }
      }
    },
    "/v1/non-registered-metering-point-application/apply": {
      "post": {
        "tags": [
          "non-registered-metering-point-application-controller"
        ],
        "summary": "KMO Başvurusu Yap",
        "description": "Kaydı mevcut olmayan ölçüm noktası başvuru kaydetme servisidir",
        "operationId": "non-registered-metering-point-application-apply",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NonRegisteredMeteringPointApplicationRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseNonRegisteredMeteringPointApplicationResponseDto"
            }
          }
        }
      }
    },
    "/v1/non-registered-metering-point-application/query": {
      "post": {
        "tags": [
          "non-registered-metering-point-application-controller"
        ],
        "summary": "KMO Taleplerini Sorgula",
        "description": "Kaydı mevcut olmayan ölçüm noktası taleplerinin sorgulama servisidir",
        "operationId": "non-registered-metering-point-application-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NonRegisteredMeteringPointApplicationQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseNonRegisteredMeteringPointApplicationQueryResponseDto"
            }
          }
        }
      }
    },
    "/v1/non-registered-metering-point-application/reject": {
      "post": {
        "tags": [
          "non-registered-metering-point-application-controller"
        ],
        "summary": "KMO Başvurusu Reddet",
        "description": "Kaydı mevcut olmayan ölçüm noktası talebini reddetme servisidir",
        "operationId": "non-registered-metering-point-application-reject",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NonRegisteredMeteringPointApplicationRejectRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/non-registered-metering-point-application/withdraw": {
      "post": {
        "tags": [
          "non-registered-metering-point-application-controller"
        ],
        "summary": "KMO Başvurusu Geri Çek",
        "description": "Kaydı mevcut olmayan ölçüm noktası talebini geri çekme servisidir",
        "operationId": "non-registered-metering-point-application-withdraw",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NonRegisteredMeteringPointApplicationWithdrawRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/period/getActivePeriod": {
      "get": {
        "tags": [
          "period-controller"
        ],
        "summary": "Aktif Dönemi Getir",
        "description": "Aktif dönemi getiren servistir.",
        "operationId": "get-active-period",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponsePeriodDto"
            }
          }
        }
      }
    },
    "/v1/period/getPeriods": {
      "get": {
        "tags": [
          "period-controller"
        ],
        "summary": "Tüm Dönemleri Getir",
        "description": "Geçiş ve aktif tüm dönemleri getiren servistir.",
        "operationId": "get-all-period",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseQueryAllPeriodsResponseDto"
            }
          }
        }
      }
    },
    "/v1/pre-notification/aggregator/query": {
      "post": {
        "tags": [
          "pre-notification-controller"
        ],
        "summary": "Ön Bildirim Listesi Sorgula (Toplayıcılık)",
        "description": "Toplayıcılık ön bildirim listelerini sorgulama servisidir",
        "operationId": "pre-notification-aggregator-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PreNotificationListAggregatorQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponsePreNotificationDto"
            }
          }
        }
      }
    },
    "/v1/pre-notification/distributor/query": {
      "post": {
        "tags": [
          "pre-notification-controller"
        ],
        "summary": "Ön Bildirim Listesi Sorgula (Dağıtım)",
        "description": "Dağıtım firmalarının ön bildirim listelerini sorgulama servisidir",
        "operationId": "pre-notification-distributor-queryV2",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PreNotificationListDistributorQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponsePreNotificationDto"
            }
          }
        }
      }
    },
    "/v1/pre-notification/supplier/query": {
      "post": {
        "tags": [
          "pre-notification-controller"
        ],
        "summary": "Ön Bildirim Listesi Sorgula (Tedarik)",
        "description": "Tedarik firmalarının ön bildirim listelerini sorgulama servisidir",
        "operationId": "pre-notification-supplier-queryV2",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PreNotificationListSupplierQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponsePreNotificationDto"
            }
          }
        }
      }
    },
    "/v1/sanction/queryParticipant": {
      "post": {
        "tags": [
          "sanction-controller"
        ],
        "summary": "Yaptırım Listele",
        "description": "Katılımcının yaptırımlarını listeleyebileceği servistir.",
        "operationId": "sanction-query-participant",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SanctionQueryParticipantRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseSanctionDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/counterQuery": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Karşı Taleplerimi Sorgula",
        "description": "Talep Toplayıcı Portföyünde bulunan sayaçları etkileyecek olan diğer organizasyonların yaptığı talepleri listeleme servisidir",
        "operationId": "aggregator-counter-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandAggregatorQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseDemandAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/getDemandHistory": {
      "get": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Tarihçesini Sorgula",
        "description": "İlgili talebin hangi aşamalardan geçtiğinin ve nihai statüsünün verildiği servistir",
        "operationId": "aggregator-history-query",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "demandId",
            "in": "query",
            "description": "Talep id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandAggregatorHistoryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/portfolio-add/create": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Ekleme Talebi kaydet",
        "description": "Talep toplayıcı Ekleme Talebi Servisidir",
        "operationId": "aggregator-portfolio-add",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateAggregatorAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/portfolio-add/query": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Ekleme Talebi Ön Sorgu",
        "description": "Önyüz kullanımı için hazırlanmış ilgili tüketim noktası için ekleme talep yapmadan önce sorgulama yapılabilecek servistir",
        "operationId": "aggregator-portfolio-add-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateAggregatorBaseCheckRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/portfolio-add/update": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Ekleme Talebi Güncelleme",
        "description": "Talep Toplayıcı Ekleme Talebi Güncelleme Servisidir",
        "operationId": "aggregator-portfolio-add-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateAggregatorAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/portfolio-add/updateQuery": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Ekleme Talebi Güncelleme Ön Sorgu",
        "description": "Talep Toplayıcı Ekleme talebi güncelleme Ön Sorgu servisi",
        "operationId": "aggregator-portfolio-add-update-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateAggregatorAddQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/portfolio-out/create": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Portföyden Çıkarma Talebi Kaydet",
        "description": "Talep Toplayıcı Portföyden çıkarılmak istenen tüketim noktasının talebinin kaydedildiği servistir",
        "operationId": "aggregator-portfolio-out",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateAggregatorBaseCheckRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/portfolio-out/query": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplacıyı portföy Çıkarma Talebi Ön Sorgu",
        "description": "Talep Toplacıyı için çıkarma talep yapmadan önce abone bilgileriyle sorgulama yapılabilecek servistir",
        "operationId": "aggregator-portfolio-out-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateAggregatorBaseCheckRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/portfolio-out/update": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Portföyden Çıkarma Talebi Güncelle",
        "description": "Portföyden çıkarma taleplerini güncelleme servisidir",
        "operationId": "aggregator-portfolio-out-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateAggregatorOutRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/query": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Sorgusu Oluştur",
        "description": "Talep Toplayıcı Sorgusu Oluşturma",
        "operationId": "aggregator-query",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandAggregatorQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseDemandAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/aggregator/updateStatus": {
      "post": {
        "tags": [
          "demand-aggregator-controller"
        ],
        "summary": "Talep Toplayıcı Taleblerin Durum Gümcelleme",
        "description": "Talep Toplayıcı Taleblerin Durum Gümcellemesi",
        "operationId": "aggregator-status",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateAggregatorStatusRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandAggregatorQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/auto-productor/portfolio-add/create": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Otoprodüktör Sayacı Portföye Ekleme Talebi Kaydet",
        "description": "Portföye eklenmek istenen otoprodüktör sayacının talebinin kaydedildiği servistir",
        "operationId": "demand-auto-productor-portfolio-add-create",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateAutoProductorAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateAutoProductorAddResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/auto-productor/portfolio-add/updateStatus": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Otoprodüktör Sayacı Portföye Ekleme Talebi Durum Güncelle",
        "description": "Portföye eklenmek istenen otoprodüktör sayacının talebinin durumunun güncellendiği servistir",
        "operationId": "demand-auto-productor-portfolio-add-update-status",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateAutoProductorStatusRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/auto-productor/portfolio-out/create": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Otoprodüktör Sayacı Portföyden Çıkarma Talebi Kaydet",
        "description": "Portföyden çıkarılmak istenen otoprodüktör sayacının talebinin kaydedildiği servistir",
        "operationId": "demand-auto-productor-portfolio-out-create",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateAutoProductorOutRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateAutoProductorOutResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/auto-productor/portfolio-out/updateStatus": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Otoprodüktör Sayacı Portföyden Çıkarma Talebi Durum Güncelle",
        "description": "Portföyden çıkarılmak istenen otoprodüktör sayacının talebinin durumunun güncellendiği servistir",
        "operationId": "demand-auto-productor-portfolio-out-update-status",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateAutoProductorStatusRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/auto-productor/portfolio-out/updateSupplier": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Otoprodüktör Sayacı Portföyden Çıkarma Son Kaynak Tedarikçi Durumu Güncelle",
        "description": "Portföyden çıkarılmak istenen otoprodüktör sayacının portföyden çıktıktan sonra son kaynak tedariğine düşme durumunu güncelleyen servistir",
        "operationId": "demand-auto-productor-portfolio-out-update-supplier",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateAutoProductorSupplierRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/counter/get": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Karşı Taleplerimi Sorgula",
        "description": "Portföyümüzde bulunan sayaçları etkileyecek olan diğer organizasyonların yaptığı talepleri listeleme servisidir",
        "operationId": "demand-counter-get",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseDemandQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/distribution/counter/get": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Karşı Taleplerimi Sorgula (Dağıtım)",
        "description": "Portföyümüzde bulunan sayaçları etkileyecek olan diğer organizasyonların yaptığı talepleri listeleme servisidir",
        "operationId": "demand-distribution-counter-get",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandQueryForDistributionRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseDemandQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/getDemandHistory": {
      "get": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Talep Tarihçesini Sorgula",
        "description": "İlgili talebin hangi aşamalardan geçtiğinin ve nihai statüsünün verildiği servistir",
        "operationId": "demand-history-get",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "demandId",
            "in": "query",
            "description": "Talep id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandHistoryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/getRelatedDemand": {
      "get": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Talebi Bağlı Talepleri Sorgulama",
        "description": "Osb ana sayaç talebine bağlı oluşmuş talepleri listeler.",
        "operationId": "get-oiz-main-meter-related-demand-nickname",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "demandId",
            "in": "query",
            "description": "Talep id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOizMainMeterRelatedDemandResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/portfolio-add/create": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Ekleme Talebi Kaydetme",
        "description": "Ekleme talebi kaydetme servisidir.",
        "operationId": "demand-oiz-main-meter-add-nickname",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateOizMainMeterAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateOizMainMeterAddResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/portfolio-add/query": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Ekleme Talebi Ön Sorgulama",
        "description": "Ekleme talebi oluşturmadan önce osb organizasyon bilgileriyle veya sayaç bilgileriyle sorgulama yapma servisidir.",
        "operationId": "demand-oiz-main-meter-add-query-nickname",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateOizMainMeterAddQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateOizMainMeterAddQueryResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/portfolio-add/update": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Ekleme Talebi Abone Bilgileri Güncelleme",
        "description": "Ekleme talebi abone bilgileri güncelleme servisidir.",
        "operationId": "demand_oiz-main-meter-add-update-nickname",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateOizMainMeterAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/portfolio-add/updateStatus": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Ekleme Talebi Durum Güncelleme",
        "description": "Ekleme talebi durum güncelleme servisidir.",
        "operationId": "demand-oiz-main-meter-add-update-status-nickname",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateStatusOizMainMeterAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandUpdateStatusOizMainMeterAddResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/portfolio-out/create": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Çıkarma Talebi Kaydetme",
        "description": "Çıkarma talebi kaydetme servisidir.",
        "operationId": "demand_oiz-main-meter-out-create-nickname",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateOizMainMeterOutRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateOizMainMeterOutResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/portfolio-out/query": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Çıkarma Talebi Ön Sorgulama",
        "description": "Çıkarma talebi oluşturmadan önce osb organizasyon bilgileriyle veya sayaç bilgileriyle sorgulama yapma servisidir.",
        "operationId": "demand_oiz-main-meter-out-query-nickname",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateOizMainMeterOutQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateOizMainMeterOutResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/oiz-main-meter/portfolio-out/updateStatus": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "OSB Ana Sayaç Çıkarma Talebi Durum Güncelleme",
        "description": "Çıkarma talebi durum güncelleme servisidir.",
        "operationId": "demand_oiz-main-meter-out-update-status-nickname",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdateStatusOizMainMeterOutRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "v1/demand/portfolio-add/create": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Portföye Ekleme Talebi Kaydet",
        "description": "Portföye eklenmek istenen tüketim noktasının talebinin kaydedildiği servistir",
        "operationId": "demand-portfolio-add-create",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreatePortfolioAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandPortfolioAddResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/portfolio-add/update": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Portföye Ekleme Talebi Güncelle",
        "description": "Portföye ekleme taleplerini güncelleme servisidir",
        "operationId": "demand-portfolio-add-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdatePortfolioAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandPortfolioAddResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/portfolio-out/create": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Portföyden Çıkarma Talebi Kaydet",
        "description": "Portföyden çıkarılmak istenen tüketim noktasının talebinin kaydedildiği servistir",
        "operationId": "demand-portfolio-out-create",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreatePortfolioOutRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandResponseListDto"
            }
          }
        }
      }
    },
    "v1/demand/portfolio-out/update": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Portföyden Çıkarma Talebi Güncelle",
        "description": "Portföyden çıkarma taleplerini güncelleme servisidir",
        "operationId": "demand-portfolio-out-update",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandUpdatePortfolioOutRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/re-energisation/create": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Yeniden Enerjilendirme Talebi Kaydet",
        "description": "Yeniden enerjilendirme talebinin kaydedildiği servistir",
        "operationId": "demand-re-energisation-create",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandCreateReEnergisationRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseDemandCreateReEnergisationResponseDto"
            }
          }
        }
      }
    },
    "v1/demand/self/get": {
      "post": {
        "tags": [
          "demand-controller"
        ],
        "summary": "Taleplerimi Sorgula",
        "description": "Yapmış olduğunuz veya size bağlı olan organizasyonların yapmış olduğu talepleri listeleme servisidir",
        "operationId": "demand-self-get",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DemandQueryRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSortablePageResponseDemandQueryResponseDto"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BaseDTO": {
      "type": "object"
    },
    "BooleanDTO": {
      "type": "object",
      "properties": {
        "completed": {
          "type": "boolean"
        }
      }
    },
    "CustomerDto": {
      "type": "object",
      "properties": {
        "categoryType": {
          "description": "Abone kategori tipi lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "title": {
          "type": "string",
          "description": "Tüketici ad/soyad veya ünvan bilgisi"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "authorizedPerson1Name": {
          "type": "string",
          "description": "Birinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson2Name": {
          "type": "string",
          "description": "İkinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson1No": {
          "type": "string",
          "description": "Birinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson2No": {
          "type": "string",
          "description": "İkinci yetkili kişi tckn bilgisi"
        }
      }
    },
    "DemandAggregatorHistoryResponseDto": {
      "type": "object",
      "properties": {
        "modifyDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Kayıt güncellenme tarihi"
        },
        "modifyUser": {
          "type": "string",
          "description": "Kayıt güncelleyen kullanıcı"
        },
        "status": {
          "description": "Talep durumu lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "updateReason": {
          "description": "Talep güncelleme nedeni lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "demandOwnerOrganizationId": {
          "description": "Talep sahibi organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "balancingMarketParticipationDemand": {
          "type": "boolean"
        },
        "electricSupplyParticipationDemand": {
          "type": "boolean"
        },
        "demandSideParticipationDemand": {
          "type": "boolean"
        }
      }
    },
    "DemandAggregatorQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "periodDates": {
          "type": "array",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Dönem bilgisi",
          "items": {
            "type": "string",
            "format": "date-time"
          }
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil kod"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "demandTypes": {
          "type": "array",
          "description": "Talep tipi lookup değeridir",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "demandStatus": {
          "type": "integer",
          "format": "int64",
          "description": "Talep durumu lookup değeridir"
        },
        "gridTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Şebeke tipi id"
        },
        "balancingRegionId": {
          "type": "integer",
          "format": "int64",
          "description": "Dengeleme Bölgesi ID"
        },
        "demandSideParticipation": {
          "type": "boolean"
        },
        "balancingMarketParticipation": {
          "type": "boolean"
        },
        "electricSupplyParticipation": {
          "type": "boolean"
        }
      }
    },
    "DemandAggregatorQueryResponseDto": {
      "type": "object",
      "properties": {
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        },
        "periodDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Dönem bilgisi"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil kod"
        },
        "demandType": {
          "description": "Talep tipi lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "demandStatus": {
          "description": "Talep durumu lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "description": {
          "description": "Talep güncelleme nedeni lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "createDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Kayıt yaratılma tarihi"
        },
        "createUser": {
          "type": "string",
          "description": "Kayıt yaratan kullanıcı"
        },
        "isOwnerOrganization": {
          "type": "boolean",
          "description": "Talebi giren organizasyon sorgulayan ile aynı mı bilgisi"
        },
        "cancellationDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Kayıt iptal tarihi"
        },
        "cancellationUserName": {
          "type": "string",
          "description": "Kayıt iptal eden kullanıcı"
        },
        "customer": {
          "description": "Tüketin noktası üzerinde kayıtlı abone bilgisi",
          "$ref": "#/definitions/CustomerDto"
        },
        "cancellationOrganization": {
          "description": "İptal eden organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "readingOrganization": {
          "description": "Sayaç okuyan kurum id",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "ownerOrganization": {
          "description": "Talep sahibi organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "electricSupplyParticipationOrganization": {
          "description": "Toplayıcılık elektrik tedarik eski yeni organizasyon bilgisi",
          "$ref": "#/definitions/OldNewOrganizationPairDto"
        },
        "demandSideParticipationOrganization": {
          "description": "Toplayıcılık talep tarafı eski yeni organizasyon bilgisi",
          "$ref": "#/definitions/OldNewOrganizationPairDto"
        },
        "balancingMarketParticipationOrganization": {
          "description": "Toplayıcılık dengeleme güç piyasası eski yeni organizasyon bilgisi",
          "$ref": "#/definitions/OldNewOrganizationPairDto"
        },
        "gridType": {
          "description": "Şebeke tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "balancingRegionName": {
          "type": "string",
          "description": "Dengeleme Bölgesi"
        },
        "meterName": {
          "type": "string",
          "description": "Sayaç tesis adı"
        },
        "balancingMarketParticipationDemand": {
          "type": "boolean"
        },
        "electricSupplyParticipationDemand": {
          "type": "boolean"
        },
        "demandSideParticipationDemand": {
          "type": "boolean"
        }
      }
    },
    "DemandCreateAggregatorAddRequestDto": {
      "type": "object",
      "required": [
        "isCustomerInformationChange"
      ],
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "isCustomerInformationChange": {
          "type": "boolean",
          "description": "Kayıtlı bir abone bilgisi var ise abone bilgisinin değiştirilme durumudur"
        },
        "categoryTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Abone kategori tipi lookup değeridir"
        },
        "title": {
          "type": "string",
          "description": "Tüketici ad/soyad veya ünvan bilgisi"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "authorizedPerson1Name": {
          "type": "string",
          "description": "Birinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson1No": {
          "type": "string",
          "description": "Birinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson2Name": {
          "type": "string",
          "description": "İkinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson2No": {
          "type": "string",
          "description": "İkinci yetkili kişi tckn bilgisi"
        },
        "isAgreementChecked": {
          "type": "boolean",
          "description": "Abone ile yapılmış ikili anlaşma durumu"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "isDemandSideParticipation": {
          "type": "boolean",
          "description": "Toplayıcılık talep tarafı katılım bilgisi"
        },
        "isBalancingMarketParticipation": {
          "type": "boolean",
          "description": "Toplayıcılık dengeleme güç piyasası katılım bilgisi"
        },
        "warningConfirmation": {
          "type": "boolean",
          "description": "Talep kaydı uyarı mesajı onaylama bilgisi."
        }
      }
    },
    "DemandCreateAggregatorBaseCheckRequestDto": {
      "type": "object",
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "isDemandSideParticipation": {
          "type": "boolean",
          "description": "Toplayıcılık talep tarafı katılım bilgisi"
        },
        "isBalancingMarketParticipation": {
          "type": "boolean",
          "description": "Toplayıcılık dengeleme güç piyasası katılım bilgisi"
        }
      }
    },
    "DemandCreateAggregatorQueryResponseDto": {
      "type": "object",
      "properties": {
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "gridType": {
          "description": "Şebeke tipi",
          "$ref": "#/definitions/LookupDTO"
        },
        "balancingRegionName": {
          "type": "string",
          "description": "Dengeleme Bölgesi"
        },
        "meterName": {
          "type": "string",
          "description": "Sayaç tesis adı"
        },
        "customer": {
          "description": "Tüketin noktası üzerinde kayıtlı abone bilgisi",
          "$ref": "#/definitions/CustomerDto"
        },
        "warningMessage": {
          "type": "string",
          "description": "Talep kaydı uyarı mesajı."
        }
      }
    },
    "DemandCreateAutoProductorAddRequestDto": {
      "type": "object",
      "required": [
        "isPreCheckOperation"
      ],
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "isPreCheckOperation": {
          "type": "boolean",
          "description": "Önyüz kullanımı için hazırlanmış istek sonucunda oluşacak durumlarla alakalı kayıt oluşmadan önce geri dönüş alabilmek için konulan ön kontrol değeridir"
        }
      }
    },
    "DemandCreateAutoProductorAddResponseDto": {
      "type": "object",
      "properties": {
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "name": {
          "type": "string",
          "description": "Sayaç tesis adı"
        },
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        }
      }
    },
    "DemandCreateAutoProductorOutRequestDto": {
      "type": "object",
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "isPreCheckOperation": {
          "type": "boolean",
          "description": "Önyüz kullanımı için hazırlanmış istek sonucunda oluşacak durumlarla alakalı kayıt oluşmadan önce geri dönüş alabilmek için konulan ön kontrol değeridir"
        }
      }
    },
    "DemandCreateAutoProductorOutResponseDto": {
      "type": "object",
      "properties": {
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "name": {
          "type": "string",
          "description": "Sayaç tesis adı"
        },
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        }
      }
    },
    "DemandCreateOizMainMeterAddQueryRequestDto": {
      "type": "object",
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "oizOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "OSB organizasyon id"
        }
      }
    },
    "DemandCreateOizMainMeterAddQueryResponseDto": {
      "type": "object",
      "properties": {
        "oizOrganization": {
          "description": "OSB organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "customer": {
          "description": "Tüketin noktası üzerinde kayıtlı abone bilgisi",
          "$ref": "#/definitions/CustomerDto"
        },
        "items": {
          "type": "array",
          "description": "Mevcut Sayaç-Talep eşleşmeleri ve bilgileri ve aksiyon bilgileri",
          "items": {
            "$ref": "#/definitions/DemandCreateOizMainMeterResponseItemDto"
          }
        }
      }
    },
    "DemandCreateOizMainMeterAddRequestDto": {
      "type": "object",
      "required": [
        "isCustomerInformationChange"
      ],
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "isCustomerInformationChange": {
          "type": "boolean",
          "description": "Kayıtlı bir abone bilgisi var ise abone bilgisinin değiştirilme durumudur"
        },
        "categoryTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Abone kategori tipi lookup değeridir"
        },
        "title": {
          "type": "string",
          "description": "Tüketici ad/soyad veya ünvan bilgisi"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "authorizedPerson1Name": {
          "type": "string",
          "description": "Birinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson1No": {
          "type": "string",
          "description": "Birinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson2Name": {
          "type": "string",
          "description": "İkinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson2No": {
          "type": "string",
          "description": "İkinci yetkili kişi tckn bilgisi"
        },
        "isAgreementChecked": {
          "type": "boolean",
          "description": "Abone ile yapılmış ikili anlaşma durumu"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "oizOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "OSB organizasyon id"
        }
      }
    },
    "DemandCreateOizMainMeterAddResponseDto": {
      "type": "object",
      "properties": {
        "oizOrganization": {
          "description": "OSB organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "customer": {
          "description": "Tüketin noktası üzerinde kayıtlı abone bilgisi",
          "$ref": "#/definitions/CustomerDto"
        },
        "items": {
          "type": "array",
          "description": "Mevcut Sayaç-Talep eşleşmeleri ve bilgileri ve aksiyon bilgileri",
          "items": {
            "$ref": "#/definitions/DemandCreateOizMainMeterResponseItemDto"
          }
        }
      }
    },
    "DemandCreateOizMainMeterOutQueryRequestDto": {
      "type": "object",
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "oizOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "OSB organizasyon id"
        }
      }
    },
    "DemandCreateOizMainMeterOutRequestDto": {
      "type": "object",
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "oizOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "OSB organizasyon id"
        }
      }
    },
    "DemandCreateOizMainMeterOutResponseDto": {
      "type": "object",
      "properties": {
        "oizOrganization": {
          "description": "OSB organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "items": {
          "type": "array",
          "description": "Mevcut Sayaç-Talep eşleşmeleri ve bilgileri ve aksiyon bilgileri",
          "items": {
            "$ref": "#/definitions/DemandCreateOizMainMeterOutResponseItemDto"
          }
        }
      }
    },
    "DemandCreateOizMainMeterOutResponseItemDto": {
      "type": "object",
      "properties": {
        "meter": {
          "description": "Sayaç bilgileri",
          "$ref": "#/definitions/OizMainMeterMeterResponseDto"
        },
        "demand": {
          "description": "Talep bilgileri",
          "$ref": "#/definitions/OizMainMeterDemandResponseDto"
        },
        "willDemandBeCreated": {
          "type": "boolean",
          "description": "Talep yaratılacak mı?"
        },
        "willDemandBeActivated": {
          "type": "boolean",
          "description": "Talep aktife mi alınacak?"
        }
      }
    },
    "DemandCreateOizMainMeterResponseItemDto": {
      "type": "object",
      "properties": {
        "meter": {
          "description": "Sayaç bilgileri",
          "$ref": "#/definitions/OizMainMeterMeterResponseDto"
        },
        "demand": {
          "description": "Talep bilgileri",
          "$ref": "#/definitions/OizMainMeterDemandResponseDto"
        },
        "sameConsumptionPointDemandExistInThisPeriod": {
          "type": "boolean",
          "description": "Aynı dönemde aynı tüketim noktasına ait başka bir talebin olma durumu"
        },
        "willDemandBeCreated": {
          "type": "boolean",
          "description": "Talep yaratılacak mı?"
        },
        "willDemandBeActivated": {
          "type": "boolean",
          "description": "Talep aktife mi alınacak?"
        },
        "isInMyPortfolio": {
          "type": "boolean",
          "description": "Portföyümde yer alıyor mu?"
        }
      }
    },
    "DemandCreatePortfolioAddRequestDto": {
      "type": "object",
      "required": [
        "isCustomerInformationChange",
        "isPreCheckOperation"
      ],
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "isCustomerInformationChange": {
          "type": "boolean",
          "description": "Kayıtlı bir abone bilgisi var ise abone bilgisinin değiştirilme durumudur"
        },
        "categoryTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Abone kategori tipi lookup değeridir"
        },
        "title": {
          "type": "string",
          "description": "Tüketici ad/soyad veya ünvan bilgisi"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "authorizedPerson1Name": {
          "type": "string",
          "description": "Birinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson1No": {
          "type": "string",
          "description": "Birinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson2Name": {
          "type": "string",
          "description": "İkinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson2No": {
          "type": "string",
          "description": "İkinci yetkili kişi tckn bilgisi"
        },
        "isAgreementChecked": {
          "type": "boolean",
          "description": "Abone ile yapılmış ikili anlaşma durumu"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "meterReadingOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç okuyan kurum id"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil kod"
        },
        "isPreCheckOperation": {
          "type": "boolean",
          "description": "Önyüz kullanımı için hazırlanmış istek sonucunda oluşacak durumlarla alakalı kayıt oluşmadan önce geri dönüş alabilmek için konulan ön kontrol değeridir"
        }
      }
    },
    "DemandCreatePortfolioOutRequestDto": {
      "type": "object",
      "required": [
        "consumptionPointIds"
      ],
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "consumptionPointIds": {
          "type": "array",
          "description": "Sayaca ait tüketim noktası id",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "DemandCreateReEnergisationRequestDto": {
      "type": "object",
      "required": [
        "isCustomerInformationChange",
        "isPreCheckOperation"
      ],
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "isCustomerInformationChange": {
          "type": "boolean",
          "description": "Kayıtlı bir abone bilgisi var ise abone bilgisinin değiştirilme durumudur"
        },
        "categoryTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Abone kategori tipi lookup değeridir"
        },
        "title": {
          "type": "string",
          "description": "Tüketici ad/soyad veya ünvan bilgisi"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "authorizedPerson1Name": {
          "type": "string",
          "description": "Birinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson1No": {
          "type": "string",
          "description": "Birinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson2Name": {
          "type": "string",
          "description": "İkinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson2No": {
          "type": "string",
          "description": "İkinci yetkili kişi tckn bilgisi"
        },
        "isAgreementChecked": {
          "type": "boolean",
          "description": "Abone ile yapılmış ikili anlaşma durumu"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "meterReadingOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç okuyan kurum id"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil kod"
        },
        "isPreCheckOperation": {
          "type": "boolean",
          "description": "Önyüz kullanımı için hazırlanmış istek sonucunda oluşacak durumlarla alakalı kayıt oluşmadan önce geri dönüş alabilmek için konulan ön kontrol değeridir"
        }
      }
    },
    "DemandCreateReEnergisationResponseDto": {
      "type": "object",
      "properties": {
        "sameCustomerExistInMyPortfolio": {
          "type": "boolean",
          "description": "Portföyünde aynı tüketici numarası ve kategoriye sahip abone olma durumu"
        },
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        }
      }
    },
    "DemandHistoryItemDto": {
      "type": "object",
      "properties": {
        "createDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Kayıt yaratılma tarihi"
        },
        "createUser": {
          "type": "string",
          "description": "Kayıt yaratan kullanıcı"
        },
        "status": {
          "description": "Talep durumu lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "updateReason": {
          "description": "Talep güncelleme nedeni lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "categoryType": {
          "description": "Abone kategori tipi lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "title": {
          "type": "string",
          "description": "Tüketici ad/soyad veya ünvan bilgisi"
        },
        "authorizedPerson1No": {
          "type": "string",
          "description": "Birinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson1Name": {
          "type": "string",
          "description": "Birinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson2No": {
          "type": "string",
          "description": "İkinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson2Name": {
          "type": "string",
          "description": "İkinci yetkili kişi ad/soyad bilgisi"
        }
      }
    },
    "DemandHistoryResponseDto": {
      "type": "object",
      "properties": {
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        },
        "items": {
          "type": "array",
          "description": "Talep tarihçesi",
          "items": {
            "$ref": "#/definitions/DemandHistoryItemDto"
          }
        }
      }
    },
    "DemandPortfolioAddResponseDto": {
      "type": "object",
      "properties": {
        "sameCustomerExistInMyPortfolio": {
          "type": "boolean",
          "description": "Portföyünde aynı tüketici numarası ve kategoriye sahip abone olma durumu"
        },
        "sameCustomerDemandExistInThisPeriod": {
          "type": "boolean",
          "description": "Aynı dönemde aynı tüketici numarası ve kategoriye sahip aboneye ait talebinin olma durumu"
        },
        "sameConsumptionPointDemandExistInThisPeriod": {
          "type": "boolean",
          "description": "Aynı dönemde aynı tüketim noktasına ait başka bir talebin olma durumu"
        },
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        }
      }
    },
    "DemandQueryForDistributionRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil kod"
        },
        "demandStatus": {
          "type": "integer",
          "format": "int64",
          "description": "Talep durumu lookup değeridir"
        }
      }
    },
    "DemandQueryRequestDto": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "#/definitions/Page"
        },
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "periodDates": {
          "type": "array",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Dönem bilgisi",
          "items": {
            "type": "string",
            "format": "date-time"
          }
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil kod"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "demandTypes": {
          "type": "array",
          "description": "Talep tipi lookup değeridir",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "demandStatus": {
          "type": "integer",
          "format": "int64",
          "description": "Talep durumu lookup değeridir"
        }
      }
    },
    "DemandQueryResponseDto": {
      "type": "object",
      "properties": {
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        },
        "periodDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Dönem bilgisi"
        },
        "consumptionPointEic": {
          "type": "string",
          "example": "40X000000000002C",
          "description": "Sayaca ait enerji tanımlama kodu (EIC)"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        },
        "uniqueCode": {
          "type": "string",
          "description": "Tekil kod"
        },
        "demandType": {
          "description": "Talep tipi lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "demandStatus": {
          "description": "Talep durumu lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "description": {
          "description": "Talep güncelleme nedeni lookup değeridir",
          "$ref": "#/definitions/LookupDTO"
        },
        "sendToLastSupplier": {
          "type": "boolean",
          "description": "Son tedarikçiye düşürülüp düşürülmeyeceği bilgisidir"
        },
        "createDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Kayıt yaratılma tarihi"
        },
        "createUser": {
          "type": "string",
          "description": "Kayıt yaratan kullanıcı"
        },
        "isOwnerOrganization": {
          "type": "boolean",
          "description": "Talebi giren organizasyon sorgulayan ile aynı mı bilgisi"
        },
        "cancellationDate": {
          "type": "string",
          "format": "date-time",
          "example": "[\"2020-01-01T00:00:00+03:00\"]",
          "description": "Kayıt iptal tarihi"
        },
        "cancellationUserName": {
          "type": "string",
          "description": "Kayıt iptal eden kullanıcı"
        },
        "cancellationOrganization": {
          "description": "İptal eden organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "readingOrganization": {
          "description": "Sayaç okuyan kurum id",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "customer": {
          "description": "Tüketin noktası üzerinde kayıtlı abone bilgisi",
          "$ref": "#/definitions/CustomerDto"
        },
        "ownerOrganization": {
          "description": "Talep sahibi organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "newOrganization": {
          "description": "Yeni organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "oldOrganization": {
          "description": "Eski organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "oizOrganization": {
          "description": "OSB organizasyon",
          "$ref": "#/definitions/OrganizationIdNamePairDto"
        },
        "customerNoMismatch": {
          "type": "boolean"
        }
      }
    },
    "DemandResponseDto": {
      "type": "object",
      "properties": {
        "demandId": {
          "type": "integer",
          "format": "int64",
          "description": "Talep id"
        },
        "consumptionPointId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaca ait tüketim noktası id"
        }
      }
    },
    "DemandResponseListDto": {
      "type": "object",
      "properties": {
        "demandList": {
          "type": "array",
          "description": "${DEMAND_LIST}",
          "items": {
            "$ref": "#/definitions/DemandResponseDto"
          }
        }
      }
    },
    "DemandUpdateAggregatorAddQueryRequestDto": {
      "type": "object",
      "required": [
        "isCustomerInformationChange"
      ],
      "properties": {
        "selectedOrganizationId": {
          "type": "integer",
          "format": "int64",
          "description": "Talebi sahibi organizasyon id"
        },
        "isCustomerInformationChange": {
          "type": "boolean",
          "description": "Kayıtlı bir abone bilgisi var ise abone bilgisinin değiştirilme durumudur"
        },
        "categoryTypeId": {
          "type": "integer",
          "format": "int64",
          "description": "Abone kategori tipi lookup değeridir"
        },
        "title": {
          "type": "string",
          "description": "Tüketici ad/soyad veya ünvan bilgisi"
        },
        "customerNo": {
          "type": "string",
          "description": "Abone tüketici no bilgisi"
        },
        "authorizedPerson1Name": {
          "type": "string",
          "description": "Birinci yetkili kişi ad/soyad bilgisi"
        },
        "authorizedPerson1No": {
          "type": "string",
          "description": "Birinci yetkili kişi tckn bilgisi"
        },
        "authorizedPerson2Name": {
          "type": "string",
[...]
