{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "EPYS - PRE Uzlaştırma Servisleri"
  },
  "host": "epys-prp.epias.com.tr",
  "basePath": "/pre-reconciliation/",
  "tags": [
    {
      "name": "pre-reconciliation-look-up-value"
    },
    {
      "name": "pre-reconciliation-meter-data"
    },
    {
      "name": "pre-reconciliation-meter-data-query"
    },
    {
      "name": "pre-reconciliation-retrospective-meter-data"
    },
    {
      "name": "pre-reconciliation-settlement-point-data-query"
    },
    {
      "name": "pre-reconciliation-transmission-loss-coefficient"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/lookup/list": {
      "get": {
        "tags": [
          "pre-reconciliation-look-up-value"
        ],
        "summary": "Onaylı Sayaçlar ve Veriler Sayfasında Kullanılan Lookup Değerleri Servisi",
        "description": "Onaylı sayaçlar ve veriler sayfasında kullanılan lookup değerleri",
        "operationId": "pre-reconciliation-look-up-value",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseLookupValueDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/export": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Sayaç Veri Listesi Export Servisi",
        "description": "Sayaç Veri Listesi Export",
        "operationId": "export-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterDataExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/hourly/export": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Saatlik Sayaç Verileri Detay Export Servisi",
        "description": "Saatlik Sayaç Verileri Detaylarının Excel veya CSV olarak indirilmesini sağlar.",
        "operationId": "export-hourly-meter-data-details",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HourlyMeterDataDetailReqExcelDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/hourly/get": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Saatlik Sayaç Verileri Detay Servisi",
        "description": "Sisteme yüklenen saatlik sayaçların verilerini listeler.",
        "operationId": "get-hourly-meter-data-details",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HourlyMeterDataDetailReqPageDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseHourlyMeterDataDetailRespDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/hourly/list": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Saatlik Sayaç Verileri Listeleme Servisi",
        "description": "Katılımcılara veya sayaç okuyan kurumlara ait saatlik sayaçların veriş/çekiş değerlerini topluca aldıkları servis",
        "operationId": "list-hourly-meter-datas",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HourlyMeterDataReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseHourlyMeterDataDtoResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/list": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Onaylı Sayaçların Sayaç Okunma Durumları",
        "description": "Onaylı sayaçların sayaç okunma durumlarına göre verilerini listeler.",
        "operationId": "list-meter-datas",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterDataListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataRespDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/profile-coefficient/get": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Sayaç Katsayı Detayları Servisi",
        "description": "Sayaç Katsayı Detayları",
        "operationId": "get-profile-coefficient-data-detail",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProfileCoefficientReqPageDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseProfileCoefficientDetailRespDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/profile/export": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Üç veya Tek Zamanlı Sayaç Veri Detay Export Servisi",
        "description": "Üç veya Tek Zamanlı sayacın detay verilerinin excel yada csv olarak indirilmesini sağlar.",
        "operationId": "export-profile-meter-data-detail",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProfileMeterDataReqExportDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/profile/get": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Üç veya Tek Zamanlı Sayaç Veri Detay Servisi",
        "description": "Üç veya Tek Zamanlı sayacın detay verilerini listeler.",
        "operationId": "get-profile-meter-data-detail",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProfileMeterDataReqPageDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseProfileMeterDataDetailRespDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/profile/list": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Üç ve Tek Zamanlı Sayaç Verileri Listeleme Servisi",
        "description": "Katılımcılara veya sayaç okuyan kurumlara ait üç ve tek zamanlı sayaçların çekiş değerlerini topluca aldıkları servis.",
        "operationId": "list-profile-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProfileMeterDataReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseProfileMeterDataRespDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-meter-data/total": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Toplam Onaylı Sayaç Verileri Servisi",
        "description": "Organizasyonun toplam aylık veriş, çekiş ve tenizl değerlerini döner.",
        "operationId": "get-total-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MeterDataTotalListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizationTotalDataDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-profile-meter-data/export": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Sayaç Veri Listesi Export Servisi",
        "description": "Sayaç Veri Listesi Export",
        "operationId": "export-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApprovedProfileMeterDataExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/meter-data/approved-profile-meter-data/list": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Onaylı Sayaçların Sayaç Okunma Durumları",
        "description": "Onaylı sayaçların sayaç okunma durumlarına göre verilerini listeler.",
        "operationId": "list-meter-datas",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApprovedProfileMeterDataListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseApprovedProfileMeterDataRespDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/file/template": {
      "get": {
        "tags": [
          "pre-reconciliation-meter-data"
        ],
        "summary": "OSF,PSF ve SVL Şablon Dosyaları Servisi",
        "description": "OSF,PSF ve SVL şablon dosyalarını indirir.",
        "operationId": "file-template",
        "parameters": [
          {
            "name": "file",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "OSF",
              "PSF",
              "SVL"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/meter-data/hourly/batch/save": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data"
        ],
        "summary": "Saatlik Sayaç Verileri Toplu Kayıt Servisi",
        "description": "Saatlik Sayaç Verilerini sisteme kaydeder.",
        "operationId": "save_batch-hourly-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HourlyMeterDataBatchSaveDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/hourly/save": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data"
        ],
        "summary": "Saatlik Sayaç Verileri Kayıt Servisi",
        "description": "Saatlik Sayaç Verilerini sisteme kaydeder.",
        "operationId": "save-hourly-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HourlyMeterDataSaveDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/meter-data/main-meter/export": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Organize Sanayi Bölgesi Ana Sayaç Verileri Export Servisi",
        "description": "Organize Sanayi Bölgesi ana sayaçların veriş-çekiş değerlerinin excel yada csv olarak indirilmesini sağlar.",
        "operationId": "export-organized-industrial-zone-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrgIndustrialZoneMainMeterExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/meter-data/main-meter/list": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "Organize Sanayi Bölgesi Ana Sayaç Verileri Listeleme Servisi",
        "description": "Organize Sanayi Bölgesi ana sayaçların veriş-çekiş değerlerini döner.",
        "operationId": "list-organized-industrial-zone-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrganizedIndustrialZoneMainMeterListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseOrganizedIndustrialZoneMeterDataRespDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/osf/import": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data"
        ],
        "summary": "Saatlik Sayaç Verilerini OSF Excel İle Yükleme Servisi",
        "description": "Saatlik sayaç verilerini OSF excel formatında sisteme kaydedilmesini sağlar.",
        "operationId": "import-osf-form",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/profile/save": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data"
        ],
        "summary": "Üç ve Tek Zamanlı Sayaç Verileri Kayıt Servisi",
        "description": "Üç ve tek zamanlı sayaç verilerini sisteme kaydeder.",
        "operationId": "save-profile-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProfileMeterDataSaveReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/psf/import": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data"
        ],
        "summary": "Üç ve Tek Zamanlı Sayaç Verilerini PSF Excel Formatı İle Yükleme Servisi",
        "description": "Üç ve tek zamanlı sayaçların PSF excel formatında topluca sisteme kaydedilmesini sağlar.",
        "operationId": "psf-import",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/svl/import": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data"
        ],
        "summary": "Üç ve Tek Zamanlı Sayaç Verilerini SVL Formatı İle Yükleme Servisi",
        "description": "Üç ve tek zamanlı sayaçların SVL formatında topluca sisteme kaydedilmesini sağlar.",
        "operationId": "svl-import",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/meter-data/transmission-meter-data/export": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "İletim Bölgelerinin Okuma Yükümlü Sayaç Verilerinin Export Servisi",
        "description": "İletim bölgelerinin okuma yükümlü olduğu sayaç verilerinin excel yada csv olarak indirilmesini sağlar.",
        "operationId": "export-transmission-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TransmissionMeterListExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/meter-data/transmission-meter-data/list": {
      "post": {
        "tags": [
          "pre-reconciliation-meter-data-query"
        ],
        "summary": "İletim Bölgelerinin Okumakla Yükümlü Olduğu Sayaç Verileri Servisi",
        "description": "İletim bölgelerinin okumakla yükümlü olduğu sayaçların verilerinin listelenmesi",
        "operationId": "list-transmission-meter-datas",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TransmissionMeterListPageReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseTransmissionMeterDataRespDto"
            }
          }
        }
      }
    },
    "/v1/power-increase/delete": {
      "post": {
        "operationId": "PowerPlantPowerIncreaseController_deletePowerIncrease_POST",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PowerIncreaseUpdateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/power-increase/export": {
      "post": {
        "operationId": "PowerPlantPowerIncreaseController_exportPowerIncrease_POST",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PowerIncreaseListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/power-increase/import": {
      "post": {
        "operationId": "PowerPlantPowerIncreaseController_importMrp_POST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/power-increase/list": {
      "post": {
        "operationId": "PowerPlantPowerIncreaseController_listPowerIncrease_POST",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PowerIncreaseListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponsePowerIncreaseListRespDto"
            }
          }
        }
      }
    },
    "/v1/power-increase/update": {
      "post": {
        "operationId": "PowerPlantPowerIncreaseController_updatePowerIncrease_POST",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PowerIncreaseSaveDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/correction-data-report/export": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Veri Değişim Dışarı Aktarma Servisi",
        "description": "Sayaç okuyan kurumlar tarafından yüklenen GDDK sayaç verilerine ait aylık değişim raporu servisidir.",
        "operationId": "list-correction-data-report-export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveCorrectionDataReportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/correction-data-report/list": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Veri Değişim Servisi",
        "description": "Sayaç okuyan kurumlar tarafından yüklenen GDDK sayaç verilerine ait aylık değişim raporu servisidir.",
        "operationId": "list-correction-data-report",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveCorrectionDataReportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseRetrospectiveCorrectionDataReportRespDto"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/hourly/export": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Saatlik Sayaç Bilgileri Export Servisi",
        "description": "GDDK Saatlik sayac bilgilerini dışa aktarır.",
        "operationId": "export-retrospective-hourly-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveMeterDataExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/hourly/list": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Saatlik Sayaç Bilgileri Listeleme Servisi",
        "description": "GDDK Saatlik sayaç bilgilerini listeler.",
        "operationId": "list-retrospective-hourly-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveHourlyMeterDataListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseRetrospectiveHourlyMeterDataRespDto"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/hourly/save": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Saatlik Sayaç Verisi Kaydetme Servisi",
        "description": "Saatlik sayaçların GDDK verisinin kaydedileceği servistir.",
        "operationId": "save-hourly-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HourlyMeterDataBatchSaveDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/hourly/status/update": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Saatlik Sayaç Bilgilerinin Durum Güncelleme Servisi",
        "description": "GDDK Saatlik Sayaç Bilgilerinin Durum Güncellemesi Yapar.",
        "operationId": "update-retrospective-hourly-meter-data-status",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveMeterDataUpdateReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/osf/import": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Saatlik Sayaç Verilerini OSF Excel Formatı İle Sisteme Yükleme Servisi",
        "description": "GDDK Saatlik sayaç verilerinin OSF excel formatında sisteme kaydedilmesini sağlar.",
        "operationId": "retro-import-osf-form",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/profile/export": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Profil Sayaç Bilgileri Export Servisi",
        "description": "GDDK Profil Sayaç Bilgileri Export",
        "operationId": "export-retrospective-profile-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveMeterDataExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/profile/list": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Profil Sayaç Bilgileri Listeleme Servisi",
        "description": "GDDK profil sayaç bilgilerini listeler.",
        "operationId": "list-retrospective-profile-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveProfileMeterDataListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseRetrospectiveProfileMeterDataRespDto"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/profile/save": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Profil Sayaç Verileri Kayıt Servisi",
        "description": "GDDK profil sayaç verilerini kaydeder.",
        "operationId": "retro-save-profile-meter-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProfileMeterDataSaveReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/profile/status/update": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Profil Sayac Durum Bilgisi Güncelleme Servisi",
        "description": "GDDK Profil Sayac Bilgilerinin Durum Bilgisini Günceller.",
        "operationId": "update-retrospective-profile-meter-data-status",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RetrospectiveMeterDataUpdateReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseBooleanDTO"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/psf/import": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Üç ve Tek Zamanlı Sayaç Verilerini PSF Excel Formatı İle Sisteme Yükleme Servisi",
        "description": "GDDK Üç ve tek zamanlı sayaç verilerinin PSF excel formatında topluca sisteme kaydedilmesini sağlar.",
        "operationId": "import-psf-form",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/retrospective-meter-data/svl/import": {
      "post": {
        "tags": [
          "pre-reconciliation-retrospective-meter-data"
        ],
        "summary": "GDDK Saatlik Sayaç Verilerini SVL Formatı İle Sisteme Yükleme Servisi",
        "description": "GDDK Saatlik sayaç verilerinin SVL formatında sisteme kaydedilmesini sağlar.",
        "operationId": "import-svl-form",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseMeterDataSaveResponseDto"
            }
          }
        }
      }
    },
    "/v1/settlement-point/data": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "UEVÇB Verileri Listeleme Servisi",
        "description": "UEVÇB verilerini listeler.",
        "operationId": "list-settlement-point-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettlementPointDataListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSettlementPointDataListRespDto"
            }
          }
        }
      }
    },
    "/v1/settlement-point/data/export": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "UEVÇB Verileri Export Servisi",
        "description": "UEVÇB verileri export servisi.",
        "operationId": "export-settlement-point-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettlementPointDataExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/settlement-point/meter-data/export": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "UEVÇB'ye Bağlı Sayaçların Bilgilerini Listeleme Servisi",
        "description": "UEVÇB'ye Bağlı Sayaçların Bilgilerini Listeler.",
        "operationId": "export-settlement-point-meter-details",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettPointMeterDataDetailExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/settlement-point/meter-data/list": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "UEVÇB'ye Bağlı Sayaçların Veriş-Çekiş Değerlerini Listeleme Servisi",
        "description": "UEVÇB'ye Bağlı Sayaçların Veriş-Çekiş Değerlerini Listeler.",
        "operationId": "list-settlement-point-meter-details",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettlementPointMeterDataDetailReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSettPointMeterDataDetailRespDto"
            }
          }
        }
      }
    },
    "/v1/settlement-point/oiz/data": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "UEVÇB Verileri Listeleme Servisi",
        "description": "UEVÇB verilerini listeler.",
        "operationId": "list-settlement-point-oiz-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettlementPointDataListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSettlementPointDataListRespDto"
            }
          }
        }
      }
    },
    "/v1/settlement-point/oiz/data/export": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "UEVÇB Verileri Export Servisi",
        "description": "UEVÇB verileri export servisi.",
        "operationId": "export-settlement-point-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettlementPointDataExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/settlement-point/overproduction-data/export": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "Kırpma Miktarı Dışarı Aktarma Servisi",
        "description": "Organizasyonların UEVCB'lerine uygulanan kırpma miktarları bilgisini döner.",
        "operationId": "export-overproduction-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettlementPointTrimmedExportReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/settlement-point/overproduction-data/list": {
      "post": {
        "tags": [
          "pre-reconciliation-settlement-point-data-query"
        ],
        "summary": "Kırpma Miktarı Servisi",
        "description": "Organizasyonların UEVCB'lerine uygulanan kırpma miktarları bilgisini döner.",
        "operationId": "list-overproduction-data",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SettlementPointTrimmedReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseSettlementPointTrimmedResponseDto"
            }
          }
        }
      }
    },
    "/v1/transmission-loss-coefficient/export": {
      "post": {
        "tags": [
          "pre-reconciliation-transmission-loss-coefficient"
        ],
        "summary": "ISKK Export Servisi.",
        "description": "ISKK verilerini export eder.",
        "operationId": "export",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TransmissionLossCoefficientListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/v1/transmission-loss-coefficient/list": {
      "post": {
        "tags": [
          "pre-reconciliation-transmission-loss-coefficient"
        ],
        "summary": "ISKK Veri Listeleme Servisi",
        "description": "ISKK verileri listeleme servisi.",
        "operationId": "list-records",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TransmissionLossCoefficientListReqDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RestResponseTransmissionLossCoefficientListResponseDto"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApprovedProfileMeterDataDto": {
      "type": "object",
      "properties": {
        "organization": {
          "description": "Organizasyon",
          "$ref": "#/definitions/KeyValueDto"
        },
        "meterReadingCompany": {
          "description": "Sayaç Okuyan Kurum",
          "$ref": "#/definitions/KeyValueDto"
        },
        "readingType": {
          "description": "Okuma Tipi",
          "$ref": "#/definitions/KeyValueDto"
        },
        "usageType": {
          "description": "Kullanım Tipi",
          "$ref": "#/definitions/KeyValueDto"
        },
        "city": {
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_CITY}",
          "$ref": "#/definitions/KeyValueDto"
        },
        "profileSubscription": {
          "description": "Abonelik",
          "$ref": "#/definitions/KeyValueDto"
        },
        "region": {
          "type": "string",
          "description": "Bölge"
        },
        "meterName": {
          "type": "string",
          "description": "Sayaç İsmi"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Tarih"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_START}"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_END}"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "description": "Versiyon"
        },
        "dayTime": {
          "type": "number",
          "description": "Gün İçi Zamanı"
        },
        "peakTime": {
          "type": "number",
          "description": "Zirve Zamanı"
        },
        "nightTime": {
          "type": "number",
          "description": "Gece Zamanı"
        },
        "lossesDayTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Gündüz (MWh)"
        },
        "lossesPeakTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Puant (MWh)"
        },
        "lossesNightTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Gece (MWh)"
        },
        "organizationConfiguration": {
          "description": "Sayacın Bağlı Olduğu Organizasyon Konfigürasyon Bilgisi",
          "$ref": "#/definitions/OrganizationConfigurationDto"
        }
      }
    },
    "ApprovedProfileMeterDataExportReqDto": {
      "type": "object",
      "required": [
        "period",
        "region",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK Verisi mi?"
        },
        "region": {
          "type": "string",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bölge"
        },
        "organization": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon"
        },
        "meterReadingCompany": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Okuyan Kurum"
        },
        "meterReadingType": {
          "type": "string",
          "description": "Okuma Tipi",
          "enum": [
            "THREE_PHASE",
            "HOURLY",
            "SINGLE_PHASE"
          ]
        },
        "usageType": {
          "type": "integer",
          "format": "int64",
          "description": "Kullanım Tipi"
        },
        "meterIds": {
          "type": "array",
          "description": "Sayaç Id'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "exportType": {
          "type": "string",
          "description": "Dışa Aktarım Tipi",
          "enum": [
            "XLSX",
            "CSV",
            "PDF"
          ]
        }
      }
    },
    "ApprovedProfileMeterDataListReqDto": {
      "type": "object",
      "required": [
        "period",
        "region",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK Verisi mi?"
        },
        "region": {
          "type": "string",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bölge"
        },
        "organization": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon"
        },
        "meterReadingCompany": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Okuyan Kurum"
        },
        "meterReadingType": {
          "type": "string",
          "description": "Okuma Tipi",
          "enum": [
            "THREE_PHASE",
            "HOURLY",
            "SINGLE_PHASE"
          ]
        },
        "usageType": {
          "type": "integer",
          "format": "int64",
          "description": "Kullanım Tipi"
        },
        "meterIds": {
          "type": "array",
          "description": "Sayaç Id'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ApprovedProfileMeterDataRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApprovedProfileMeterDataDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "BaseDTO": {
      "type": "object"
    },
    "BooleanDTO": {
      "type": "object",
      "properties": {
        "completed": {
          "type": "boolean"
        }
      }
    },
    "HourlyMeterDataBatchSaveDto": {
      "type": "object",
      "properties": {
        "meters": {
          "type": "array",
          "description": "Saatlik Sayaç Veri Listesi",
          "items": {
            "$ref": "#/definitions/HourlyMeterDataSaveWrapperDto"
          }
        }
      }
    },
    "HourlyMeterDataDetailDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Tarih"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "description": "Versiyon"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "name": {
          "type": "string",
          "description": "İsim"
        },
        "supply": {
          "type": "number",
          "description": "Veriş (MWh)"
        },
        "withdrawal": {
          "type": "number",
          "description": "Çekiş (MWh)"
        },
        "lossesSupply": {
          "type": "number",
          "description": "Kayıplı Veriş (MWh)"
        },
        "lossesWithdrawal": {
          "type": "number",
          "description": "Kayıplı Çekiş (MWh)"
        }
      }
    },
    "HourlyMeterDataDetailReqExcelDto": {
      "type": "object",
      "required": [
        "period",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "exportType": {
          "type": "string",
          "description": "Dışa Aktarım Tipi",
          "enum": [
            "XLSX",
            "CSV",
            "PDF"
          ]
        }
      }
    },
    "HourlyMeterDataDetailReqPageDto": {
      "type": "object",
      "required": [
        "period",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "HourlyMeterDataDetailRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HourlyMeterDataDetailDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "HourlyMeterDataDto": {
      "type": "object",
      "required": [
        "effectiveDate",
        "version"
      ],
      "properties": {
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Tarih"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "supply": {
          "type": "number",
          "description": "Veriş (MWh)"
        },
        "withdrawal": {
          "type": "number",
          "description": "Çekiş (MWh)"
        },
        "lossesSupply": {
          "type": "number",
          "description": "Kayıplı Veriş (MWh)"
        },
        "lossesWithdrawal": {
          "type": "number",
          "description": "Kayıplı Çekiş (MWh)"
        }
      }
    },
    "HourlyMeterDataDtoResponseDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HourlyMeterDataDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "HourlyMeterDataReqDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart",
        "version"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Başlangıç Tarihi"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bitiş Tarihi"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK mı?"
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "HourlyMeterDataSaveDetailDto": {
      "type": "object",
      "properties": {
        "period": {
          "type": "integer",
          "format": "int64"
        },
        "supply": {
          "type": "number"
        },
        "withdrawal": {
          "type": "number"
        }
      }
    },
    "HourlyMeterDataSaveDto": {
      "type": "object",
      "required": [
        "period"
      ],
      "properties": {
        "meterId": {
          "type": "integer",
          "format": "int64"
        },
        "eic": {
          "type": "string"
        },
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Dönem Bilgisi"
        },
        "datas": {
          "type": "array",
          "description": "Saatlik Sayaç Veri Listesi",
          "items": {
            "$ref": "#/definitions/HourlyMeterDataSaveDetailDto"
          }
        }
      }
    },
    "HourlyMeterDataSaveWrapperDto": {
      "type": "object",
      "required": [
        "period"
      ],
      "properties": {
        "meterId": {
          "type": "integer",
          "format": "int64"
        },
        "eic": {
          "type": "string"
        },
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Dönem Bilgisi"
        },
        "datas": {
          "type": "array",
          "description": "Saatlik Sayaç Veri Listesi",
          "items": {
            "$ref": "#/definitions/HourlyMeterDataSaveDetailDto"
          }
        }
      }
    },
    "KeyValueDto": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "LabelValueDTO": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "LookupValueDto": {
      "type": "object",
      "properties": {
        "readingTypes": {
          "type": "array",
          "description": "Okuma Tipi",
          "items": {
            "$ref": "#/definitions/LabelValueDTO"
          }
        },
        "usageTypes": {
          "type": "array",
          "description": "Kullanım Tipi",
          "items": {
            "$ref": "#/definitions/LabelValueDTO"
          }
        },
        "readingStatus": {
          "type": "array",
          "description": "Okuma Durumu",
          "items": {
            "$ref": "#/definitions/LabelValueDTO"
          }
        },
        "profileSubscriptionGroups": {
          "type": "array",
          "description": "Profil Abone Grubu",
          "items": {
            "$ref": "#/definitions/LabelValueDTO"
          }
        }
      }
    },
    "MeterDataDto": {
      "type": "object",
      "properties": {
        "organization": {
          "description": "Organizasyon",
          "$ref": "#/definitions/KeyValueDto"
        },
        "meterReadingCompany": {
          "description": "Sayaç Okuyan Kurum",
          "$ref": "#/definitions/KeyValueDto"
        },
        "readingType": {
          "description": "Okuma Tipi",
          "$ref": "#/definitions/KeyValueDto"
        },
        "usageType": {
          "description": "Kullanım Tipi",
          "$ref": "#/definitions/KeyValueDto"
        },
        "city": {
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_CITY}",
          "$ref": "#/definitions/KeyValueDto"
        },
        "profileSubscription": {
          "description": "Abonelik",
          "$ref": "#/definitions/KeyValueDto"
        },
        "region": {
          "type": "string",
          "description": "Bölge"
        },
        "meterName": {
          "type": "string",
          "description": "Sayaç İsmi"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Tarih"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_START}"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_END}"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "description": "Versiyon"
        },
        "supply": {
          "type": "number",
          "description": "Veriş (MWh)"
        },
        "withdrawal": {
          "type": "number",
          "description": "Çekiş (MWh)"
        },
        "lossesSupply": {
          "type": "number",
          "description": "Kayıplı Veriş (MWh)"
        },
        "lossesWithdrawal": {
          "type": "number",
          "description": "Kayıplı Çekiş (MWh)"
        },
        "organizationConfiguration": {
          "description": "Sayacın Bağlı Olduğu Organizasyon Konfigürasyon Bilgisi",
          "$ref": "#/definitions/OrganizationConfigurationDto"
        }
      }
    },
    "MeterDataExportReqDto": {
      "type": "object",
      "required": [
        "period",
        "region",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK Verisi mi?"
        },
        "region": {
          "type": "string",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bölge"
        },
        "organization": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon"
        },
        "meterReadingCompany": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Okuyan Kurum"
        },
        "meterReadingType": {
          "type": "string",
          "description": "Okuma Tipi",
          "enum": [
            "THREE_PHASE",
            "HOURLY",
            "SINGLE_PHASE"
          ]
        },
        "usageType": {
          "type": "integer",
          "format": "int64",
          "description": "Kullanım Tipi"
        },
        "meterIds": {
          "type": "array",
          "description": "Sayaç Id'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "readStatus": {
          "type": "boolean",
          "description": "Okuma Durumu"
        },
        "exportType": {
          "type": "string",
          "description": "Dışa Aktarım Tipi",
          "enum": [
            "XLSX",
            "CSV",
            "PDF"
          ]
        }
      }
    },
    "MeterDataIdDto": {
      "type": "object",
      "required": [
        "period"
      ],
      "properties": {
        "meterId": {
          "type": "integer",
          "format": "int64"
        },
        "eic": {
          "type": "string"
        },
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00"
        }
      }
    },
    "MeterDataListReqDto": {
      "type": "object",
      "required": [
        "period",
        "region",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK Verisi mi?"
        },
        "region": {
          "type": "string",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bölge"
        },
        "organization": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon"
        },
        "meterReadingCompany": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Okuyan Kurum"
        },
        "meterReadingType": {
          "type": "string",
          "description": "Okuma Tipi",
          "enum": [
            "THREE_PHASE",
            "HOURLY",
            "SINGLE_PHASE"
          ]
        },
        "usageType": {
          "type": "integer",
          "format": "int64",
          "description": "Kullanım Tipi"
        },
        "meterIds": {
          "type": "array",
          "description": "Sayaç Id'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "readStatus": {
          "type": "boolean",
          "description": "Okuma Durumu"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "MeterDataRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MeterDataDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "MeterDataSaveResponseDto": {
      "type": "object",
      "properties": {
        "successSize": {
          "type": "integer",
          "format": "int32",
          "description": "Başarılı Kayıt Sayısı"
        },
        "successList": {
          "type": "array",
          "description": "Başarılı Kayıt Listesi",
          "items": {
            "$ref": "#/definitions/MeterDataIdDto"
          }
        }
      }
    },
    "MeterDataTotalListReqDto": {
      "type": "object",
      "required": [
        "organization",
        "period",
        "region"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "region": {
          "type": "string",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bölge"
        },
        "organization": {
          "type": "integer",
          "format": "int64",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Organizasyon"
        }
      }
    },
    "ModelAndView": {
      "type": "object",
      "properties": {
        "view": {
          "$ref": "#/definitions/View"
        },
        "model": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "status": {
          "type": "string",
          "enum": [
            "CONTINUE",
            "SWITCHING_PROTOCOLS",
            "PROCESSING",
            "CHECKPOINT",
            "OK",
            "CREATED",
            "ACCEPTED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NO_CONTENT",
            "RESET_CONTENT",
            "PARTIAL_CONTENT",
            "MULTI_STATUS",
            "ALREADY_REPORTED",
            "IM_USED",
            "MULTIPLE_CHOICES",
            "MOVED_PERMANENTLY",
            "FOUND",
            "MOVED_TEMPORARILY",
            "SEE_OTHER",
            "NOT_MODIFIED",
            "USE_PROXY",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT",
            "BAD_REQUEST",
            "UNAUTHORIZED",
            "PAYMENT_REQUIRED",
            "FORBIDDEN",
            "NOT_FOUND",
            "METHOD_NOT_ALLOWED",
            "NOT_ACCEPTABLE",
            "PROXY_AUTHENTICATION_REQUIRED",
            "REQUEST_TIMEOUT",
            "CONFLICT",
            "GONE",
            "LENGTH_REQUIRED",
            "PRECONDITION_FAILED",
            "PAYLOAD_TOO_LARGE",
            "REQUEST_ENTITY_TOO_LARGE",
            "URI_TOO_LONG",
            "REQUEST_URI_TOO_LONG",
            "UNSUPPORTED_MEDIA_TYPE",
            "REQUESTED_RANGE_NOT_SATISFIABLE",
            "EXPECTATION_FAILED",
            "I_AM_A_TEAPOT",
            "INSUFFICIENT_SPACE_ON_RESOURCE",
            "METHOD_FAILURE",
            "DESTINATION_LOCKED",
            "UNPROCESSABLE_ENTITY",
            "LOCKED",
            "FAILED_DEPENDENCY",
            "UPGRADE_REQUIRED",
            "PRECONDITION_REQUIRED",
            "TOO_MANY_REQUESTS",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "INTERNAL_SERVER_ERROR",
            "NOT_IMPLEMENTED",
            "BAD_GATEWAY",
            "SERVICE_UNAVAILABLE",
            "GATEWAY_TIMEOUT",
            "HTTP_VERSION_NOT_SUPPORTED",
            "VARIANT_ALSO_NEGOTIATES",
            "INSUFFICIENT_STORAGE",
            "LOOP_DETECTED",
            "BANDWIDTH_LIMIT_EXCEEDED",
            "NOT_EXTENDED",
            "NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "empty": {
          "type": "boolean"
        },
        "reference": {
          "type": "boolean"
        },
        "viewName": {
          "type": "string"
        },
        "modelMap": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "OrgIndustrialZoneMainMeterExportReqDto": {
      "type": "object",
      "required": [
        "period",
        "region",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK Verisi mi?"
        },
        "region": {
          "type": "string",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bölge"
        },
        "organization": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon"
        },
        "meterReadingCompany": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Okuyan Kurum"
        },
        "meterReadingType": {
          "type": "string",
          "description": "Okuma Tipi",
          "enum": [
            "THREE_PHASE",
            "HOURLY",
            "SINGLE_PHASE"
          ]
        },
        "usageType": {
          "type": "integer",
          "format": "int64",
          "description": "Kullanım Tipi"
        },
        "meterIds": {
          "type": "array",
          "description": "Sayaç Id'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "organizedIndustrialZone": {
          "type": "integer",
          "format": "int64",
          "description": "Organize Sanayi Bölgesi Id"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        },
        "exportType": {
          "type": "string",
          "description": "Dışa Aktarım Tipi",
          "enum": [
            "XLSX",
            "CSV",
            "PDF"
          ]
        }
      }
    },
    "OrganizationConfigurationDto": {
      "type": "object",
      "properties": {
        "supply": {
          "$ref": "#/definitions/KeyValueDto"
        },
        "withdrawal": {
          "$ref": "#/definitions/KeyValueDto"
        },
        "supplyDeduction": {
          "$ref": "#/definitions/KeyValueDto"
        },
        "withdrawalDeduction": {
          "$ref": "#/definitions/KeyValueDto"
        },
        "licenceOwner": {
          "$ref": "#/definitions/KeyValueDto"
        }
      }
    },
    "OrganizationTotalDataDto": {
      "type": "object",
      "properties": {
        "withdrawal": {
          "type": "number",
          "description": "Toplam Çeki̇ş (MWh)"
        },
        "withdrawalDeduction": {
          "type": "number",
          "description": "Toplam Çeki̇ş Tenzil (MWh)"
        },
        "supply": {
          "type": "number",
          "description": "Toplam Veriş (MWh)"
        },
        "supplyDeduction": {
          "type": "number",
          "description": "Toplam Veriş Tenzil (MWh)"
        },
        "netWithdrawal": {
          "type": "number",
          "description": "Toplam Net Çekiş (MWh)"
        }
      }
    },
    "OrganizedIndustrialZoneMainMeterListReqDto": {
      "type": "object",
      "required": [
        "period",
        "region",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK Verisi mi?"
        },
        "region": {
          "type": "string",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Bölge"
        },
        "organization": {
          "type": "integer",
          "format": "int64",
          "description": "Organizasyon"
        },
        "meterReadingCompany": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Okuyan Kurum"
        },
        "meterReadingType": {
          "type": "string",
          "description": "Okuma Tipi",
          "enum": [
            "THREE_PHASE",
            "HOURLY",
            "SINGLE_PHASE"
          ]
        },
        "usageType": {
          "type": "integer",
          "format": "int64",
          "description": "Kullanım Tipi"
        },
        "meterIds": {
          "type": "array",
          "description": "Sayaç Id'leri",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "organizedIndustrialZone": {
          "type": "integer",
          "format": "int64",
          "description": "Organize Sanayi Bölgesi Id"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "OrganizedIndustrialZoneMeterDataDto": {
      "type": "object",
      "properties": {
        "organization": {
          "description": "Organizasyon",
          "$ref": "#/definitions/KeyValueDto"
        },
        "meterReadingCompany": {
          "description": "Sayaç Okuyucu Şirket",
          "$ref": "#/definitions/KeyValueDto"
        },
        "osbOrganization": {
          "description": "Organizasyon",
          "$ref": "#/definitions/KeyValueDto"
        },
        "readingType": {
          "description": "Okuma Tipi",
          "$ref": "#/definitions/KeyValueDto"
        },
        "usageType": {
          "description": "Kullanım Tipi",
          "$ref": "#/definitions/KeyValueDto"
        },
        "region": {
          "type": "string",
          "description": "Bölge"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "meterName": {
          "type": "string",
          "description": "Sayaç İsmi"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Tarih"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_START}"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_END}"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "description": "Versiyon"
        },
        "supply": {
          "type": "number",
          "description": "Veriş (MWh)"
        },
        "withdrawal": {
          "type": "number",
          "description": "Çekiş (MWh)"
        },
        "lossesSupply": {
          "type": "number",
          "description": "Kayıplı Veriş (MWh)"
        },
        "lossesWithdrawal": {
          "type": "number",
          "description": "Kayıplı Çekiş (MWh)"
        },
        "organizationConfiguration": {
          "description": "Bağlı olduğu organizasyona ait verileri",
          "$ref": "#/definitions/OrganizationConfigurationDto"
        }
      }
    },
    "OrganizedIndustrialZoneMeterDataRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrganizedIndustrialZoneMeterDataDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "Page": {
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int64",
          "example": "${EXAMPLE_PAGE_NUMBER}",
          "description": "${VALUE_PAGE_NUMBER}"
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "example": "${EXAMPLE_PAGE_SIZE}",
          "description": "${VALUE_PAGE_SIZE}"
        },
        "total": {
          "type": "integer",
          "format": "int64",
          "example": "${EXAMPLE_PAGE_TOTAL}",
          "description": "${VALUE_PAGE_TOTAL}"
        },
        "sort": {
          "description": "${VALUE_PAGE_SORT}",
          "$ref": "#/definitions/SortDTO"
        }
      }
    },
    "PowerIncreaseListDto": {
      "type": "object",
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64"
        },
        "organizationName": {
          "type": "string"
        },
        "powerPlantId": {
          "type": "integer",
          "format": "int64"
        },
        "powerPlantName": {
          "type": "string"
        },
        "capacityAmount": {
          "type": "number"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "updateable": {
          "type": "boolean"
        },
        "deleteable": {
          "type": "boolean"
        }
      }
    },
    "PowerIncreaseListReqDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64"
        },
        "powerPlantId": {
          "type": "integer",
          "format": "int64"
        },
        "exportType": {
          "type": "string",
          "example": "XLSX, CSV or PDF",
          "enum": [
            "XLSX",
            "CSV",
            "PDF"
          ]
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "PowerIncreaseListRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerIncreaseListDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "PowerIncreaseSaveDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64"
        },
        "organizationName": {
          "type": "string"
        },
        "powerPlantId": {
          "type": "integer",
          "format": "int64"
        },
        "powerPlantName": {
          "type": "string"
        },
        "capacityAmount": {
          "type": "number"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "PowerIncreaseUpdateRequestDto": {
      "type": "object",
      "required": [
        "effectiveDateEnd",
        "effectiveDateStart"
      ],
      "properties": {
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00"
        },
        "organizationId": {
          "type": "integer",
          "format": "int64"
        },
        "powerPlantId": {
          "type": "integer",
          "format": "int64"
        },
        "capacityAmount": {
          "type": "number"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ProfileCoefficientDetailRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProfileMeterDataCoefficientDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ProfileCoefficientReqPageDto": {
      "type": "object",
      "required": [
        "period",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ProfileMeterDataCoefficientDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Tarih"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "description": "Versiyon"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "name": {
          "type": "string",
          "description": "İsim"
        },
        "withdrawal": {
          "type": "number",
          "description": "Çekiş (MWh)"
        },
        "lossesWithdrawal": {
          "type": "number",
          "description": "Kayıplı Çekiş (MWh)"
        },
        "coefficient": {
          "type": "number",
          "description": "Çarpan Değeri"
        }
      }
    },
    "ProfileMeterDataDetailDto": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Tarih"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_START}"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_END}"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "description": "Versiyon"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "name": {
          "type": "string",
          "description": "İsim"
        },
        "profileGroupMeterId": {
          "type": "integer",
          "format": "int64",
          "description": "Profil Grup Sayaç Id"
        },
        "profileSubscription": {
          "description": "Abonelik",
          "$ref": "#/definitions/KeyValueDto"
        },
        "usageType": {
          "description": "Kullanım Tipi",
          "$ref": "#/definitions/KeyValueDto"
        },
        "dayTime": {
          "type": "number",
          "description": "Gün İçi Zamanı"
        },
        "peakTime": {
          "type": "number",
          "description": "Zirve Zamanı"
        },
        "nightTime": {
          "type": "number",
          "description": "Gece Zamanı"
        },
        "lossesDayTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Gündüz (MWh)"
        },
        "lossesPeakTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Puant (MWh)"
        },
        "lossesNightTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Gece (MWh)"
        }
      }
    },
    "ProfileMeterDataDetailRespDto": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProfileMeterDataDetailDto"
          }
        },
        "page": {
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ProfileMeterDataDto": {
      "type": "object",
      "required": [
        "effectiveDate",
        "version"
      ],
      "properties": {
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Tarih"
        },
        "effectiveDateStart": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_START}"
        },
        "effectiveDateEnd": {
          "type": "string",
          "format": "date-time",
          "description": "${PRE_RECONCILIATION_METER_DATA_DTO_EFFECTIVE_DATE_END}"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "dayTime": {
          "type": "number",
          "description": "Çekiş Gündüz (MWh)"
        },
        "peakTime": {
          "type": "number",
          "description": "Çekiş Puant (MWh)"
        },
        "nightTime": {
          "type": "number",
          "description": "Çekiş Gece (MWh)"
        },
        "lossesDayTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Gündüz (MWh)"
        },
        "lossesPeakTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Puant (MWh)"
        },
        "lossesNightTime": {
          "type": "number",
          "description": "Kayıplı Çekiş Gece (MWh)"
        }
      }
    },
    "ProfileMeterDataReqDto": {
      "type": "object",
      "required": [
        "period",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "isRetrospective": {
          "type": "boolean",
          "description": "GDDK mı?"
        },
        "isLastVersion": {
          "type": "boolean",
          "description": "Son Versiyon mu?"
        },
        "page": {
          "description": "Sayfa",
          "$ref": "#/definitions/Page"
        }
      }
    },
    "ProfileMeterDataReqExportDto": {
      "type": "object",
      "required": [
        "period",
        "version"
      ],
      "properties": {
        "period": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Periyot"
        },
        "version": {
          "type": "string",
          "format": "date-time",
          "example": "2020-01-01T00:00:00+03:00",
          "description": "Versiyon"
        },
        "meterId": {
          "type": "integer",
          "format": "int64",
          "description": "Sayaç Id"
        },
        "meterEic": {
          "type": "string",
          "description": "Sayaç Etso Kod"
        },
        "exportType": {
          "type": "string",
          "description": "Dışa Aktarım Tipi",
          "enum": [
            "XLSX",
            "CSV",
            "PDF"
          ]
        }
      }
[...]
