{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "EPİAŞ - GÜNİÇİ Servisleri"
  },
  "host" : "gunici-prp.epias.com.tr",
  "basePath" : "/gunici-service",
  "tags" : [ {
    "name" : "announcement"
  }, {
    "name" : "announcement-exist"
  }, {
    "name" : "authorization"
  }, {
    "name" : "configs"
  }, {
    "name" : "contract"
  }, {
    "name" : "dashboard"
  }, {
    "name" : "dashboard-configs"
  }, {
    "name" : "limit"
  }, {
    "name" : "lookup-detail"
  }, {
    "name" : "match-detail"
  }, {
    "name" : "menu"
  }, {
    "name" : "objection"
  }, {
    "name" : "offer"
  }, {
    "name" : "offer-exist"
  }, {
    "name" : "operation-history"
  }, {
    "name" : "organization-info"
  }, {
    "name" : "participation-exist"
  }, {
    "name" : "tgs-report"
  }, {
    "name" : "user-info"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/rest/v1/announcement/category/list" : {
      "get" : {
        "tags" : [ "announcement" ],
        "summary" : "Duyuru Kategorileri",
        "description" : "Duyuru Kategorileri listeleme servisi",
        "operationId" : "list-announcement-category",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAnnouncementCategoryRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/exist/delete" : {
      "post" : {
        "tags" : [ "announcement-exist" ],
        "operationId" : "AnnouncementAdminController_deleteAnnouncement_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementFindExistReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/exist/export" : {
      "post" : {
        "tags" : [ "announcement-exist" ],
        "operationId" : "AnnouncementAdminController_exportAnnouncement_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementExportExistReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/exist/get" : {
      "post" : {
        "tags" : [ "announcement-exist" ],
        "operationId" : "AnnouncementAdminController_findAnnouncement_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementFindExistReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAnnouncementUpdateRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/exist/list" : {
      "post" : {
        "tags" : [ "announcement-exist" ],
        "operationId" : "AnnouncementAdminController_listAnnouncement_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementListExistReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAnnouncementExistRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/exist/save" : {
      "post" : {
        "tags" : [ "announcement-exist" ],
        "operationId" : "AnnouncementAdminController_saveAnnouncement_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementSaveDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAnnouncementSaveRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/exist/update" : {
      "post" : {
        "tags" : [ "announcement-exist" ],
        "operationId" : "AnnouncementAdminController_updateAnnouncement_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementUpdateDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/export" : {
      "post" : {
        "tags" : [ "announcement" ],
        "summary" : "Duyuru Listeleme",
        "description" : "Duyuru Listeleme servisi",
        "operationId" : "export-announcement",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/list" : {
      "post" : {
        "tags" : [ "announcement" ],
        "summary" : "Duyuru Listeleme",
        "description" : "Duyuru Listeleme servisi",
        "operationId" : "list-announcement",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAnnouncementRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/read" : {
      "post" : {
        "tags" : [ "announcement" ],
        "summary" : "Duyuru Mesajları Okuma",
        "description" : "Okunmamış mesajları okundu durumuna çekmek için kullanılacak servis",
        "operationId" : "read-announcement",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnnouncementReadUpdateDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/announcement/unread/get" : {
      "get" : {
        "tags" : [ "announcement" ],
        "summary" : "Okunmayan Mesajlar",
        "description" : "Okunmayan mesaj listesini döner.",
        "operationId" : "list-unread-message",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAnnouncementUnReadRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/authorization/auth-info-label" : {
      "post" : {
        "tags" : [ "authorization" ],
        "operationId" : "AuthorizationController_getEpysAuthListLabel_POST",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/rest/v1/configs" : {
      "get" : {
        "tags" : [ "configs" ],
        "summary" : "Ayarlaları sorgulama",
        "description" : "Ayarlaları sorgulama",
        "operationId" : "configs-get",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseConfigRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/configs/contract-table/update" : {
      "post" : {
        "tags" : [ "configs" ],
        "summary" : "Saatlik defter konfigürasyon güncelleme",
        "description" : "Saatlik defter konfigürasyon güncelleme",
        "operationId" : "contract-table-config-update",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ContractTableConfigDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractTableConfigDto"
            }
          }
        }
      }
    },
    "/rest/v1/configs/update" : {
      "post" : {
        "tags" : [ "configs" ],
        "summary" : "Ayarları güncelleme",
        "description" : "Ayarları güncelleme",
        "operationId" : "configs-save",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ConfigsDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseConfigRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/actives" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "Aktif Kontrat Listeleme",
        "description" : "Aktif Kontrat Listeleme",
        "operationId" : "list-all-active-contracts-lookup",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ActiveContractListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractNamesDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/filter" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "İleri tarihli kontrat dondurma arama",
        "description" : "İleri tarihli kontrat dondurma için aranan kontratları döner.",
        "operationId" : "contracts-freeze-filter",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ContractFreezeFilterReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractFreezeFilterResDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/list" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "Kontrat Listeleme",
        "description" : "Sistemde bulunan kontrat listesini döner.",
        "operationId" : "list-contracts",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ContractListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/lookup" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "Kontrat Listeleme",
        "description" : "Sistemde bulunan kontrat listesini döner.",
        "operationId" : "list-contracts-lookup",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ContractLookupReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractLookupRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/offer-contract/list" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "Kontrat Listeleme",
        "description" : "Sistemde bulunan kontrat listesini döner.",
        "operationId" : "list-active-contracts-lookup",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ActiveContractListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseActiveContractListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/offer-contract/lookup" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "Güncellenbilir Kontrat Listesi",
        "description" : "Aktif veya pasif tekliflerinizin olduğu kontratların listelendiği servis.",
        "operationId" : "list-active-contracts-lookup-buy_offer",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferActiveContractListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractLookupRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/offer-exist/lookup" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "Kontrat Listeleme",
        "description" : "Sistemde bulunan kontrat listesini döner.",
        "operationId" : "list-exist-contracts-lookup",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferExistContractListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractLookupRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/contract/trade-history/list" : {
      "post" : {
        "tags" : [ "contract" ],
        "summary" : "İşlem Akışı",
        "description" : "İşlem akışının listelendiği servis",
        "operationId" : "list-trade-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TradeHistoryRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseTradeHistoryResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard-configs" : {
      "get" : {
        "tags" : [ "dashboard-configs" ],
        "summary" : "Dashboard konfigürasyonları sorgulama",
        "description" : "Dashboard konfigürasyonları sorgulama",
        "operationId" : "dashboard-configs-get",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseDashboardConfigsDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard-configs/update" : {
      "post" : {
        "tags" : [ "dashboard-configs" ],
        "summary" : "Dashboard konfigürasyon güncelleme",
        "description" : "Dashboard konfigürasyon güncelleme",
        "operationId" : "dashboard-configs-save",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DashboardConfigsDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseDashboardConfigsDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/announcement/get" : {
      "get" : {
        "tags" : [ "dashboard" ],
        "summary" : "Okunmayan Mesajlar",
        "description" : "Okunmayan mesaj listesini döner.",
        "operationId" : "list-announcement-message",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAnnouncementUnReadRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/avg-price-gap-chart" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "AOF-Fiyat Farkı Grafiği ",
        "description" : "Katılımcı Dashboard Ekranı AOF-Fiyat Farkı Grafiği",
        "operationId" : "list-avg-price-gap-chart",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseAveragePriceAndPriceGapRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/avg-price-gap-chart/export" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "AOF-Fiyat Farkı Grafiği ",
        "description" : "Katılımcı Dashboard Ekranı AOF-Fiyat Farkı Grafiği",
        "operationId" : "list-avg-price-gap-chart-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/contract-indicators" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Kontrat Göstergeleri",
        "description" : "",
        "operationId" : "contract-indicators",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ContractIndicatorsReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseContractIndicatorsResultDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/contract-indicators/export" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Kontrat Göstergeleri Export Servisi",
        "description" : "",
        "operationId" : "contract-indicators-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ContractIndicatorsReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/contract-otr/top-ten" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "${CONTRACT_TOP_TEN_TEO_DASHBOARD}",
        "description" : "${CONTRACT_TOP_TEN_TEO_DASHBOARD_NOTE}",
        "operationId" : "list-contract-top-ten-otr-dashboard",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ContractTopTenOtrDashboardReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseTopTenOtrDashboardRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/daily/reconciliation" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Özet Tablo Grafiği",
        "description" : "Özet Tablo Grafiği",
        "operationId" : "list-daily-matches-by-exist",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseReconciliationDailyResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/daily/reconciliation/export" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Özet Tablo Grafiği",
        "description" : "Özet Tablo Grafiği",
        "operationId" : "export-daily-matches-by-exist",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/get-system-messages" : {
      "get" : {
        "tags" : [ "dashboard" ],
        "summary" : "${SYSTEM_MESSAGES}",
        "description" : "${SYSTEM_MESSAGES}",
        "operationId" : "get-system-messages",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSystemMessagesRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/hourly-block-match" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Saatlik Blok Eşleşme Grafiği Servisi",
        "description" : "",
        "operationId" : "hourly-block-match",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseHourlyBlockMatchResultDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/hourly-block-match/export" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Saatlik Blok Eşleşme Grafiği Export Servisi",
        "description" : "",
        "operationId" : "hourly-block-match-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/matching-max-quantities" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "En Yüksek Eşleşmeler Grafiği",
        "description" : "En Yüksek Eşleşmeler Grafiği",
        "operationId" : "matching-max-quantity",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchingMaxQuantityReq"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchingMaxQuantityResultDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/matching-price" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "En Yüksek En Düşük Eşleşmeler",
        "description" : "En Yüksek En Düşük Eşleşmeler",
        "operationId" : "matching-min-max-price",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchingMinMaxPriceReq"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchingMinMaxPriceResultDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/matching-quantity/max-min" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "${MATCHING_MIN_MAX_QUANTITY}",
        "description" : "${MATCHING_MIN_MAX_QUANTITY}",
        "operationId" : "matching-min-max-quantity",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchingMinMaxQuantityReq"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchingMinMaxQuantityResultDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/offer-max-quantities" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "En Yüksek Teklifler Grafiği",
        "description" : "En Yüksek Teklifler Grafiği",
        "operationId" : "offer-max-quantity",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferMaxQuantityReq"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOfferMaxQuantityResultDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/organization-avg-price-chart" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Organizasyonun AOF-PTF Grafiği",
        "description" : "Organizasyonun AOF-PTF grafik verilerinin sağlandığı servis.",
        "operationId" : "list-organization-avg-price-chart",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOrganizationAveragePriceMcpChartRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/organization-avg-price-chart/export" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Organizasyonun AOF-PTF Export Grafiği",
        "description" : "Organizasyonun AOF-PTF Export Grafiği",
        "operationId" : "list-organization-avg-price-chart-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/otr/dashboard" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Teklif Eşleşme Oran (TEO) Dashboardu",
        "description" : "Kontratlardaki teklif eşleşme oran bilgilerinin verildiği Dashboardu.",
        "operationId" : "list-organization-otr-dashboard",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOtrDashboardRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/otr/dashboard/export" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "Teklif Eşleşme Oran (TEO) Raporu",
        "description" : "Kontratlardaki teklif eşleşme oran bilgilerinin verildiği rapor.",
        "operationId" : "list-organization-otr-dashboard-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RegionRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/dashboard/otr/top-ten" : {
      "post" : {
        "tags" : [ "dashboard" ],
        "summary" : "${TOP_TEN_TEO_DASHBOARD}",
        "description" : "${TOP_TEN_TEO_DASHBOARD_NOTE}",
        "operationId" : "list-top-ten-otr-dashboard",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TopTenOtrDashboardReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseTopTenOtrDashboardRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/cancel" : {
      "post" : {
        "operationId" : "IntegrationController_cancelFutureIntegrationSystemProcess_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TpysFutureOperationCancelDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/fetch" : {
      "post" : {
        "operationId" : "IntegrationController_fetchDataToIntegrationSystem_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/IntegrationFetchManualSaveDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/log" : {
      "post" : {
        "operationId" : "IntegrationController_listIntegrationSystemLogs_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/IntegrationSystemLogListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseIntegrationSystemLogDtoRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/log/fetch-data" : {
      "post" : {
        "operationId" : "IntegrationController_listIntegrationSystemFetchLogs_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/IntegrationSystemFetchLogListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseIntegrationSystemLogDtoRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/operation/list" : {
      "get" : {
        "operationId" : "IntegrationController_listTpysFutureOperations_GET",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseTpysFutureOperationRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/save" : {
      "post" : {
        "operationId" : "IntegrationController_saveFutureIntegrationSystemProcess_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TpysFutureOperationSaveDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/send" : {
      "post" : {
        "operationId" : "IntegrationController_sendDataToIntegrationSystem_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/IntegrationSendManualSaveDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/integration/send-data/export" : {
      "post" : {
        "operationId" : "IntegrationController_exportMatchDetailSendData_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/TeiasDataExportDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/integration/send/objection" : {
      "post" : {
        "operationId" : "IntegrationController_sendObjectionToIntegrationSystem_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionSendDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/approve" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Limit Değişiklik Talebi Onaylama Servisi",
        "description" : "Limit Değişiklik Talebi Onaylama Servisi",
        "operationId" : "approve-organization-limit-demand",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandApproveReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/cancel" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Limit Değişiklik Talebi İptal Etme Servisi",
        "description" : "Limit Değişiklik Talebi İptal Etme Servisi",
        "operationId" : "cancel-organization-limit-demand",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/check-waiting" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyonun Onayda Bekleyen Talebi Olup Olmadığını Dönen Servis",
        "description" : "Organizasyonun Onayda Bekleyen Talebi Olup Olmadığını Dönen Servis",
        "operationId" : "check-organization-waiting-demands",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/exist/export" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Limit Talepleri Dışarı Aktarma EPİAŞ",
        "description" : "Organizasyon Limit Talepleri Dışarı Aktarma EPİAŞ",
        "operationId" : "list_exist-organization-limit-demands-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandListExistReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/exist/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Limit Talepleri Listeleme EPİAŞ",
        "description" : "Organizasyon Limit Talepleri Listeleme EPİAŞ",
        "operationId" : "list_exist-organization-limit-demands",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandListExistReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOrganizationLimitDemandExistListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/history/export" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Limit Taleplerinin Geçmişini Export Eden Servis",
        "description" : "Organizasyon Limit Taleplerinin Geçmişini Export Eden Servis",
        "operationId" : "export-organization-limit-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandHistoryExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/history/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Limit Taleplerinin Geçmişini Listeleyen Servis",
        "description" : "Organizasyon Limit Taleplerinin Geçmişini Listeleyen Servis",
        "operationId" : "list-organization-limit-demand-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandHistoryListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOrganizationLimitDemandHistoryListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Limit Talepleri Listeleme",
        "description" : "Organizasyon Limit Talepleri Listeleme",
        "operationId" : "list-organization-limit-demands",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOrganizationLimitDemandListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/save" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Limit Değişiklik Talebi Kaydetme Servisi",
        "description" : "Limit Değişiklik Talebi Kaydetme Servisi",
        "operationId" : "save-organization-limit-demands",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandSaveReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/save-approve" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Limit Değişiklik Gerçekleştirme Servisi",
        "description" : "Limit Değişiklik Gerçekleştirme Servisi",
        "operationId" : "save-and-approve-organization-limit-demand",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitDemandSaveAndApproveReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-demand/status/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Limit Değişiklik Talep Durumu Listeleme Servisi",
        "description" : "Limit Değişiklik Talep Durumu Listeleme Servisi",
        "operationId" : "list-organization-demand-status",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueListResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-upper/history/export" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Üst Limit Geçmişi Export Servisi",
        "description" : "Organizasyon Üst Limit Geçmişi Export Servisi",
        "operationId" : "export-organization-upper-limit-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationUpperLimitHistoryExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-upper/history/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Üst Limit Geçmişi Servisi",
        "description" : "Organizasyon Üst Limit Geçmişi Servisi",
        "operationId" : "list-organization-upper-limit-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationUpperLimitHistoryListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOrganizationUpperLimitHistoryListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-upper/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Üst Limitleri Listeleme Servisi",
        "description" : "Organizasyon Üst Limitleri Listeleme Servisi",
        "operationId" : "get-organization-upper-limits",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationUpperLimitGetDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOrganizationUpperLimitRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization-upper/save" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Üst Limitleri Kaydetme Servisi",
        "description" : "Organizasyon Üst Limitleri Kaydetme Servisi",
        "operationId" : "save-organization-upper-limits",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationUpperLimitSaveDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/organization/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Organizasyon Limitlerini Listeleyen Servis",
        "description" : "Organizasyon Limitlerini Listeleyen Servis",
        "operationId" : "get-organization-limit",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationLimitReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOrganizationLimitRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user-upper/history/export" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Üst Limit Geçmişi Export Servisi",
        "description" : "Kullanıcı Üst Limit Geçmişi Export Servisi",
        "operationId" : "export-user-upper-limit-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserUpperLimitHistoryExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user-upper/history/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Üst Limit Geçmişi Servisi",
        "description" : "Kullanıcı Üst Limit Geçmişi Servisi",
        "operationId" : "list-user-upper-limit-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserUpperLimitHistoryListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseUserUpperLimitHistoryListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user-upper/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Üst Limitleri Listeleme Servisi",
        "description" : "Kullanıcı Üst Limitleri Listeleme Servisi",
        "operationId" : "list-user-upper-limits",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserUpperLimitListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseUserUpperLimitListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user-upper/save" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Üst Limitleri Kaydetme Servisi",
        "description" : "Kullanıcı Üst Limitleri Kaydetme Servisi",
        "operationId" : "save-user-upper-limits",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserUpperLimitSaveReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseUserUpperLimitSaveRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user/history/export" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Limit Geçmişi Export Servisi",
        "description" : "Kullanıcı Limit Geçmişi Export Servisi",
        "operationId" : "export-user-limit-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserLimitHistoryExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user/history/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Limit Geçmişi Servisi",
        "description" : "Kullanıcı Limit Geçmişi Servisi",
        "operationId" : "list-user-limit-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserLimitHistoryListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseUserLimitHistoryListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user/list" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Limitleri Listeleme Servisi",
        "description" : "Kullanıcı Limitleri Listeleme Servisi",
        "operationId" : "list-user-limits",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserLimitListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseUserLimitListRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/limit/user/save" : {
      "post" : {
        "tags" : [ "limit" ],
        "summary" : "Kullanıcı Limitleri Kaydetme Servisi",
        "description" : "Kullanıcı Limitleri Kaydetme Servisi",
        "operationId" : "save-user-limits",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserLimitSaveReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseUserLimitSaveRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/lookup/list" : {
      "post" : {
        "tags" : [ "lookup-detail" ],
        "summary" : "Tanım Parametre Listeleme",
        "description" : "Tanım parametrelerinin listeleneceği servis",
        "operationId" : "list-lookup",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LookupRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLookupResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/lookup/organization/exist/list" : {
      "post" : {
        "tags" : [ "lookup-detail" ],
        "summary" : "Tanım Parametre Listeleme",
        "description" : "Tanım parametrelerinin listeleneceği servis",
        "operationId" : "list-exist-organizations",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/rest/v1/lookup/organization/list" : {
      "post" : {
        "tags" : [ "lookup-detail" ],
        "summary" : "Tanım Parametre Listeleme",
        "description" : "Tanım parametrelerinin listeleneceği servis",
        "operationId" : "list-organizations",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/rest/v1/lookup/region/list" : {
      "post" : {
        "tags" : [ "lookup-detail" ],
        "summary" : "Tanım Parametre Listeleme",
        "description" : "Tanım parametrelerinin listeleneceği servis",
        "operationId" : "list-regions",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/rest/v1/match/by-exist" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Organizasyona ait eşleşme listeleme",
        "description" : "Organizasyona ait eşleşmelerin listelendiği servis",
        "operationId" : "list-matches-by-exist",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchesByEXISTReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchesByEXISTResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/match/by-exist/export" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Organizasyona ait eşleşme listeleme",
        "description" : "Organizasyona ait eşleşmelerin listelendiği servis",
        "operationId" : "export-matches-by-exist",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchesByEXISTExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/match/by-organization" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Organizasyona ait eşleşme listeleme",
        "description" : "Organizasyona ait eşleşmelerin listelendiği servis",
        "operationId" : "list-matches-by-organization",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchesByOrganizationReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchesByOrganizationResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/match/by-organization/export" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Organizasyona ait eşleşme listeleme",
        "description" : "Organizasyona ait eşleşmelerin listelendiği servis",
        "operationId" : "export-matches-by-organization",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchesByOrganizationExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/match/by-participant" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Organizasyona ait eşleşme listeleme",
        "description" : "Organizasyona ait eşleşmelerin listelendiği servis",
        "operationId" : "list-matches-by-participant",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchesByParticipantReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchesByParticipantResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/match/by-participant/export" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Organizasyona ait eşleşme listeleme",
        "description" : "Organizasyona ait eşleşmelerin listelendiği servis",
        "operationId" : "export-matches-by-participant",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchesByParticipantExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/match/hourly/reconciliation" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "GİP Uzlaştırma Raporu",
        "description" : "Saatlik alış-satış tutar ve miktar bilgilerinin verildiği servistir.",
        "operationId" : "list-recon-hourly",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/HourlyReconciliationReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseReconciliationHourlyResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/match/hourly/reconciliation/export" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "GİP Uzlaştırma Raporu Export Servisi",
        "description" : "Saatlik alış-satış tutar ve miktar bilgilerinin verildiği export servisidir.",
        "operationId" : "list-recon-hourly-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/HourlyReconciliationExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/match/match-count/list" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Eşleşme sayısı listesi",
        "description" : "Eşleşme sayısı listesi",
        "operationId" : "list-match-count",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchCountReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchCountRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/match/otr/report" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "Teklif Eşleşme Oran (TEO) Raporu",
        "description" : "Kontratlardaki teklif eşleşme oran bilgilerinin verildiği rapor.",
        "operationId" : "list-organization-otr-report",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OtrReportPaginationReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOtrReportRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/match/otr/report/export" : {
      "post" : {
        "tags" : [ "match-detail" ],
        "summary" : "TEO Raporu",
        "description" : "Teklif Eşleşme Oranı Raporu",
        "operationId" : "list-organization-otr-report-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OtrReportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/menu/change-order" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_changeOrder_POST",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ChangeOrderRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/menu/delete" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_delete_POST",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MenuDeleteRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/menu/get/menu-list" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_getMenuList_POST",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMenuResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/menu/label-list" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_listMenuLabelById_POST",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/rest/v1/menu/list" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_listMenuById_POST",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ListMenuRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMenuListDto"
            }
          }
        }
      }
    },
    "/rest/v1/menu/list-all-menu" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_listAllMenu_POST",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMenuListDto"
            }
          }
        }
      }
    },
    "/rest/v1/menu/org-type/label-list" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_listOrgTypeLabel_POST",
        "produces" : [ "application/json", "application/xml" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseLabelValueDTO"
            }
          }
        }
      }
    },
    "/rest/v1/menu/save-or-update" : {
      "post" : {
        "tags" : [ "menu" ],
        "operationId" : "MenuController_saveOrUpdateMenu_POST",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MenuSaveRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMenuDto"
            }
          }
        }
      }
    },
    "/rest/v1/notifications/create" : {
      "post" : {
        "tags" : [ "announcement" ],
        "summary" : "Sms ve Mail Bildirimi Oluşturma",
        "description" : "Sms ve Mail Bildirimi Oluşturma",
        "operationId" : "create-notification",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SmsMailNotificationReceiverCreateDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSmsMailNotificationReceiverDto"
            }
          }
        }
      }
    },
    "/rest/v1/notifications/delete" : {
      "post" : {
        "tags" : [ "announcement" ],
        "summary" : "Sms ve Mail Bildirimi Silme",
        "description" : "Sms ve Mail Bildirimi Silme",
        "operationId" : "delete-notification",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SmsMailNotificationDeleteReq"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseBooleanDto"
            }
          }
        }
      }
    },
    "/rest/v1/notifications/filter" : {
      "post" : {
        "tags" : [ "announcement" ],
        "summary" : "Sms ve Mail Bildirimleri Filtreleme",
        "description" : "Sms ve Mail Bildirimleri Filtreleme",
        "operationId" : "filter-notification",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SmsMailNotificationReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSmsMailNotificationFilterResDto"
            }
          }
        }
      }
    },
    "/rest/v1/notifications/update" : {
      "post" : {
        "tags" : [ "announcement" ],
        "summary" : "Sms ve Mail Bildirimi Güncelleme",
        "description" : "Sms ve Mail Bildirimi Güncelleme",
        "operationId" : "update-notification",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SmsMailNotificationReceiverUpdateDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseSmsMailNotificationReceiverDto"
            }
          }
        }
      }
    },
    "/rest/v1/objection/admin/export" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz Dışa Aktarım",
        "description" : "itiraz dışa aktarımın yapıldığı servis",
        "operationId" : "objection-export-admin",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionListExportAdminReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/objection/admin/inspection" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz İnceleme",
        "description" : "İtiraz inceleme servisi",
        "operationId" : "get-objection-inspection",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionInspectionReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseObjectionInspectionRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/objection/admin/list" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz Listeleme",
        "description" : "İtirazların listelendiği servis",
        "operationId" : "objection-list-admin",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionListAdminReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseObjectionAdminResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/objection/admin/reply" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz Cevabı",
        "description" : "İtiraz Cevabı",
        "operationId" : "objection-reply-screen",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionReplyReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseObjectionReplyResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/objection/export" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz Dışa Aktarım",
        "description" : "itiraz dışa aktarımın yapıldığı servis",
        "operationId" : "objection-export",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionListExportReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/objection/list" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz Listeleme",
        "description" : "İtirazların listelendiği servis",
        "operationId" : "objection-list",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseObjectionResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/objection/lookup/list" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz Durum Lookup Listeleme",
        "description" : "İtiraz Durum Lookup Listeleme",
        "operationId" : "objection-lookup-list",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionLookupRequestDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseObjectionStatusResponse"
            }
          }
        }
      }
    },
    "/rest/v1/objection/organization/list" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtirazı Olan Organizasyonlaro Listeleme Servisi",
        "description" : "İtirazı olan organizasyonların listelendiği servis",
        "operationId" : "objection-organization-list",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionOrganizationListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseObjectionOrganizationResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/objection/save" : {
      "post" : {
        "tags" : [ "objection" ],
        "summary" : "İtiraz Kaydetme",
        "description" : "Gerçekleşen eşleşmelere ait itirazların yapıldığı servis",
        "operationId" : "objection-save",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ObjectionSaveReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseObjectionSaveResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/exist/buy-offer/depth" : {
      "post" : {
        "tags" : [ "offer-exist" ],
        "summary" : "Alış Teklif Derinliği",
        "description" : "Alış Teklif Derinliği",
        "operationId" : "list-buy-offer-depths",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferDepthsReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOfferDepthsRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/exist/match-offer/detail" : {
      "post" : {
        "tags" : [ "offer-exist" ],
        "summary" : "Eşleşen Teklifler Detayı",
        "description" : "Eşleşen Teklifler Detayı",
        "operationId" : "list-match-offer-detail",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchOfferDetailReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchOfferDetailRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/exist/match-offers" : {
      "post" : {
        "tags" : [ "offer-exist" ],
        "summary" : "Eşleşen Teklifler",
        "description" : "Eşleşen Teklifler",
        "operationId" : "list-match-offers",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchOffersReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchOffersRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/exist/matching/detail" : {
      "post" : {
        "tags" : [ "offer-exist" ],
        "summary" : "Eşleşen Teklifler Detayı",
        "description" : "Eşleşen Teklifler Detayı",
        "operationId" : "list-matching-detail",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MatchingDetailReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseMatchingDetailRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/exist/offer-depth/detail" : {
      "post" : {
        "tags" : [ "offer-exist" ],
        "summary" : "Teklif Derinliği",
        "description" : "Teklif Derinliği",
        "operationId" : "list-offer-depth-detail",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferDepthDetailReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOfferDepthDetailRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/exist/sell-offer/depth" : {
      "post" : {
        "tags" : [ "offer-exist" ],
        "summary" : "Satış Teklif Derinliği",
        "description" : "Satış Teklif Derinliği",
        "operationId" : "list-sell-offer-depths",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferDepthsReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOfferDepthsRespDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/file/template" : {
      "get" : {
        "tags" : [ "offer" ],
        "summary" : "Toplu Teklif Yükleme Excel Şablonu",
        "description" : "Toplu Teklif Yükleme Excel Şablonu",
        "operationId" : "offer-template",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ModelAndView"
            }
          }
        }
      }
    },
    "/rest/v1/offer/history/list" : {
      "post" : {
        "tags" : [ "offer" ],
        "summary" : "Teklif Geçmiş Listeleme",
        "description" : "Tekliflerin üzerindeki değişimlerinin tarihsel olarak listelendiği servis",
        "operationId" : "list-offer-history",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferHistoryReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOfferHistoryResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/list" : {
      "post" : {
        "tags" : [ "offer" ],
        "summary" : "Teklif Listeleme",
        "description" : "Tekliflerin listelendiği servis",
        "operationId" : "list-offers",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferListReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOfferListResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/list/by-exist" : {
      "post" : {
        "tags" : [ "offer" ],
        "summary" : "Teklif Listeleme",
        "description" : "Tekliflerin listelendiği servis",
        "operationId" : "list-offers-by-exist",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OfferListEXISTReqDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RestResponseOfferListResponseDto"
            }
          }
        }
      }
    },
    "/rest/v1/offer/list/by-exist/export" : {
      "post" : {
        "tags" : [ "offer" ],
        "summary" : "Teklif Listeleme",
        "description" : "Tekliflerin listelendiği servis",
        "operationId" : "export-offers-by-exist",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
[...]
