{
    "swagger": "2.0",
    "info": {
        "version": "v1.3.14",
        "title": "transparency-reporting"
    },
    "host": "seffaflik.epias.com.tr",
    "basePath": "/reporting-service",
    "tags": [
        {
            "name": "aof-average-data-controller"
        },
        {
            "name": "market-data-controller"
        },
        {
            "name": "mcp-average-data-controller"
        },
        {
            "name": "reporting-data-controller"
        },
        {
            "name": "reporting-export-controller"
        },
        {
            "name": "smp-average-data-controller"
        },
        {
            "name": "yekdem-data-controller"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/v1/aof-average/data/daily": {
            "post": {
                "tags": [
                    "aof-average-data-controller"
                ],
                "summary": "Epiaş Web Sitesi İçin AOF Günlük Aritmetik Ortalama Listeleme Servisi",
                "description": "Epiaş web sitesinde gösterilmek üzere Güniçi AOF fiyatının seçilen tarihlere göre günlük aritmetik ortalamasını dönen servistir.",
                "operationId": "aof-average-daily-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/AofAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/aof-average/data/default": {
            "post": {
                "tags": [
                    "aof-average-data-controller"
                ],
                "summary": "AOF Aritmetik Ortalama Listeleme Servisi",
                "description": "Gün içi AOF fiyatının seçilen tarihlere göre çeyreklik(QUARTERLY), yarı-yıl(HALF-YEAR) ve yıllık(YEARLY) aritmetik ortalamasını dönen servistir.",
                "operationId": "aof-average-default-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/AofAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/aof-average/data/monthly": {
            "post": {
                "tags": [
                    "aof-average-data-controller"
                ],
                "summary": "AOF Aylık Aritmetik Ortalama Listeleme Servisi",
                "description": "Gün içi AOF fiyatının seçilen tarihlere göre aylık aritmetik ortalamasını dönen servistir.",
                "operationId": "aof-average-monthly-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/AofAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/aof-average/data/weekly": {
            "post": {
                "tags": [
                    "aof-average-data-controller"
                ],
                "summary": "AOF Haftalık Aritmetik Ortalama Listeleme Servisi",
                "description": "Gün içi AOF fiyatının seçilen tarihlere göre haftalık aritmetik ortalamasını dönen servistir.",
                "operationId": "aof-average-weekly-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/AofAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/daily-prices": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Günlük Fiyatlar Verisi Servisi",
                "description": "Günlük Fiyatlar Verisi Servisi",
                "operationId": "daily-prices",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/daily-prices-average": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Günlük Fiyatlar Ortalama Verisi Servisi",
                "description": "Günlük Fiyatlar Ortalama Verisi Servisi",
                "operationId": "daily-prices-average",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarOrtalamaResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/daily-prices-min-max": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Günlük Fiyatlar Min Maks Fiyat Servisi",
                "description": "Günlük Fiyatlar Min Maks Fiyat Servisi",
                "operationId": "daily-prices-min-max",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarGunlukMinMaksResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/daily-prices-min-max-monthly": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Günlük Fiyatlar Aylık Min Maks Fiyat Servisi",
                "description": "Günlük Fiyatlar Aylık Min Maks Fiyat Servisi",
                "operationId": "daily-prices-min-max-monthly",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarMinMaksResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/daily-prices-min-max-yearly": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Günlük Fiyatlar Yıllık Min Maks Fiyat Servisi",
                "description": "Günlük Fiyatlar Yıllık Min Maks Fiyat Servisi",
                "operationId": "daily-prices-min-max-yearly",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarMinMaksResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/daily-report": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Günlük Rapor Listeleme Servisi",
                "description": "Günlük Rapor Listeleme Servisi",
                "operationId": "daily-report",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyReportRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DailyReportResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/dgp-talimat": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "DGP Talimatları Listeleme Servisi",
                "description": "DGP Talimatları Listeleme Servisi",
                "operationId": "dgp-talimat",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DgpTalimatRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DgpTalimatResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/dgp-talimat-agr-ort": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "DGP Talimatları (Ağırlıklı Ortalama) Listeleme Servisi",
                "description": "DGP Talimatları (Ağırlıklı Ortalama) Listeleme Servisi",
                "operationId": "dgp-talimat-agr-ort",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DgpTalimatAgrOrtRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DgpTalimatAgrOrtResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/electricity-market-volume-physically": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Elektrik Piyasa Hacimleri Fiziksel Listeleme Servisi",
                "description": "Elektrik Piyasa Hacimleri Fiziksel Listeleme Servisi",
                "operationId": "electricity-market-volume-physically",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ElektrikPiyasaHacimFizikselRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ElektrikPiyasaHacimFizikselResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/eligible-consumer-and-meter-increases": {
            "get": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Serbest Tüketici ve Sayaç Artış Miktarı Servisi",
                "description": "Serbest Tüketici ve Sayaç Artış Miktarı Servisi",
                "operationId": "eligible-consumer-and-meter-increases",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/SerbestTuketiciSayacArtisResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/gip-kontrat": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Gip Kontrat Listesi Servisi",
                "description": "Gip Kontrat Listesi Servisi",
                "operationId": "gip-kontrat",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GipKontratRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GipKontratResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/idm-contract-summary": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "GİP Kontrat Özeti Listeleme Servisi",
                "description": "GİP Kontrat Özeti Listeleme Servisi",
                "operationId": "idm-contract-summary",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GipKontratOzetRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GipKontratOzetResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/idm-order-list": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "GiP Teklif Listesi Listeleme Servisi",
                "description": "GiP Teklif Listesi Listeleme Servisi",
                "operationId": "idm-order-list",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GipKontratTekliflerRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GipKontratTekliflerResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/mcp-smp-arithmetic-averages": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "SMF ve PTF Aritmetik Ortalamaları Listeleme Servisi",
                "description": "SMF ve PTF Aritmetik Ortalamaları",
                "operationId": "mcp-smp-arithmetic-averages",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SmfPtfAritmetikOrtalamaRequest"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/SmfPtfAritmetikOrtalamaResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/mcp-smp-averages": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "SMF ve PTF Ortalamaları Listeleme Servisi",
                "description": "SMF ve PTF Ortalamaları",
                "operationId": "mcp-smp-averages",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfOrtalamalariRequest"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PtfSmfGunlukAgirlikliOrtalamaResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/periodic-price-averages": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Dönemlik Fiyat Ortalamaları Listeleme Servisi",
                "description": "Dönemlik Fiyat Ortalamaları Listeleme Servisi",
                "operationId": "ptf-smf-periodic-price-averages",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfDonemlikAgirlikliOrtalamaRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PtfSmfDonemlikAgirlikliOrtalamaResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/periodic-price-volume": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Dönemlik Piyasa Hacimleri Listeleme Servisi",
                "description": "Dönemlik Piyasa Hacimleri Listeleme Servisi",
                "operationId": "periodic-price-volume",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PeriodicPriceVolumeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PeriodicPriceVolumeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/ptf-smf-sdf": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "PTF SMF ve SDF Listeleme Servisi",
                "description": "PTF SMF ve SDF Listeleme Servisi",
                "operationId": "ptf-sm-sdf",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfSdfRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PtfSmfSdfResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/smp-mcp-multiple-daytime-avg": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "PTF ve SMF 3 Zamanlı Fiyat Ortalamaları Rapor Listeleme Servisi",
                "description": "PTF ve SMF 3 Zamanlı Fiyat Ortalamaları",
                "operationId": "smp-mcp-multiple-daytime-avg",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfUcZamanliAgirlikliOrtalamaRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PtfSmfUcZamanliAgirlikliOrtalamaResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/data/stsa": {
            "post": {
                "tags": [
                    "reporting-data-controller"
                ],
                "summary": "Serbest Tüketici Sayaç Adeti",
                "description": "Serbest Tüketici Sayaç Adeti",
                "operationId": "Stsa",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StsaRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StsaResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/export/daily-prices": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Günlük Fiyatlar Verisi Dışa Aktarım Servisi",
                "description": "Günlük Fiyatlar Verisi Dışa Aktarım Servisi",
                "operationId": "daily-prices-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/daily-prices-average": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Günlük Fiyatlar Ortalama Verisi Dışa Aktarım Servisi",
                "description": "Günlük Fiyatlar Ortalama Verisi Dışa Aktarım Servisi",
                "operationId": "daily-prices-average-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/daily-prices-min-max": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Günlük Fiyatlar Min Maks Fiyat Dışa Aktarım Servisi",
                "description": "Günlük Fiyatlar Min Maks Fiyat Dışa Aktarım Servisi",
                "operationId": "daily-prices-min-max-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/daily-prices-min-max-monthly": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Günlük Fiyatlar Aylık Min Maks Fiyat Dışa Aktarım Servisi",
                "description": "Günlük Fiyatlar Aylık Min Maks Fiyat Dışa Aktarım Servisi",
                "operationId": "daily-prices-min-max-monthly-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/daily-prices-min-max-yearly": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Günlük Fiyatlar Yıllık Min Maks Fiyat Dışa Aktarım Servisi",
                "description": "Günlük Fiyatlar Yıllık Min Maks Fiyat Dışa Aktarım Servisi",
                "operationId": "daily-prices-min-max-yearly-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GunlukFiyatlarExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/daily-report": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Günlük Rapor Dışa Aktarım Servisi",
                "description": "Günlük Rapor Dışa Aktarım Servisi",
                "operationId": "daily-report-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyReportExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/dgp-talimat": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "DGP Talimatları Dışa Aktarım Servisi",
                "description": "DGP Talimatları Dışa Aktarım Servisi",
                "operationId": "dgp-talimat-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DgpTalimatExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/dgp-talimat-agr-ort": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "DGP Talimatları (Ağırlıklı Ortalama) Dışa Aktarım Servisi",
                "description": "DGP Talimatları (Ağırlıklı Ortalama) Dışa Aktarım Servisi",
                "operationId": "dgp-talimat-agr-ort-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DgpTalimatAgrOrtExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/electricity-market-volume-physically": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Elektrik Piyasa Hacimleri Fiziksel Dışa Aktarım Servisi",
                "description": "Elektrik Piyasa Hacimleri Fiziksel Dışa Aktarım Servisi",
                "operationId": "electricity-market-volume-physically-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ElektrikPiyasaHacimFizikselExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/eligible-consumer-and-meter-increases": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Serbest Tüketici ve Sayaç Artış Miktarı Dışa Aktarım Servisi",
                "description": "Serbest Tüketici ve Sayaç Artış Miktarı Dışa Aktarım Servisi",
                "operationId": "eligible-consumer-and-meter-increases-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SerbestTuketiciSayacArtisExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/idm-contract-summary": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "GİP Kontrat Özeti Dışa Aktarım Servisi",
                "description": "GİP Kontrat Özeti Dışa Aktarım Servisi",
                "operationId": "idm-contract-summary-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GipKontratOzetExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/idm-order-list": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "GiP Teklif Listesi Dışa Aktarım Servisi",
                "description": "GiP Teklif Listesi Dışa Aktarım Servisi",
                "operationId": "idm-order-list-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GipKontratTekliflerExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/mcp-smp-averages": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "SMF ve PTF Ortalamaları Dışa Aktarım Servisi",
                "description": "SMF ve PTF Ortalamaları",
                "operationId": "mcp-smp-averages-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfOrtalamalariExportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/periodic-price-averages": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Dönemlik Fiyat Ortalamaları Listeleme Dışa Aktarım Servisi",
                "description": "PTF SMF ve SDF Listeleme Dışa Aktarım Servisi",
                "operationId": "ptf-smf-periodic-price-averages-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfDonemlikAgirlikliOrtalamaExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/periodic-price-volume": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "Dönemlik Piyasa Hacimleri Dışa Aktarım Servisi",
                "description": "Dönemlik Piyasa Hacimleri Dışa Aktarım Servisi",
                "operationId": "periodic-price-volume-export",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PeriodicPriceVolumeExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/ptf-smf-sdf": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "PTF SMF ve SDF Listeleme Dışa Aktarım Servisi",
                "description": "PTF SMF ve SDF Listeleme Dışa Aktarım Servisi",
                "operationId": "ptf-sm-sdf-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfSdfExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/export/smp-mcp-multiple-daytime-avg": {
            "post": {
                "tags": [
                    "reporting-export-controller"
                ],
                "summary": "PTF ve SMF 3 Zamanlı Fiyat Ortalamaları Rapor Dışa Aktarım Servisi",
                "description": "PTF ve SMF 3 Zamanlı Fiyat Ortalamaları",
                "operationId": "smp-mcp-multiple-daytime-avg-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PtfSmfUcZamanliAgirlikliOrtalamaExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/market/data/avg-mcp-and-renewables-unit-cost": {
            "post": {
                "tags": [
                    "market-data-controller"
                ],
                "summary": "AOPTF ve YEKDEM birim maliyeti listeleme servisi.",
                "description": "EPDK için, AOPTF ve YEKDEM birim maliyeti dönen servistir.",
                "operationId": "aoptf-and-yek-unit-cost-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/AvgMcpAndRenewablesUnitCostResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/mcp-average/data/daily": {
            "post": {
                "tags": [
                    "mcp-average-data-controller"
                ],
                "summary": "Epiaş Web Sitesi İçin GÖP Takas Fiyatı Günlük Aritmetik Ortalama Listeleme Servisi",
                "description": "Epiaş web sitesinde gösterilmek üzere piyasa takas fiyatının seçilen tarihlere göre günlük aritmetik ortalamasını dönen servistir.",
                "operationId": "mcp-average-daily-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/McpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/mcp-average/data/default": {
            "post": {
                "tags": [
                    "mcp-average-data-controller"
                ],
                "summary": "GÖP Piyasa Takas Fiyatı Aritmetik Ortalama Listeleme Servisi",
                "description": "Piyasa takas fiyatının seçilen tarihlere göre çeyreklik(QUARTERLY), yarı-yıl(HALF-YEAR) ve yıllık(YEARLY) aritmetik ortalamasını dönen servistir.",
                "operationId": "mcp-average-default-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/McpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/mcp-average/data/monthly": {
            "post": {
                "tags": [
                    "mcp-average-data-controller"
                ],
                "summary": "GÖP Piyasa Takas Fiyatı Aylık Aritmetik Ortalama Listeleme Servisi",
                "description": "Piyasa takas fiyatının seçilen tarihlere göre aylık aritmetik ortalamasını dönen servistir.",
                "operationId": "mcp-average-monthly-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/McpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/mcp-average/data/weekly": {
            "post": {
                "tags": [
                    "mcp-average-data-controller"
                ],
                "summary": "GÖP Piyasa Takas Fiyatı Haftalık Aritmetik Ortalama Listeleme Servisi",
                "description": "Piyasa takas fiyatının seçilen tarihlere göre haftalık aritmetik ortalamasını dönen servistir.",
                "operationId": "mcp-average-weekly-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/McpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/renewables/data/renewables-unit-cost": {
            "post": {
                "tags": [
                    "yekdem-data-controller"
                ],
                "summary": "Yekdem Birim Maliyeti listeleme servisi",
                "description": "EPDK için, YEKDEM Birim Maliyeti verilerini dönen servistir.",
                "operationId": "renewables-unit-cost-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/RenewablesUnitCostResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/renewables/data/renewables-unit-cost-mcp": {
            "post": {
                "tags": [
                    "yekdem-data-controller"
                ],
                "summary": "Yekdem Birim Maliyeti PTF listeleme servisi",
                "description": "EPDK için, YEKDEM Birim Maliyeti PTF verilerini dönen servistir.",
                "operationId": "renewables-unit-cost-mcp-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/RenewablesUnitCostMcpResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/smp-average/data/daily": {
            "post": {
                "tags": [
                    "smp-average-data-controller"
                ],
                "summary": "Epiaş Web Sitesi İçin SMF Günlük Aritmetik Ortalama Listeleme Servisi",
                "description": "Epiaş web sitesinde gösterilmek üzere sistem marjinal fiyatının seçilen tarihlere göre günlük aritmetik ortalamasını dönen servistir.",
                "operationId": "smp-average-daily-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/SmpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/smp-average/data/default": {
            "post": {
                "tags": [
                    "smp-average-data-controller"
                ],
                "summary": "SMF Aritmetik Ortalama Listeleme Servisi",
                "description": "Sistem marjinal fiyatının seçilen tarihlere göre çeyreklik(QUARTERLY), yarı-yıl(HALF-YEAR) ve yıllık(YEARLY) aritmetik ortalamasını dönen servistir.",
                "operationId": "smp-average-default-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/SmpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/smp-average/data/monthly": {
            "post": {
                "tags": [
                    "smp-average-data-controller"
                ],
                "summary": "SMF Aylık Aritmetik Ortalama Listeleme Servisi",
                "description": "Sistem marjinal fiyatının seçilen tarihlere göre aylık aritmetik ortalamasını dönen servistir.",
                "operationId": "smp-average-monthly-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/SmpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/smp-average/data/weekly": {
            "post": {
                "tags": [
                    "smp-average-data-controller"
                ],
                "summary": "SMF Haftalık Aritmetik Ortalama Listeleme Servisi",
                "description": "Sistem marjinal fiyatının seçilen tarihlere göre haftalık aritmetik ortalamasını dönen servistir.",
                "operationId": "smp-average-weekly-data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BaseStartEndDateRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/reporting-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/SmpAverageResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        }
    },
    "definitions": {
        "AofAverageResponseDto": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AofAverageResponseItemDto"
                    }
                },
                "statistics": {
                    "type": "array",
                    "description": "Listelenen AOF istatistikleri",
                    "items": {
                        "$ref": "#/definitions/AofAverageResponseStatisticsDto"
                    }
                }
            }
        },
        "AofAverageResponseItemDto": {
            "type": "object",
            "properties": {
                "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "İlgili tarih bilgisi"
                },
                "period": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Aritmetik ortalamanın ait olduğu ilgili dönem bilgisi.(İlgili Gün,Ay,vb.)"
                },
                "averageAof": {
                    "type": "number",
                    "description": "Aritmetk Ortalama AOF"
                },
                "periodType": {
                    "type": "string",
                    "description": "Dönem Tipi Bilgisi(Daily, Weekly, Monthly, Yearly)",
                    "enum": [
                        "DAILY",
                        "WEEKLY",
                        "MONTHLY",
                        "YEARLY",
                        "QUARTERLY",
                        "HALF_YEAR"
                    ]
                }
            }
        },
        "AofAverageResponseStatisticsDto": {
            "type": "object",
            "properties": {
                "date": {
                    "type": "string",
                    "format": "date-time"
                },
                "min": {
                    "type": "number"
                },
                "max": {
                    "type": "number"
                },
                "average": {
                    "type": "number"
                },
                "weightedAverage": {
                    "type": "number"
                },
                "summary": {
                    "type": "number"
                }
            }
        },
        "AvgMcpAndRenewablesUnitCostDataDto": {
            "type": "object",
            "properties": {
                "date": {
                    "type": "string",
                    "format": "date-time"
                },
                "aoptf": {
                    "type": "number"
                },
                "yekdemUnitCost": {
                    "type": "number"
                }
            }
        },
        "AvgMcpAndRenewablesUnitCostResponseDto": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AvgMcpAndRenewablesUnitCostDataDto"
                    }
                }
            }
        },
        "BaseStartEndDateRequestDto": {
            "type": "object",
            "required": [
                "endDate",
                "startDate"
            ],
            "properties": {
                "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2021-01-01T00:00:00+03:00",
[...]
