{
    "swagger": "2.0",
    "info": {
        "version": "v1.2.13",
        "title": "transparency-natural-gas"
    },
    "host": "seffaflik.epias.com.tr",
    "basePath": "/natural-gas-service",
    "tags": [
        {
            "name": "announcements-data-controller"
        },
        {
            "name": "markets-general-data-data-controller"
        },
        {
            "name": "markets-general-data-export-controller"
        },
        {
            "name": "markets-sgp-data-controller"
        },
        {
            "name": "markets-sgp-export-controller"
        },
        {
            "name": "markets-vgp-data-controller"
        },
        {
            "name": "markets-vgp-export-controller"
        },
        {
            "name": "transmission-data-controller"
        },
        {
            "name": "transmission-export-controller"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/v1/announcements/data": {
            "post": {
                "tags": [
                    "announcements-data-controller"
                ],
                "summary": "BOTAŞ Duyuruları Listeleme Servisi",
                "description": "BOTAŞ Duyuruları Listeleme Servisi",
                "operationId": "announcements",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AnnouncementsRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/AnnouncementsResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/general-data/data/market-participant": {
            "post": {
                "tags": [
                    "markets-general-data-data-controller"
                ],
                "summary": "Doğal Gaz Piyasa Katılımcıları Listeleme Servisi",
                "description": "Katılımcıların piyasa (SGP, VGP) kayıt durumlarını gösterir.",
                "operationId": "market-participant",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MarketParticipantRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/MarketParticipantResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/general-data/data/participant-list": {
            "get": {
                "tags": [
                    "markets-general-data-data-controller"
                ],
                "summary": "Katılımcı Listesi Servisi",
                "description": "Katılımcı Listesi Servisi",
                "operationId": "participant-list",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ParticipantListResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/general-data/export/market-participant": {
            "post": {
                "tags": [
                    "markets-general-data-export-controller"
                ],
                "summary": "Doğal Gaz Piyasa Katılımcıları Dışa Aktarım Servisi",
                "description": "Katılımcıların piyasa (SGP, VGP) kayıt durumlarını gösterir. Doğal Gaz Piyasa Katılımcıları Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "market-participant-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MarketParticipantExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/data/additional-notifications": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "İlave Dengeleyici Bildirimleri Listeleme Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan işlemler için piyasa katılımcılarına yapılan bildirimleri ifade eder.",
                "operationId": "additional-notifications",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AdditionalNotificationsRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/AdditionalNotificationsResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/balancing-gas-price": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Dengeleme Gazı Fiyatları (DGF) Listeleme Servisi",
                "description": "İlgili gaz gününde İletim Şirketince gerçekleştirilen İlave Dengeleme Alış veya Satış işlemlerinin Ağırlıklı Ortalama Fiyatını gösterir. (*) ile gösterilen fiyatlar kesinleşmemiş fiyatlardır. İlave Dengeleyici Alış Fiyatı (İDAF); İlgili ticaret aralığında iletim şirketinin alış işlemlerinin ağırlıklı ortalamasını, -İlave Dengeleyici Satış Fiyatı (İDSF); İlgili ticaret aralığında iletim şirketinin satış işlemlerinin ağırlıklı ortalamasını, -Dengeleme Gazı Alış Fiyatı (DGAF); İlgili gaz gününe ait dengeleme gazı alış fiyatını, -Dengeleme Gazı Satış Fiyatı (DGSF); İlgili gaz gününe ait dengeleme gazı satış fiyatını ifade eder. *Fiyat: TL/1000 sm3",
                "operationId": "balancing-gas-price",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BalancingGasPriceRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/BalancingGasPriceResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/bast": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Bakiye Sıfırlama Tutarı (BAST) Listeleme Servisi",
                "description": "İletim Şirketi alacak veya borcunun düşülmesinden sonra EPİAŞ'ta kalan ve mevzuata uygun şekilde Katılımcılara Dağıtılacak Tutarı gösterir.",
                "operationId": "bast",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BastRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/BastResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/blue-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "2 Kodlu İşlemler Listeleme Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 2 Kodlu İlave Dengeleyici İşlemlerini ifade eder.",
                "operationId": "blue-code-operation",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpBlueCodeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpBlueCodeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/daily-matched-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Günlük Eşleşme Miktarı Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki gün öncesi ve gün içi eşleşmelerin Toplam Miktarını gösterir. -GÖEM: (G-1 08:00 – G 08:00 ) arasında gerçekleşen eşleşmelerin toplam miktarıdır. -GİEM: (G 08:00) (G+1 08:00 ) arasında gerçekleşen eşleşmelerin toplam miktarıdır. -GEEM: (G+1 08:00- 14:00) arasında gerçekleşen eşleşmelerin toplam miktarıdır. -TOPLAM: Gün öncesi, gün içi ve gün ertesi kontratlarının toplam eşleşme miktarıdır.",
                "operationId": "daily-matched-quantity",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyMatchedQuantityRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DailyMatchedQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/daily-reference-price": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Günlük Referans Fiyatı (GRF) Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında gün öncesi ve gün içi eşleşmelerinin Ağırlıklı Ortalama Fiyatını gösterir. (*) ile gösterilen fiyatlar kesinleşmemiş fiyatlardır. GRF(EUR/MWh), GRF (USD/1000Sm3) ve GRF (USD/MMBtu) değerleri GRF ilan tarihi itibarıyla TCMB tarafından ilan edilmiş en güncel EURTRY & USDTRY döviz alış kuru dikkate alınarak hesaplanmıştır. 1Sm3 = 10,64 kWh",
                "operationId": "daily-reference-price",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyReferencePriceRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DailyReferencePriceResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/daily-trade-volume": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Günlük İşlem Hacmi Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki eşleşmelerin Toplam Tutarını gösterir. GÖİH: (G-1 08:00 G 08:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. GİİH: (G 08:00 G+1 08:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. GEİH: (G+1 08:00 14:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. TOPLAM: Gün öncesi, gün içi ve gün ertesi kontratlarının toplam hacmidir.",
                "operationId": "daily-trade-volume",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyTradeVolumeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/DailyTradeVolumeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/four-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "4 Kodlu İşlemler Listeleme Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 4 Kodlu İlave Dengeleyici İşlemlerini ifade eder.",
                "operationId": "four-code-operation",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpFourCodeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpFourCodeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/gddk-amount": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Geriye Dönük Düzeltme Kalemi (GDDK) Tutarı Listeleme Servisi",
                "description": "Geçmiş dönem faturalarında yapılan geriye dönük düzeltmeler ile yeni faturada oluşan Toplam Alacak veya Borç Tutarını gösterir.",
                "operationId": "gddk-amount",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GddkAmountsRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GddkAmountsResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/green-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "1 Kodlu İşlemler Listeleme Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 1 Kodlu İlave Dengeleyici İşlemlerini ifade eder.",
                "operationId": "green-code-operation",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpGreenCodeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpGreenCodeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/grf-match-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "GRF Eşleşme Miktarı Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki gün öncesi ve gün içi eşleşmelerin Toplam Miktarını gösterir. (*) ile gösterilen eşleşme miktarları kesinleşmemiş eşleşme miktarlarıdır.",
                "operationId": "grf-match-quantity",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GrfMatchQuantityRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GrfMatchQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/grf-trade-volume": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "GRF İşlem Hacmi Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki gün öncesi ve gün içi eşleşmelerin Toplam Tutarını gösterir. G-1 08:00 ile G+1 08:00 arasında gerçekleşen işlemlerin toplam hacmidir.",
                "operationId": "grf-trade-volume",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GrfTradeVolumeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/GrfTradeVolumeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/imbalance-amount": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Dengesizlik Tutarı Listeleme Servisi",
                "description": "Taşıtanların Alış veya Satış ağırlıklı işlemleri sonucu şebekede oluşan dengesizlik için ödemekle yükümlü oldukları Tutarı gösterir. *Uzlaştırmaya esas tahsisat verileri yayınlanmaktadır.",
                "operationId": "imbalance-amount",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpImbalanceAmountRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpImbalanceAmountResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/imbalance-system": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Dengesizlik Sistem Listeleme Servisi",
                "description": "Önceki gaz gününe kıyasla, Şebeke Stok Gazı Miktarında oluşan artış veya azalışı gösterir. Büyükse (+) , küçükse (-) işaretlenir.",
                "operationId": "imbalance-system",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImbalanceSystemRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/ImbalanceSystemResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/last-reconciliation-date": {
            "get": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Sgp Son Uzlaştırma Tarihi Servisi",
                "description": "Sgp Son Uzlaştırma Tarihi Servisi",
                "operationId": "stp-last-reconciliation-date",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpLatestReconciliationDateResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/match-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Toplam Eşleşme Miktarı Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük ve haftalık kontratlardaki eşleşmelerin Toplam Miktarını gösterir.",
                "operationId": "total-match-quantity",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MatchQuantityRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/MatchQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/orange-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "3 Kodlu İşlemler Listeleme Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 3 Kodlu İlave Dengeleyici İşlemlerini ifade eder.",
                "operationId": "orange-code-operation",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpOrangeCodeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpOrangeCodeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/physical-realization": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Fiziki Gerçekleşme Listeleme Servisi",
                "description": "Taşıtanların Alış veya Satış yoluyla, fiziki şebeke noktalarından sisteme eklediği veya çıkardığı Doğal Gaz Miktarını gösterir.",
                "operationId": "physical-realization",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PhysicalRealizationRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/PhysicalRealizationResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/sgp-price": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Fiyatlar Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında ilgili ticaret aralığında gerçekleşen eşleşmelerin Ağırlıklı Ortalama Fiyatını gösterir. Gün Öncesi Fiyatı (GÖF); (G-1 08:00 - G 08:00), Gün İçi Fiyatı (GİF); (G 08:00 – G+1 08:00), Gün Ertesi Fiyatı (GEF); (G+1) (08:00 - 14:00), Ağırlıklı Ortalama Fiyatı (AOF); (G-1 08:00 – G+1 14:00)",
                "operationId": "sgp-price",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpPriceRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpPriceResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/shippers-imbalance-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Dengesizlik Taşıtan Listeleme Servisi",
                "description": "Taşıtanların Alış veya Satış ağırlıklı işlemleri sonucu şebekede oluşan Doğal Gaz Fazlalığı veya Eksikliği Miktarını gösterir. *İlk tahsisat verilerine göre hesaplanmıştır.",
                "operationId": "shippers-imbalance-quantity",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpShippersImbalanceQuantityRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpShippersImbalanceQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/system-direction": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Sistem Yönü Listeleme Servisi",
                "description": "İletim Şirketince ilgili gün için hedeflenen Şebeke Stok Gazı Miktarı değerine kıyasla, gerçekleşen değeri gösterir. Büyükse (+) , küçükse (-) değerlenir. *Uzlaştırmaya esas tahsisat verileri yayınlanmaktadır.",
                "operationId": "system-direction",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SystemDirectionRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/SystemDirectionResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/total-trade-volume": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Toplam İşlem Hacmi Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük ve haftalık kontratlardaki eşleşmelerin Toplam Tutarını gösterir. -GÖİH:(G-1 08:00 - G 08:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. -GİİH:(G 08:00) ile (G+1 08:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. -GEİH: (G+1 08:00 - 14:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. -TOPLAM: Gün öncesi,gün içi ve gün ertesi kontratlarının toplam işlem hacmidir (İlgili kontrata ait toplam işlem hacmidir).",
                "operationId": "total-trade-volume",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TotalTradeVolumeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/TotalTradeVolumeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/transaction-history": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP İşlem Akışı Listeleme Servisi",
                "description": "Spot kontratların Eşleşme Zamanlarını gösterir.",
                "operationId": "transaction-history",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransactionHistoryRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/TransactionHistoryResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/virtual-realization": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Sanal Gerçekleşme Listeleme Servisi",
                "description": "Taşıtanların Alış veya Satış yoluyla, sanal şebeke noktalarından (UDN) sisteme eklediği veya çıkardığı Doğal Gaz Miktarını gösterir. *Uzlaştırmaya esas tahsisat verileri yayınlanmaktadır.",
                "operationId": "virtual-realization",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VirtualRealizationRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/VirtualRealizationResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/weekly-matched-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Haftalık Eşleşme Miktarı Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında haftalık kontratlardaki eşleşmelerin Toplam Miktarını gösterir. HIEM: Hafta içi kontratlarına ait toplam eşleşme miktarıdır. HSEM: Hafta sonu kontratlarına ait toplam eşleşme miktarıdır. HTEM: Hafta tümü kontratlarına ait toplam eşleşme miktarıdır. TOPLAM: Hafta içi, hafta sonu ve hafta tümü kontratlarının toplam eşleşme miktarıdır.",
                "operationId": "weekly-matched-quantity",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WeeklyMatchQuantityRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/WeeklyMatchQuantityResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/weekly-ref-price": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "Haftalık Referans Fiyatı (HRF) Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında haftalık kontratlardaki eşleşmelerin Ağırlıklı Ortalama Fiyatını gösterir. HI: Hafta İçi HS: Hafta Sonu HT: Hafta Tamamı *Fiyat: TL/1000 sm3",
                "operationId": "weekly-ref-price",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpWeeklyRefPriceRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/StpWeeklyRefPriceResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/data/weekly-trade-volume": {
            "post": {
                "tags": [
                    "markets-sgp-data-controller"
                ],
                "summary": "SGP Haftalık İşlem Hacmi Listeleme Servisi",
                "description": "Spot Doğal Gaz Piyasasında haftalık kontratlardaki eşleşmelerin Toplam Tutarını gösterir. HIIH: hafta içi kontratlarına ait toplam işlem hacmidir. HSIH: hafta sonu kontratlarına ait toplam işlem hacmidir. HTIH: hafta tümü kontratlarına ait toplam işlem hacmidir. TOPLAM: Hafta içi, hafta sonu ve hafta tümü kontratlarının toplam işlem hacmidir.",
                "operationId": "weekly-trade-volume",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WeeklyTradeVolumeRequestDto"
                        }
                    },
                    {
                        "name": "TGT",
                        "in": "header",
                        "description": "Required TGT header for authentication. More on: https://seffaflik.epias.com.tr/natural-gas-service/technical/en/index.html#_adding_security_information_to_requests",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "schema": {
                            "$ref": "#/definitions/WeeklyTradeVolumeResponseDto"
                        }
                    },
                    "400": {
                        "description": "Bad request. Please check your request"
                    },
                    "500": {
                        "description": "Unexpected error. Please contact EXIST"
                    }
                }
            }
        },
        "/v1/markets/sgp/export/additional-notifications": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "İlave Dengeleyici Bildirimleri Dışa Aktarım Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan işlemler için piyasa katılımcılarına yapılan bildirimleri ifade eder. İlave Dengeleyici Bildirimleri Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "additional-notifications-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AdditionalNotificationsExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/balancing-gas-price": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Dengeleme Gazı Fiyatları (DGF) Dışa Aktarım Servisi",
                "description": "İlgili gaz gününde İletim Şirketince gerçekleştirilen İlave Dengeleme Alış veya Satış işlemlerinin Ağırlıklı Ortalama Fiyatını gösterir. (*) ile gösterilen fiyatlar kesinleşmemiş fiyatlardır. İlave Dengeleyici Alış Fiyatı (İDAF); İlgili ticaret aralığında iletim şirketinin alış işlemlerinin ağırlıklı ortalamasını, -İlave Dengeleyici Satış Fiyatı (İDSF); İlgili ticaret aralığında iletim şirketinin satış işlemlerinin ağırlıklı ortalamasını, -Dengeleme Gazı Alış Fiyatı (DGAF); İlgili gaz gününe ait dengeleme gazı alış fiyatını, -Dengeleme Gazı Satış Fiyatı (DGSF); İlgili gaz gününe ait dengeleme gazı satış fiyatını ifade eder. *Fiyat: TL/1000 sm3 Dengeleme Gazı Fiyatları (DGF) Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "balancing-gas-price-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BalancingGasPriceExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/bast": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Bakiye Sıfırlama Tutarı (BAST) Dışa Aktarım Servisi",
                "description": "İletim Şirketi alacak veya borcunun düşülmesinden sonra EPİAŞ'ta kalan ve mevzuata uygun şekilde Katılımcılara Dağıtılacak Tutarı gösterir. Bakiye Sıfırlama Tutarı (BAST) Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "bast-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BastExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/blue-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "2 Kodlu İşlemler Dışa Aktarım Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 2 Kodlu İlave Dengeleyici İşlemlerini ifade eder. 2 Kodlu İşlemler Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "blue-code-operation-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpBlueCodeExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/daily-matched-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "SGP Günlük Eşleşme Miktarı Dışa Aktarım Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki gün öncesi ve gün içi eşleşmelerin Toplam Miktarını gösterir. -GÖEM: (G-1 08:00 – G 08:00 ) arasında gerçekleşen eşleşmelerin toplam miktarıdır. -GİEM: (G 08:00) (G+1 08:00 ) arasında gerçekleşen eşleşmelerin toplam miktarıdır. -GEEM: (G+1 08:00- 14:00) arasında gerçekleşen eşleşmelerin toplam miktarıdır. -TOPLAM: Gün öncesi, gün içi ve gün ertesi kontratlarının toplam eşleşme miktarıdır. SGP Günlük Eşleşme Miktarı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "daily-matched-quantity-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyMatchedQuantityExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/daily-reference-price": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Günlük Referans Fiyatı (GRF) Dışa Aktarım Servisi",
                "description": "Spot Doğal Gaz Piyasasında gün öncesi ve gün içi eşleşmelerinin Ağırlıklı Ortalama Fiyatını gösterir. (*) ile gösterilen fiyatlar kesinleşmemiş fiyatlardır. GRF(EUR/MWh), GRF (USD/1000Sm3) ve GRF (USD/MMBtu) değerleri GRF ilan tarihi itibarıyla TCMB tarafından ilan edilmiş en güncel EURTRY & USDTRY döviz alış kuru dikkate alınarak hesaplanmıştır. 1Sm3 = 10,64 kWh Günlük Referans Fiyatı (GRF) Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "daily-reference-price-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyReferencePriceExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/daily-trade-volume": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "SGP Günlük İşlem Hacmi Dışa Aktarım Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki eşleşmelerin Toplam Tutarını gösterir. GÖİH: (G-1 08:00 G 08:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. GİİH: (G 08:00 G+1 08:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. GEİH: (G+1 08:00 14:00) arasında gerçekleşen eşleşmelerin toplam hacmidir. TOPLAM: Gün öncesi, gün içi ve gün ertesi kontratlarının toplam hacmidir. SGP Günlük İşlem Hacmi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "daily-trade-volume-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DailyTradeVolumeExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/four-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "4 Kodlu İşlemler Dışa Aktarım Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 4 Kodlu İlave Dengeleyici İşlemlerini ifade eder. 4 Kodlu İşlemler Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "four-code-operation-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpFourCodeExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/gddk-amount": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Geriye Dönük Düzeltme Kalemi (GDDK) Tutarı Dışa Aktarım Servisi",
                "description": "Geçmiş dönem faturalarında yapılan geriye dönük düzeltmeler ile yeni faturada oluşan Toplam Alacak veya Borç Tutarını gösterir. Geriye Dönük Düzeltme Kalemi (GDDK) Tutarı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "gddk-amount-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GddkAmountsExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/green-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "1 Kodlu İşlemler Dışa Aktarım Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 1 Kodlu İlave Dengeleyici İşlemlerini ifade eder. 1 Kodlu İşlemler Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "green-code-operation-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpGreenCodeExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/grf-match-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "GRF Eşleşme Miktarı Dışa Aktarım Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki gün öncesi ve gün içi eşleşmelerin Toplam Miktarını gösterir. (*) ile gösterilen eşleşme miktarları kesinleşmemiş eşleşme miktarlarıdır. GRF Eşleşme Miktarı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "grf-match-quantity-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GrfMatchQuantityExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/grf-trade-volume": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "GRF İşlem Hacmi Dışa Aktarım Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük kontratlardaki gün öncesi ve gün içi eşleşmelerin Toplam Tutarını gösterir. G-1 08:00 ile G+1 08:00 arasında gerçekleşen işlemlerin toplam hacmidir. GRF İşlem Hacmi Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "grf-trade-volume-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GrfTradeVolumeExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/imbalance-amount": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "SGP Dengesizlik Tutarı Dışa Aktarım Servisi",
                "description": "Taşıtanların Alış veya Satış ağırlıklı işlemleri sonucu şebekede oluşan dengesizlik için ödemekle yükümlü oldukları Tutarı gösterir. *Uzlaştırmaya esas tahsisat verileri yayınlanmaktadır. SGP Dengesizlik Tutarı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "imbalance-amount-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpImbalanceAmountExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/imbalance-system": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Dengesizlik Sistem Dışa Aktarım Servisi",
                "description": "Önceki gaz gününe kıyasla, Şebeke Stok Gazı Miktarında oluşan artış veya azalışı gösterir. Büyükse (+) , küçükse (-) işaretlenir. Dengesizlik Sistem Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "imbalance-system-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImbalanceSystemExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/match-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "SGP Toplam Eşleşme Miktarı Dışa Aktarım Servisi",
                "description": "Spot Doğal Gaz Piyasasında günlük ve haftalık kontratlardaki eşleşmelerin Toplam Miktarını gösterir. SGP Toplam Eşleşme Miktarı Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "total-match-quantity-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MatchQuantityExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/orange-code-operation": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "3 Kodlu İşlemler Dışa Aktarım Servisi",
                "description": "Şebekede oluşan dengesizliği gidermeyi amaçlayan 3 Kodlu İlave Dengeleyici İşlemlerini ifade eder. 3 Kodlu İşlemler Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "orange-code-operation-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpOrangeCodeExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/physical-realization": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Fiziki Gerçekleşme Dışa Aktarım Servisi",
                "description": "Taşıtanların Alış veya Satış yoluyla, fiziki şebeke noktalarından sisteme eklediği veya çıkardığı Doğal Gaz Miktarını gösterir. Fiziki Gerçekleşme Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "physical-realization-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PhysicalRealizationExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/sgp-price": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "SGP Fiyatlar Dışa Aktarım Servisi",
                "description": "Spot Doğal Gaz Piyasasında ilgili ticaret aralığında gerçekleşen eşleşmelerin Ağırlıklı Ortalama Fiyatını gösterir. Gün Öncesi Fiyatı (GÖF); (G-1 08:00 - G 08:00), Gün İçi Fiyatı (GİF); (G 08:00 – G+1 08:00), Gün Ertesi Fiyatı (GEF); (G+1) (08:00 - 14:00), Ağırlıklı Ortalama Fiyatı (AOF); (G-1 08:00 – G+1 14:00) SGP Fiyatlar Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "sgp-price-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpPriceExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/shippers-imbalance-quantity": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Dengesizlik Taşıtan Dışa Aktarım Servisi",
                "description": "Taşıtanların Alış veya Satış ağırlıklı işlemleri sonucu şebekede oluşan Doğal Gaz Fazlalığı veya Eksikliği Miktarını gösterir. *İlk tahsisat verilerine göre hesaplanmıştır. Dengesizlik Taşıtan Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "shippers-imbalance-quantity-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/StpShippersImbalanceQuantityExportRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ModelAndView"
                        }
                    }
                }
            }
        },
        "/v1/markets/sgp/export/system-direction": {
            "post": {
                "tags": [
                    "markets-sgp-export-controller"
                ],
                "summary": "Sistem Yönü Dışa Aktarım Servisi",
                "description": "İletim Şirketince ilgili gün için hedeflenen Şebeke Stok Gazı Miktarı değerine kıyasla, gerçekleşen değeri gösterir. Büyükse (+) , küçükse (-) değerlenir. *Uzlaştırmaya esas tahsisat verileri yayınlanmaktadır. Sistem Yönü Listesini XLSX, CSV ya da PDF olarak dışa aktarır.",
                "operationId": "system-direction-export",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Yapılacak isteğin içeriği.",
                        "required": true,
                        "schema": {
[...]
